.blog{
	font-size: 16px;
}

.blog p, li{
	font-weight: lighter;
}
ol{
	margin-left: 30px;
	margin-bottom: 15px;
}
ol li{
    padding-left: 5px;
}
.back-arrow{
	background:url('/images/back-arrow.png') no-repeat 5px 0;
	margin-left: -30px;
	display: inline-block;
	height: 20px;
	vertical-align: 3px;
	opacity: 0.5;
	width: 20px;
}
.back-arrow:hover{
	opacity: 1;
}
.posts{
	padding-left: 0;
}
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-size: 80%;
}
.posts li .title{
	color: black;
	font-weight: 400;
	font-size: 1.5em;
}

.posts li{
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.posts li:first-of-type{
	padding-top: 0;
}
.posts li p{
	margin-bottom: 10px;
	color: #999;
}
.posts li p:first-of-type {
	margin-top: 10px;
}
.post-content .meta {
	padding-bottom: 20px;
	border-bottom:1px solid #eee;
	color: #aaa;
}
.blog .page-title{
	border-bottom: 0 none;
	margin-bottom: 0;
}
.blog .highlight{
	margin-bottom: 20px;
}
