.help-title {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  background: #4a4a4a;
  background: url(https://www.go.cd/images/help-banner.jpg) no-repeat 0 0;
}

.help-title h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}

@media only screen and (min-width: 715px) {
  .help-title h1 {
    font-size: 70px;
  }
}
.help-row {
  position: relative;
  padding: 20px 0px 20px 0px;
}

@media only screen and (min-width: 715px) {
  .help-row {
    padding: 50px;
  }
}
.help-row h2 {
  text-transform: uppercase;
  font-size: 17px;
  color: #4a4a4a;
  margin: 0 0 10px 40px;
  font-weight:400;

}

@media only screen and (min-width: 715px) {
  .help-row h2 {
    font-size: 34px;
    margin: 0 0 10px 0px;
  }
}
.help-row.gocd-community {
  clear: both;
  border: 0;
}

.numbering {
  position: absolute;
  left: 15px;
  top: 19px;
}




.numbering:before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #8A549B;
  border-radius: 50%;
  background: #fff;
}

@media only screen and (min-width: 715px) {
  .numbering:before {
    width: 50px;
    height: 50px;
  }
}
.numbering span {
  font-size: 18px;
  color: #8A549B;
  position: relative;
  display: block;
  z-index: 1;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

@media only screen and (min-width: 715px) {
  .numbering span {
    font-size: 35px;
      width: 50px;
  height: 50px;
  line-height: 50px;
  }
}
.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 30px 0 0px;
  padding: 0;
}

@media only screen and (min-width: 715px) {
  .cta {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.cta a {
  width: 330px;
  height: 230px;
  padding: 20px;
  border: 2px solid #4a4a4a;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #4a4a4a;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #fff;
  margin-bottom: 30px;
  border-radius:10px;
}

@media only screen and (min-width: 715px) {
  .cta a:first-child {
    margin-right: 40px;
    margin-bottom: 0;
  }
}
.cta a p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.cta a h3 {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
@media only screen and (min-width: 715px) {
  .cta a h3 {
    font-size: 24px;
  }
}

.cta a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #fff;
  text-decoration: none;
  background: #6c6b6c;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #6c6b6c), color-stop(80%, #1b1b1b));
  background: -webkit-linear-gradient(top, #6c6b6c 0%, #1b1b1b 80%);
  background: linear-gradient(to bottom, #6c6b6c 0%, #1b1b1b 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c6b6c', endColorstr='#1b1b1b', GradientType=0);
}

.cta a.padded {
  padding: 40px 20px;
}

.graphics .fa {
  font-size: 22px;
}

.padded .graphics .fa {
  font-size: 40px;
}

.support {
  background: #F1EFEF;
  float: left;
  width: 100%;
  padding: 20px;
}

@media only screen and (min-width: 715px) {
  .support {
    padding: 50px;
  }
}

#support_form_submit_failure{
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #f00;
    padding: 30px;
}
#support_form_submit_failure p{

    color:#f00;
    margin-bottom: 0;
}

#support_form_submit_success{
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #419041;
    padding: 30px;
}
#support_form_submit_success p{
    color:#419041;
    margin-bottom: 0;
}
.support ul {
  list-style-type: circle;
  font-weight: 300;
}

.support a {
  color: #86569a;
}

.support a:hover,
.support a:visited {
  color: #86569a;
}

@media only screen and (min-width: 715px) {
  .support .left {
    padding-right: 30px;
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 715px) {
  .support .right {
    width: 50%;
    float: left;
  }
}
.points {
  width: 100%;
  margin: 30px auto;
}
.points:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 715px) {
  .points {
  width: 77%;

}
}
.actions {
  clear: both;
  text-align: center;
  margin: 20px 0 0;
  float: left;
  width: 100%;
}

.actions a {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
}
@media only screen and (min-width: 715px) {
  .actions a {
    font-size: 15px;
  }
}

.btn-cta {
    clear: both;
    display: block;
    background: #8A549B;
    border: 0;
    color: #fff;
    width: 215px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto 10px;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}

@media only screen and (min-width: 715px) {
  .btn-cta {
    width: 240px;
  }
}
.signup {
  clear: both;
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 30px;
  display: none;
  position: relative;
  text-align: center;
}


  .signup:before{
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 30px;
    border-color: #f1efef transparent transparent transparent;
    top: -1px;
    transform: translateX(-50%);

  }
@media only screen and (min-width: 715px) {
  .signup:before{
   /*border-width: 50px 50px 0 50px;*/
  }
  }

.signup .close {
    position: absolute;
    right: 20px;
    font-weight: bold;
    cursor: pointer;
    background: #ccc;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 31px;
}

.signup h3 {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 22px;
}

@media only screen and (min-width: 715px) {
  .signup h3 {
    font-size: 30px;
  }
}
.signup p {
  text-align: center;
  max-width:400px;
  margin:0 auto 30px;
}

.sub-title {
  text-align: center;
}

.go {
  text-transform: none;
}

.subsection {
  clear: both;
  float: left;
  width: 100%;
  text-align: center;
}

.subsection h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #4a4a4a;
  font-weight: 300;
}
.subsection h3.more-emphasis {
    font-weight: 400;
}
@media only screen and (min-width: 715px) {
  .subsection h3 {
    font-size: 20px;
  }
}

.subsection p {
  font-size: 15px;
  font-weight: 300;
}

.desc {
     font-size: 15px;
    font-weight: 300;
    max-width: 650px;
    text-align: center;
    margin: auto;
}

.foo-links {
  margin-top: 30px;
}
@media only screen and (min-width: 960px) {
  .foo-links {
  margin: 30px auto;
  width:70%;
}
}
.foo-links h5 {
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.foo-links .footer-links a {
  text-decoration: underline;
  font-size: 14px;
}

.foo-links .footer-links a {
  color: #86569a;
  /*margin-right: 20px;*/
}

.foo-links .footer-links a:hover,
.foo-links .footer-links a:visited {
  color: #86569a;
}

.foo-links .footer-links ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 715px) {
  .foo-links .footer-links ul {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

}

.foo-links .footer-links ul li {
  width: 100%;
}
@media only screen and (min-width: 715px) {
.foo-links .footer-links ul li {
  width:auto;
}

}

.signup #support_form input[type="text"] {
  border: 1px solid #ccc;
  height: 30px;
  width: 200px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

@media only screen and (min-width: 715px) {
  .signup #support_form input[type="text"] {
    width: 250px;
    margin-bottom: 15px;
  }
}
.signup #support_form textarea {
  border: 1px solid #ccc;
  height: 70px;
  width: 200px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

@media only screen and (min-width: 715px) {
  .signup #support_form textarea {
    width: 250px;
    margin-bottom: 30px;
  }
}
.signup #support_form button {
  display: block;
    background: #8A549B;
    border: 0;
    color: #fff;
  width: 180px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  margin: 10px auto 10px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

@media only screen and (min-width: 715px) {
  .signup #support_form button {
    width: 240px;
  }
}
.hide-by-default {
  display: none;
}

/* START Don't show "Need Professional Support?" header on this page. */
.need_help .header {
  height: 90px;
}

.need_help .header .support-header {
  display: none;
}

.need_help .header .social-icons, .need_help .header .navigation {
  margin-top: 20px;
}

.need_help .header .title .logo {
  margin-top: 6px;
}

.need_help .page-title {
    margin: 0px;
    border: none;
}
/* END Don't show "Need Professional Support?" header on this page. */



/*style override for help page*/
@media only screen and (min-width: 768px){

.numbering{
  left:10px;
  top:53px;
}
.support .numbering , .gocd-community .numbering{
    top: 50px;
    
}
}
@media only screen and (min-width: 1200px){
.need_help .container-12{
  width:auto;
}
.need_help .container_12{
      margin-left: auto;
    margin-right: auto;
    width: 1020px;
    position: relative;
}
.need_help .container_12:after {
  content: "";
  display: table;
  clear: both;
}


.support .numbering , .gocd-community .numbering{
    top: 3px;
    
}
}
