/*****************************************************************************/

/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
 * {
    margin: 0;
    padding: 0;
}
body {
    font: 14px'Open Sans', sans-serif;
    border-top: 5px solid #86569A;
    line-height: 1.5;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1 {
    font-size: 45px;
    margin:60px 0 40px
}
h2 {
    font-size: 40px;
    margin:50px 0 30px
}
h3 {
    font-size: 30px;
    font-weight: normal;
    margin:25px 0 20px;
}
h4 {
    font-size: 23px;
}
h5 {
    font-size: 20px;
}
h4, h5, h6 {
    margin:25px 0 15px
}
p {
    margin: 1em 0;
}
hr {
    margin-top:20px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid rgba(102, 128, 153, 0.1)
}
p, pre, blockquote {
    margin:0 0 15px
}
blockquote {
    padding:10px 20px;
    margin:0 0 20px;
    border-left:5px solid rgba(102, 128, 153, 0.075)
}
blockquote p {
    font-size:17.5px;
    font-weight:300;
    line-height:1.25
}
blockquote p:last-child {
    margin-bottom:0
}
blockquote small {
    display:block;
    line-height:1.428571429;
    color:#999
}
blockquote small:before {
    content:'\2014 \00A0'
}
a {
    -webkit-transition:background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    transition:background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    color:#2080df;
    text-decoration:none
}
a:hover, a:focus {
    color:#165a9c;
    text-decoration:underline
}
table th, table td {
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-top:1px solid #dddddd
}
p, pre, blockquote {
    margin:0 0 15px;
}
hr {
    margin:30px 0
}
.clearfix:after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
ul, ol {
    padding-left: 15px;
}
li ul{
    margin-bottom: 10px;
}
/*****************************************************************************/

/*
/* Announcements
/*
/*****************************************************************************/
 body {
    /*margin-top:40px; uncomment if you have Announcements*/
}
body.blog {
    margin: 0;
}
.announcements {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    left: 0;
    display: none;
}
.announcements.highlight {
    background: #FFF6E4;
}
/*****************************************************************************/

/*
/* Developer Quick links
/*
/*****************************************************************************/
 .quick-links {
    padding: 0;
    display: block;
    margin-bottom: 10px;
}
.quick-links h4, .code-contribution-process h4, .get-started h4, .road-map h4, .open-issues h4, .contributors h4 {
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 20px;
}
.quick-links li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.quick-links a {
    padding: 10px;
    background: #555;
    color: white;
    border-radius: 3px;
    font-size: 11px;
    text-decoration: none;
    width: 100px;
    display: inline-block;
    height: 80px;
}
.quick-links a:hover {
    background: #666;
}
.quick-links a:before {
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 2px auto;
}
/*****************************************************************************/

/*
/* Page-title
/*
/*****************************************************************************/
 .page-title {
    clear: both;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
}
.page-title h2 {
    margin-top: 10px;
    color: #666;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.page-title h4 {
    margin-top: 0;
    margin-bottom: 0;
}
/*****************************************************************************/

/*
/* Site
/*
/*****************************************************************************/
 .app-mission {
    text-align:center;
    margin-top: 20px 0;
}
.full-width {
    clear: both;
    background: #FFF;
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    padding-top: 0;
    border-right: 0px;
    border-left: 0px;
}
.plugins {
    list-style: none;
    padding:0;
    overflow: auto;
    margin:0;
    clear: both;
}
.plugins .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:10px;
    border-top: 1px solid #ccc;
}
.plugins .more_details {
    font-size: 10px;
}
.plugins .more_details {
    margin-bottom: 10px;
}
.plugins h5 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.plugins li {
    display: inline-block;
    list-style: none;
    margin-bottom: 15px;
    min-height: 190px;
    padding: 10px;
    box-sizing:border-box;
    border: 1px solid #ddd;
    position: relative;
}
.plugins .contribute_tile {
    text-align: center;
    background: #efefef;
    border: 1px dashed #ccc;
}
.community {
    color: #43413E;
    font-size: 1.125em;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5em 0;
}
.community h4 {
    font-weight: 700;
    display: inline-block;
}
.community ul {
    display: inline;
}
.community li {
    list-style: none;
    display: inline-block;
}
.community a {
    margin: 0 1.5em;
    color: #86569A;
    text-decoration: none;
}
.community a:hover {
    color: #000;
    text-decoration: underline;
}
.link-features, .link-ml, .link-bugs {
    display: inline-block;
    padding-left: 44px;
    height: 36px;
    line-height: 36px;
}
.btn-big {
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
    height: 65px;
    background: #86569A;
    padding: 10px 30px;
}
.download.btn-big {
    line-height: 20px;
}
.btn-big:hover {
    text-decoration: none;
    color: white;
    background: #9662AC;
}
.secondary-button {
    border: 2px solid #666;
    background:white;
    color: #333;
}
.secondary-button:hover {
    background: #eee;
    color: #333
}
/*****************************************************************************/

/*
/* Header
/*
/*****************************************************************************/
 .logo {
    margin-left: 0;
}
.fork-me-button {
    position:absolute;
    top:0;
    right:0;
    border:0;
}
.header {
    margin-top: 0;
    overflow: initial;
    height: 120px;
    background: #efefef;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}
.navigation {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
    list-style-type:none;
}
.navigation li {
    float: right;
    position: relative;
    list-style: none;
}
.navigation li a, .navigation li label {
    color: #333;
    font-weight: normal;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 10px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    line-height:25px;
}
.navigation ul li a, .navigation ul li label {
    border-radius: 0;
    padding: 5px 10px;
    margin:5px;
    font-weight: normal;
    text-transform: initial;
}
.navigation li > ul {
    background:white;
    position:absolute;
    list-style-type: none;
    top: 35px;
    margin: 0;
    padding: 0;
    border:2px solid #666;
    border-radius: 5px;
    left:0;
    display: none;
    min-width: 100%;
    z-index: 1;
}
.navigation li.selected > ul, .first-level li:hover > ul {
    display: block;
    list-style: none;
}
.navigation li ul li {
    display: block;
    float: none;
    margin-left: 0;
}
.navigation li ul li a:hover {
    border-radius: 0;
    color: #444;
    background: #eeeeee;
}
.navigation > li a:hover, .navigation li.selected label, .navigation > li label:hover, .navigation li.current > a {
    color: #86569A;
}
.navigation li.current > a {
    font-weight: bold
}
.navigation li a[href^=http]:after {
    font-family:"fontello";
    font-style: normal;
    font-weight: normal;
    content:'\e9c8';
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .3em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .3em;
}
.navigation .second-level {
    left: 100%;
    top: 0;
}
.header a {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.header .social-icons {
    overflow: auto;
    margin-top: 10px;
}
.social-icons-responsive {
    display: none;
    float: right;
}
.header .social-icons li {
    list-style: none;
    float: right;
}
.header .social-icons a {
    font-size: 25px;
    color: #333;
    opacity: 0.6;
    display: inline-block;
    margin-left: 0px;
}
.header .social-icons a:hover {
    opacity: 1;
}
.sub-tagline {
    color: #aaa;
    font-weight: lighter;
}
.banner-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.download-panel {
    text-align: center;
    margin: 20px auto;
    position: relative;
}
.download-panel .or {
    padding: 5px;
    font-size: 1.2em;
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
}
.download-panel .btn-big {
    vertical-align: top;
}
.download-panel .btn-big div {
    line-height: initial;
}
.other-options {
    display: table;
    margin: 0 auto;
}
.other-options li {
    list-style: none;
    margin: 10px;
    display: inline-block;
}
.smaller {
    font-size: 0.5em;
}
.title {
    float: left;
    line-height: inherit;
    font-size: 60px;
    margin:0;
    display: inline-block;
}
.go-users {
    background: #eee;
    margin-top: 30px;
    text-align: center;
}
.title .logo {
    vertical-align: top;
    margin-top: 20px;
}
.feature {
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.feature:nth-child(odd) .grid-5 {
    float: right;
}
.feature img {
    max-width: 100%;
}
.feature .features__title {
    margin-top: 0;
    text-transform: uppercase;
}
.feature p {
    color: #666;
}
.feature_word {
    font-weight: bold;
}
.highlight {
    padding: 10px;
    clear: both;
    overflow: auto;
    background: #eee;
    margin-bottom: 10px;
    border-radius: 5px;
}
.highlight pre {
    margin: 10px 0;
}
.more-feature {
    text-align: center;
    height:25px;
}
.more-feature hr {
    margin:0;
    margin-top: -10px;
}
.more-feature a {
    background: white;
    display: inline-block;
}
/*****************************************************************************/

/*
/* Download
/*
/*****************************************************************************/
 .os .download-plus {
    margin-left: 10px;
    margin-right: 10px;
}
.os a {
    padding: 2px;
    padding-left: 22px;
    background: url('/images/download.png') no-repeat 0 2px;
}
.os__logo {
    background: url('/images/os.png');
    height: 68px;
    float: left;
    width: 68px;
    display: inline-block;
    border-radius: 5px;
}
.os__logo.windows {
    background-position: -10px -10px;
}
.os__logo.mac {
    background-position: -10px -249px;
}
.os__logo.linux-deb {
    background-position: -10px -411px;
}
.os__logo.linux-rpm {
    background-position: -10px -90px;
}
.os__logo.solaris {
    background-position: -10px -170px;
}
.os__logo.zip {
    background-position: -10px -330px;
}
.os__text {
    margin-left: 80px;
}
.os__text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.os tr td {
    vertical-align: middle;
}
.os tr:first-child td {
    font-weight: bold;
}
.os tr:nth-child(odd) {
    background: #eee;
}
.os tr:first-child td {
    background: #ddd;
}
.tiny {
    font-size: 0.7em;
    font-weight:normal;
}
/*****************************************************************************/

/*
/* Contributors
/*
/*****************************************************************************/
 .contributors-list span {
    display: inline-block;
    background: #eee;
    margin: 5px;
    padding: 0 5px;
}
.contributors ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.contributors img {
    height: 30px;
    vertical-align: -10px;
    width: 30px;
    border-radius: 3px;
    margin-right: 10px;
}
.contributors li {
    margin-bottom: 10px;
    width: 50%;
    display: inline-block;
}
.open-issues ul {
    margin-left: 0;
    padding-left: 0;
    margin-right: 20px;
}
.open-issues li {
    list-style: none;
    border-bottom: 1px solid #ddd;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}
.open-issues li small {
    display: block;
    color: #999;
}
.leftnav > li {
    margin-bottom: 15px;
}
.fixedToTop {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: inherit;
}
/*****************************************************************************/

/*
/* Footer
/*
/*****************************************************************************/
 .social-share-icons-title {
    text-align: center;
}
.social-share-icons {
    display: table;
    margin: auto;
    margin-top: 10px;
}
.social-share-icons li {
    list-style: none;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
}
.footer {
    font-size: 80%;
    color: #666;
    padding-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 40px;
    border-top: 4px solid #eee;
    overflow: hidden;
}
.help-us-improve{
    font-size: 1.1em;
    padding-bottom: 10px;
}
*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.smaller-font {
    font-size: 0.8em;
}
