/*****************************************************************************/

/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
 * {
    margin: 0;
    padding: 0;
}
body {
    font: 14px'Open Sans', sans-serif;
    border-top: 5px solid #86569A;
    line-height: 1.5;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h1 {
    font-size: 50px;
    margin:60px 0 40px
}
h2 {
    font-size: 40px;
    margin:50px 0 30px
}
h3 {
    font-size: 30px;
    margin:35px 0 20px
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h4, h5, h6 {
    margin:25px 0 15px
}
p {
    margin: 1em 0;
}
hr {
    margin-top:20px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid rgba(102, 128, 153, 0.1)
}
p, pre, blockquote {
    margin:0 0 15px
}
blockquote {
    padding:10px 20px;
    margin:0 0 20px;
    border-left:5px solid rgba(102, 128, 153, 0.075)
}
blockquote p {
    font-size:17.5px;
    font-weight:300;
    line-height:1.25
}
blockquote p:last-child {
    margin-bottom:0
}
blockquote small {
    display:block;
    line-height:1.428571429;
    color:#999
}
blockquote small:before {
    content:'\2014 \00A0'
}
a {
    -webkit-transition:background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    transition:background-color ease-in-out .15s, color ease-in-out .15s, border-color ease-in-out .15s;
    color:#2080df;
    text-decoration:none
}
a:hover, a:focus {
    color:#165a9c;
    text-decoration:underline
}
table th, table td {
    padding:8px;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-top:1px solid #dddddd
}
p, pre, blockquote {
    margin:0 0 15px;
}
hr {
    margin:30px 0
}
.clearfix:after {
    content:".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
ul, ol {
    padding-left: 15px;
}
/*****************************************************************************/

/*
/* Site
/*
/*****************************************************************************/
 .navigation {
    float: right;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 40px;
}
.navigation li {
    margin-left: 10px;
    float: left;
    list-style: none;
}
.navigation a {
    color: #333;
    border-radius: 5px;
    padding: 8px 15px;
    display: inline-block;
}
.navigation a:hover {
    color: #000;
}
.navigation li.current a {
    background-color: #86569A;
}
.navigation a:hover {
    background-color: #86569A;
}
.navigation li.current a, .navigation li:hover a {
    color: white;
}
.page-title {
    clear: both;
    margin-top: 10px;    
    margin-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 10px;
    color: #aaa;
}
.page-title h2{
    margin-top: 10px;    
    color: #666;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.page-title h4{
    margin-top: 0;
    margin-bottom: 0;
}
/*****************************************************************************/

/*
/* Site
/*
/*****************************************************************************/
 .app-mission {
    text-align:center;
}
.full-width {
    clear: both;
    background: #FFF;
    overflow: hidden;
    width: 100%;
    padding: 10px 0;
    padding-top: 0;
    border-right: 0px;
    border-left: 0px;
}
.community {
    color: #43413E;
    font-size: 1.125em;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5em 0;
}
.community h4 {
    font-weight: 700;
    display: inline-block;
}
.community ul {
    display: inline;
}
.community li {
    list-style: none;
    display: inline-block;
}
.community a {
    margin: 0 1.5em;
    color: #86569A;
    text-decoration: none;
}
.community a:hover {
    color: #000;
    text-decoration: underline;
}
.link-features, .link-ml, .link-bugs {
    display: inline-block;
    padding-left: 44px;
    height: 36px;
    line-height: 36px;
    /*background: url(../img/icon-release.png) no-repeat 0 50%;*/
}
.link-ml {
    /*background: url(../img/icon-ml.png) no-repeat 0 50%; */
}
.link-bugs {
    /*background: url(../img/icon-bugs.png) no-repeat 0 50%; */
}
.btn-big {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    display: inline-block;
    line-height: 40px;
    height: 65px;
    background: #86569A;
    padding: 10px 50px;
}
.download.btn-big {
    line-height: 20px;
}
.btn-big:hover {
    text-decoration: none;
    color: white;
    background: #9662AC;
}
.secondary-button {
    background: #ddd;
    color: #333
}
.secondary-button:hover {
    background: #eee;
    color: #333
}
.header {
    margin-top: 0;
    overflow: auto;
    background: #efefef;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}
.header a {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.sub-tagline {
    color: #aaa;
    font-weight: lighter;
}
.banner-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.download-panel {
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
}
.download-panel .or {
    padding: 5px;
    font-size: 1.2em;
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
}
.download-panel .btn-big {
    vertical-align: top;
}
.download-panel .btn-big div {
    line-height: initial;
}
.smaller {
    font-size: 0.5em;
}
.title {
    float: left;
    line-height: inherit;
    font-size: 60px;
    margin:0;
    display: inline-block;
}
.go-users {
    background: #eee;
    margin-top: 30px;
    text-align: center;
}
.title .logo {
    vertical-align: top;
    margin-top: 20px;
}
.feature {
    border-bottom: 1px solid #efefef;
    padding-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.feature:nth-child(odd) .grid-5 {
    float: right;
}
.feature img {
    max-width: 100%;
}
.feature .features__title {
    margin-top: 0;
    text-transform: uppercase;
}
.feature p {
    color: #666;
}
.feature_word {
    font-weight: bold;
}
.highlight {
    padding: 10px;
    clear: both;
    overflow: auto;
    background: #FFEDC8;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.more-feature {
    text-align: center;
}
.more-feature hr {
    margin:0;
    margin-top: -10px;
}
.more-feature a {
    background: white;
    display: inline-block;
}
/*****************************************************************************/

/*
/* Download
/*
/*****************************************************************************/
 .os__logo {
    background: url('/images/os.png');
    height: 68px;
    float: left;
    width: 68px;
    display: inline-block;
    border-radius: 5px;
}
.os__logo.windows {
    background-position: -10px -10px;
}
.os__logo.mac {
    background-position: -10px -249px;
}
.os__logo.linux-deb {
    background-position: -10px -411px;
}
.os__logo.linux-rpm {
    background-position: -10px -90px;
}
.os__logo.solaris {
    background-position: -10px -170px;
}
.os__logo.zip {
    background-position: -10px -330px;
}
.os__text {
    margin-left: 80px;
}
.os__text h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.os tr td {
    vertical-align: middle;
}
.os tr:first-child td {
    font-weight: bold;
}
.os tr:nth-child(odd) {
    background: #eee;
}
.os tr:first-child td {
    background: #ddd;
}
/*****************************************************************************/

/*
/* Footer
/*
/*****************************************************************************/
 .footer {
    font-size: 80%;
    color: #666;
    padding-top: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-top: 4px solid #eee;
    overflow: hidden;
}
*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
/*****************************************************************************/

/*
/* Media query
/*
/*****************************************************************************/
 @media(max-width: 950px) {
    .navigation {
        float: left;
    }
}
@media only screen and (max-width: 719px) {
    .page-title {
        text-align: center;
        background: #f7f7f7;
        margin:0;
        width: 100%;
        font-size: 30px;
        padding-top:10px;
        margin-bottom: 20px;
    }
}
