.work_update {
    padding: 8px 0;
    margin: 16px 0;
}

.work_update .heading .title {
  font-size: 2em;
  float: none;
  display: block;
  padding-bottom: 10px;
}

.work_update.old .heading .title {
  font-size: 1.5em;
}

.work_update > ul li {
  padding-bottom: 10px;
}

.update {
  padding-top: 16px;
}

.update .title {
  font-size: 1.4em;
  float: none;
  display: block;
  padding-bottom: 10px;
}

.update span.attention {
  color: rgba(215, 73, 73, 0.73);
  font-weight: 600;
}

figure {
  padding: 12px 0;
  text-align: center;
}

figure img.small-image {
  height: 300px;
  width: auto;
}

.note {
  padding-top: 30px;
}

.note .note_title {
  font-weight: bold;
  color: #35AE1A;
}

.issue {
  margin-top: 12px;
}

.issue::before {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 8px;
  padding: 4px 8px;
}

.issue.state_closed::before {
  content: "Closed";
  background-color: rgba(223, 101, 64, 0.78);
}

.issue.state_open::before {
  content: "Open";
  background-color: #6CC644;
}