<div class="col-sm-3 sidebar">
  <nav class="getting-started-nav">
    <h5>Getting started</h5>
    <ul class="verticalnav">
      <li class="dropdown <%= open_nav_at == "part-1" ? "open" : "dropdown-menu" %>">
        <a href="#" class="active">Part 1</a>
        <ul>
          <li><a href="/getting-started/part-1#installation">Installation</a></li>
          <li><a href="/getting-started/part-1#concept1" class="active">
              <strong>Concept 1:</strong>
              Server and agents </a></li>
          <li><a href="/getting-started/part-1#concept2">
              <strong>Concept 2:</strong>
              Pipelines and materials </a></li>
          <li><a href="/getting-started/part-1#concept3">
              <strong>Concept 3:</strong>
              Agent prepares to do some work </a></li>
          <li><a href="/getting-started/part-1#concept4"> <strong>Concept 4:</strong>Stages, jobs and tasks </a></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-2" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 2</a>
        <ul>
          <li><a href="/getting-started/part-2#pipeline_as_material">Using a pipeline as a material</a></li>
          <li><a href="/getting-started/part-2#concept_pipeline_dependency_material"><strong>Concept 5:</strong>  Pipeline Dependency Material </a></li>
          <li><a href="/getting-started/part-2#using_artifacts">Publishing, fetching and using artifacts</a></li>
          <li><a href="/getting-started/part-2#concept_artifact"><strong>Concept 6:</strong>Artifact </a></li>
          <li><a href="/getting-started/part-2#fetching_using_artifacts">Fetching and using artifacts</a></li>
          <li><a href="/getting-started/part-2#concept_ancestor_artifacts"><strong>Concept 7:</strong>Ancestor artifacts and building artifacts only once </a></li>
          <li><a href="/getting-started/part-2#custom_tabs">Custom tabs</a></li>
          <li><a href="/getting-started/part-2#concept_custom_tab"><strong>Concept 8:</strong> Custom tab</a></li>

        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-3" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 3</a>
        <ul>
          <li><a href="/getting-started/part-3#value_stream_map">Value Stream Map (VSM)</a></li>
          <li><a href="/getting-started/part-3#concept_vsm"><strong>Concept 9:</strong>  Value Stream Map </a></li>
          <li><a href="/getting-started/part-3#fan_out_fan_in">Fan-Out and Fan-In</a></li>
          <li><a href="/getting-started/part-3#concept_fan_out_fan_in"><strong>Concept 10:</strong>Fan-Out and Fan-In</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>