<div class="col-sm-3 sidebar">
  <nav class="getting-started-nav">
    <h5>Getting started</h5>
    <ul class="verticalnav">
      <li class="dropdown <%= open_nav_at == "part-1" ? "open" : "dropdown-menu" %>">
        <a href="#" class="active">Part 1</a>
        <ul>
          <li><a href="#installation" data-dest="/getting-started/part-1">Installation</a></li>
          <li><a href="#concept1" data-dest="/getting-started/part-1" class="active">
              <strong>Concept 1:</strong>
              Server and agents </a></li>
          <li><a href="#concept2" data-dest="/getting-started/part-1">
              <strong>Concept 2:</strong>
              Pipelines and materials </a></li>
          <li><a href="#concept3" data-dest="/getting-started/part-1">
              <strong>Concept 3:</strong>
              Agent prepares to do some work </a></li>
          <li><a href="#concept4" data-dest="/getting-started/part-1"> <strong>Concept 4:</strong>Stages, jobs and tasks </a></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-2" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 2</a>
        <ul>
          <li><a href="#pipeline_as_material" data-dest="/getting-started/part-2">Using a pipeline as a material</a></li>
          <li><a href="#concept_pipeline_dependency_material" data-dest="/getting-started/part-2"><strong>Concept 5:</strong>  Pipeline Dependency Material </a></li>
          <li><a href="#using_artifacts" data-dest="/getting-started/part-2">Publishing, fetching and using artifacts</a></li>
          <li><a href="#concept_artifact" data-dest="/getting-started/part-2"><strong>Concept 6:</strong>Artifact </a></li>
          <li><a href="#fetching_using_artifacts" data-dest="/getting-started/part-2">Fetching and using artifacts</a></li>
          <li><a href="#concept_ancestor_artifacts" data-dest="/getting-started/part-2"><strong>Concept 7:</strong>Ancestor artifacts and building artifacts only once </a></li>
          <li><a href="#custom_tabs" data-dest="/getting-started/part-2">Custom tabs</a></li>
          <li><a href="#concept_custom_tab" data-dest="/getting-started/part-2"><strong>Concept 8:</strong> Custom tab</a></li>

        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-3" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 3</a>
        <ul>
          <li><a href="#value_stream_map" data-dest="/getting-started/part-3">Value Stream Map (VSM)</a></li>
          <li><a href="#concept_vsm" data-dest="/getting-started/part-3"><strong>Concept 9:</strong>  Value Stream Map </a></li>
          <li><a href="#fan_out_fan_in" data-dest="/getting-started/part-3">Fan-Out and Fan-In</a></li>
          <li><a href="#concept_fan_out_fan_in" data-dest="/getting-started/part-3"><strong>Concept 10:</strong>Fan-Out and Fan-In</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
