<div class="col-md-3 sidebar">
  <button class="get-start-btn"><i class="fa fa-bars"></i></button>
  <nav class="getting-started-nav">
    <h5>Getting started <span class="close-nav">X</span></h5>

    <ul class="verticalnav">
      <li class="dropdown <%= open_nav_at == "part-1" ? "open" : "dropdown-menu" %>">
        <a href="#" class="active">Part 1</a>
        <ul>
          <li><a href="#" data-section="#installation" data-dest="/getting-started/part-1">Installation</a></li>
          <li><a href="#" data-section="#concept1" data-dest="/getting-started/part-1" class="active">
            <strong>Concept 1:</strong>
            Server and agents </a></li>
          <li><a href="#" data-section="#concept2" data-dest="/getting-started/part-1">
            <strong>Concept 2:</strong>
            Pipelines and materials </a></li>
          <li><a href="#" data-section="#concept3" data-dest="/getting-started/part-1">
            <strong>Concept 3:</strong>
            Agent prepares to do some work </a></li>
          <li><a href="#" data-section="#concept4" data-dest="/getting-started/part-1"> <strong>Concept 4:</strong>Stages, jobs and tasks </a></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-2" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 2</a>
        <ul>
          <li><a href="#" data-section="#pipeline_as_material" data-dest="/getting-started/part-2">Using a pipeline as a material</a></li>
          <li><a href="#" data-section="#concept_pipeline_dependency_material" data-dest="/getting-started/part-2"><strong>Concept 5:</strong>  Pipeline Dependency Material </a></li>
          <li><a href="#" data-section="#using_artifacts" data-dest="/getting-started/part-2">Publishing, fetching and using artifacts</a></li>
          <li><a href="#" data-section="#concept_artifact" data-dest="/getting-started/part-2"><strong>Concept 6:</strong>Artifact </a></li>
          <li><a href="#" data-section="#fetching_using_artifacts" data-dest="/getting-started/part-2">Fetching and using artifacts</a></li>
          <li><a href="#" data-section="#concept_ancestor_artifacts" data-dest="/getting-started/part-2"><strong>Concept 7:</strong>Ancestor artifacts and building artifacts only once </a></li>
          <li><a href="#" data-section="#custom_tabs" data-dest="/getting-started/part-2">Custom tabs</a></li>
          <li><a href="#" data-section="#concept_custom_tab" data-dest="/getting-started/part-2"><strong>Concept 8:</strong> Custom tab</a></li>
        </ul>
      </li>
      <li class="dropdown <%= open_nav_at == "part-3" ? "open" : "dropdown-menu" %>">
        <a href="#">Part 3</a>
        <ul>
          <li><a href="#" data-section="#value_stream_map" data-dest="/getting-started/part-3">Value Stream Map (VSM)</a></li>
          <li><a href="#" data-section="#concept_vsm" data-dest="/getting-started/part-3"><strong>Concept 9:</strong>  Value Stream Map </a></li>
          <li><a href="#" data-section="#fan_out_fan_in" data-dest="/getting-started/part-3">Fan-Out and Fan-In</a></li>
          <li><a href="#" data-section="#concept_fan_out_fan_in" data-dest="/getting-started/part-3"><strong>Concept 10:</strong>Fan-Out and Fan-In</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
