<h4>Security</h4>
<p><b>Important:</b> There are several security fixes to prevent XSS, CSRF and remote execution exploits. We highly recommend this upgrade to keep your GoCD server and agent secure.
</p><h4>Performance</h4>
<p><a href="https://github.com/gocd/gocd/pull/2106">#2106</a> Handle eviction/expiry of composite-keys from GoCache</p>
<h4>Note</h4>
<p>
  A more comprehensive list of changes for this release can be found <a href="https://github.com/gocd/gocd/pulls?q=is%3Apr+milestone%3A%22Release+16.4%22+is%3Amerged">here.</a>
</p>
<h4>Contributors</h4>
<p>
  <strong>Special thanks again to <a href="https://github.com/drrb">drrb</a> for reporting and verifying all of the security vulnerabilities in this release.</strong></p>
<p> Thanks to
  <a href="https://github.com/arvindsv">Aravind SV</a>,
  <a href="https://github.com/aguestuser">Austin Guest</a>,
  <a href="https://github.com/djrice">David Rice</a>,
  <a href="https://github.com/ganeshspatil">Ganesh S Patil</a>,
  <a href="https://github.com/jemarley">Jen Marley</a>,
  <a href="https://github.com/jyotisingh">Jyoti Singh</a>,
  <a href="https://github.com/juhijariwala">Juhi Jariwala</a>,
  <a href="https://github.com/ketan">Ketan Padegaonkar</a>,
  <a href="https://github.com/maheshp">Mahesh Panchaksharaiah</a>,
  <a href="https://github.com/naveenbhaskar">Naveen Bhaskar</a>,
  <a href="https://github.com/rajiesh">Rajiesh Narayanan</a>,
  <a href="https://github.com/icnocop">Rami</a>,
  <a href="https://github.com/varshavaradarajan">Varsha V</a>,
  <a href="https://github.com/wpc">WPC</a>,
  <a href="https://github.com/xli">Xiao Li</a>,
  <a href="https://github.com/zabil">Zabil C.M</a> for making GoCD better!
</p>
