<div class="release-date">Released on 07 Mar, 2016</div>
<p>
  <span class="text-important">Important</span>: 16.2 has been removed from the downloads page because it had an <a href="https://github.com/gocd/gocd/issues/1936">issue</a> which caused problems while installing windows agents.
</p>
<h5>Fixes</h5>
<ul>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1936">Error on windows agent 16.2 update</a>
  </li>
</ul>
