<h4>What's new in GoCD 16.2</h4>
<h5>Features and bug fixes</h5>
<ul>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1808">Select a range of agents by shift-clicking
      checkboxes</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1909">Fix system call to kill processes on agents running
      Java 8</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1898">[Security] When editing SVN, TFS, P4 materials, the
      plain password is printed in html.</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/issues/871">Output environment variables once per job instead
      of per task</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1822">[Performance] Turn off JRuby's invokedynamic on to
      improve performance on servers running Java 8</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/issues/1785">Git material is always cloned if branch is set to
      empty string</a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/issues/1646">[Config] Do not allow blank users in
      "authorization"</a>
  </li>
</ul>
<h4>Note</h4>
<p>
  A more comprehensive list of changes for this release can be found <a href="https://github.com/gocd/gocd/pulls?q=is%3Apr+milestone%3A%22Release+16.2%22">here.</a>
</p>
<h4>Contributors</h4>
<p>
  <a href="https://github.com/arvindsv">Aravind SV</a>,
  <a href="https://github.com/grahamc">Graham Christensen</a>,
  <a href="https://github.com/jyotisingh">Jyoti Singh</a>,
  <a href="https://github.com/juhijariwala">Juhi Jariwala</a>,
  <a href="https://github.com/ketan">Ketan Padegaonkar</a>,
  <a href="https://github.com/maheshp">Mahesh Panchaksharaiah</a>,
  <a href="https://github.com/mrmanc">Mark Crossfield</a>,
  <a href="https://github.com/rajiesh">Rajiesh Narayanan</a>,
  <a href="https://github.com/tomzo">Tomasz Sętkowski</a>,
  <a href="https://github.com/varshavaradarajan">Varsha V</a>,
  <a href="https://github.com/wpc">WPC</a>,
  <a href="https://github.com/xli">Xiao Li</a>,
  <a href="https://github.com/zabil">Zabil C.M</a>
</p>
