**Important:** On Sep 11th, we made an announcement asking users to hold off upgrading to 17.9.0 because of issue (<%= link_to("#3834", "https://github.com/gocd/gocd/issues/#{3834}") %>). This release provides fix for the same. While the issue affects a small number of users, we think it still warrants a new release.

<h4>Critical Bug Fixes</h4>
* <%= link_to_commit '05598d88fd4dabdde1184faa4fbffc5f9406d0dc', 'Unable to start the server after 17.9.0 upgrade', 3834%>

<h4>Other Changes</h4>
* <%= link_to_commit '176ebc26438784f50bbdc013ebc704a3a6cd6c8d', 'No plugins visible after 17.9.0 upgrade', 3829%>


