<h4>Enhancements</h4>
<ul>
  <li>Added capability to create a Task plugin.</li>
</ul>
<h4>Bug Fixes</h4>
<ul>
  <li>Fixed a corner case issue around job reschedule.</li>
  <li>Fixed issue where SVN post-commit hook was not passing along credentials.</li>
  <li>Fixed issue with adding users via UI with a . (dot) in the username.</li>
  <li>Go Agent handles UnknownHostException by substituting host name with a generated name.</li>
  <li>Task running executables in the working directory should now be prefixed with ./.</li>
</ul>
