<div class="release-date">Released on 13 Nov, 2014</div>
<h4>Enhancements</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/pull/190">190</a> - Git post commit hook to trigger Go pipeline.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/271">271</a> - Make card activity gadget work with mingle saas instance.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/185">185</a> - Adding a layer of database connection configurations.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/203">203</a> - Adding verbosity to exception message while loading DatabaseProvider.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/114">114</a> - Move OSX packaging from ant to buildr.
  </li>
</ul>
<h4>Bug Fixes</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/pull/286">286</a> - Go server logs for mac installers are not coming up.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/196">196</a> - Cannot save a job which has colon (:) in its Nant Path.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/223">223</a> - Large artifact fail to upload.</li>
  <li><a href="https://github.com/gocd/gocd/pull/246">246</a> - Pipeline history view flashes for long pipelines.
  </li>
  <li><a href="https://github.com/gocd/gocd/pull/91">91</a> - The pipeline activity page does not show the revision completely even on hovering on it.
  </li>
</ul>
<h4>Others</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/pull/231">213</a> - Removing unused filter code.</li>
</ul>
