<div class="release-date">Released on 24 Dec, 2015</div>
<h4>What's new in GoCD 15.3.1</h4>
<p><span class="text-important">Important</span>: 15.3.1 has been removed from the downloads page because it had an <a href="https://github.com/gocd/gocd/issues/1753">issue</a> which could have caused problems during configuration save. The issue
  mentioned is fixed in 16.1.0. The rest of the issues mentioned below are a part of 16.1.0 as well. We highly recommend upgrading to 16.1.0.</p>
<h5>Important bug fixes in this release -</h5>
<ul>
  <li>
    <a href="https://github.com/gocd/gocd/issues/1743" class="issue-title-link js-navigation-open">
      File handle leak that causes windows agents to not cleanup properly
    </a>
  </li>
  <li>
    <a href="https://github.com/gocd/gocd/pull/1747" class="issue-title-link js-navigation-open">
      Fix OOM on agents when parsing large xml test artefacts
    </a>
  </li>
</ul>
<h4>Note</h4>
<p>
  The comprehensive list of changes for this release can be found <a href="https://github.com/gocd/gocd/pulls?q=is%3Apr+milestone%3A%22Release+15.3.1%22+is%3Aclosed">here.</a>
</p>
