<div class="release-date">Released on 02 Jan, 2015</div>
<h4>New Features</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/issues/719">719</a> - JSON message based Plugin APIs (docs - <a href="https://developer.gocd.org/current/writing_go_plugins/package_material/json_message_based_package_material_extension.html">package</a>,
    <a href="https://developer.gocd.org/current/writing_go_plugins/task/json_message_based_task_extension.html">task</a>)
  </li>
  <li><a href="https://github.com/gocd/gocd/issues/44">44</a> - Revise how new pipelines appear under 'Personalize'. Thanks <a href="https://github.com/mmb">@mmb</a> for the contribution. (<a href="https://docs.gocd.org/14.4.0/navigation/pipelines_dashboard_page.html#personalize-pipelines-view">docs</a>)
  </li>
  <li> <a href="https://github.com/gocd/gocd/pull/699">699</a> - Users can comment on pipeline run history. (<a href="https://docs.gocd.org/current/beta/comment_on_pipeline_run.html">docs</a>)<br/>Note: This feature needs some improvements
    listed <a href="https://github.com/gocd/gocd/issues/707">here</a>. Therefore the feature is turned 'off' for this release. To turn 'on' the feature, see <a href="https://github.com/gocd/gocd/pull/766#issuecomment-66963529">details</a>.
    Thanks <a href="https://github.com/mmb">@mmb</a>, <a href="https://github.com/gajwani">@gajwani</a>,<a href="https://github.com/fkotsian">@fkotsian</a> &amp; <a href="https://github.com/bsnchan">@bsnchan</a>contribution.
  </li>
</ul>
<h4>Bug Fixes</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/issues/716">716</a> - Multiline commit comments don't trigger notifications. Thanks <a href="https://github.com/mythgarr">@mythgarr</a> for the contribution. </li>
  <li><a href="https://github.com/gocd/gocd/issues/360">360</a> - Unable to 'clean working directory' when recursive symlinks are present. Also, improved logging for error scenario. Thanks <a href="https://github.com/mmb">@mmb</a> &amp; <a href="https://github.com/gajwani">@gajwani</a>                for the contribution. </li>
  <li><a href="https://github.com/gocd/gocd/pull/770">770</a> - 'Check connection' for package materials fails in 'new pipeline creation' wizard when there are many other task plugins registered.</li>
</ul>
<h4>Others</h4>
<ul>
  <li><a href="https://github.com/gocd/gocd/pull/688">688</a> - Change command error stream prefix to STDERR. Thanks <a href="https://github.com/mmb">@mmb</a> for the contribution.</li>
  <li><a href="https://github.com/gocd/gocd/pull/769">769</a> - Remove unnecessary logging from test environment. Thanks <a href="https://github.com/hammerdr">@hammerdr</a> for the contribution.</li>
</ul>
