*.gem
*.rbc
.bundle/*
!.bundle/config
coverage
lib/bundler/man
pkg
rdoc
spec/reports
tmp
*.DS_STORE
.cache
build/

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
*.iml
bin/
.rbenv-gemsets
tags
*.swp
*.swo
