*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
.cache
build/

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/
bin/
.rbenv-gemsets
tags
*.swp
*.swo
