@charset "utf-8";

@import "scss/opensans";
@import "font-awesome-sprockets";
@import "font-awesome";


@import "scss/variables";
@import "bootstrap_override";
@import "scss/mixins";
@import "scss/flexbox";
@import "scss/swing";
@import "scss/github-fork-ribbon";

//components
@import "scss/tabs";

@import "scss/general";
@import "scss/navigation";
@import "scss/header";
@import "scss/footer";

//pages

@import "scss/homepage";
@import "scss/plugins";
@import "scss/help";
@import "scss/getting-started";
@import "scss/blog";
@import "scss/downloads";
@import "scss/events";
@import "scss/why-gocd";
@import "scss/subscribe";
@import "scss/partners";
@import "scss/contribute";
@import "scss/videos";
@import "scss/resources";
@import "scss/releases";

@import "scss/innerpages";
