.header {
  margin: 0;
}

.contact-top-cards {

  margin-bottom: 5vh;

  @media (max-width: $screen-md) {
    h1{
      text-align: center;
    }
  }

  .strong {
    @media (max-width: $screen-lg) {
      font-family: $default-font-extra-bold;
    }
  }

  p {
    color: #333333;
    @media (min-width: $screen-lg) {
      font-family: $default-font-normal-bold;
      font-size: 22px;
      margin-top: 25px;
    }
  }

  .contact-marketo {

    .mktoFormRow {

      label[for="Subscription_Enterprise_CD__c"] {
        width: 100% !important;
      }

      input[name="Subscription_Enterprise_CD__c"] {
        width: 5% !important;
      }

      label[for="consent_Privacy_Policy"] {
        width: 90% !important;
        float: right;
      }

      label[for="consent_Privacy_Policy"] ~ div.mktoCheckboxList {
        width: 10px !important;
        margin-left: 20px;
        border: none;
      }

      label[for="Subscription_Enterprise_CD__c"] ~ div.mktoCheckboxList {
        width: 100% !important;
      }

      .mktoGutter {
        display: none;
      }

      .mktoRequiredField .mktoAsterix {
        display: inline;
        float: left;
        padding-left: 0px;
        margin-right: 5px;
      }
    }

    @media (min-width: $screen-md) {
      margin-top: 50px;
    }
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;

  padding: 4vh 0 10vh 0;

  background-image: url("/assets/images/contact-section-background.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center top;

  h1 {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 4vh;
  }

  h2 {
    margin: 0;
    font-family: $default-font-extra-bold;
    font-size: 26px;
  }

  h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: $default-font-normal-bold;
    margin: 0;
    padding-top: 10px;
  }

  .contact-wrap {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1200px;

    h1, h2, h3 {
      color: $light;
    }


    .contact-card {

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      min-width: 300px;
      height: auto;
      margin: 10px;


      .contact-card-header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }

      .sales-portrait {

        width: 140px;
        height: 140px;

        margin: 10px 0;

        border-radius: 50%;
        border: 2px solid $mobile-border-color;

      }
    }
  }
}
