.enterprise-page {

    @import 'enterprise/enterprise_variables';
    @import 'enterprise/utilities';
    @import 'enterprise/overview';
    @import 'enterprise/features';
    @import 'enterprise/support';
    @import 'enterprise/plugins';
    @import 'enterprise/contact';

    .enterprise-marketo-style {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mktoForm {
            width: 80% !important;
        }
        .mktoFormCol {
            width: 100% !important;
        }
        .mktoFieldWrap {
            width: 100% !important;
        }
        .mktoButtonWrap {
            margin-left: 0 !important;
            width: 100%;
        }
        .mktoButtonRow {
            width: 100%;
        }
        .mktoFormRow {
            margin: 0;
            input,
            select {
                outline: none;
                box-shadow: none;
                border: 1px solid #979797;
                background: transparent;
                border-radius: 6px;
                padding: 10px 20px;
                width: 100% !important;
            }
            @media (min-width: $screen-md) {
                margin: 0;
            }
        }
        .mktoField {
            border-radius: 3px;
            box-shadow: none;
            outline: none;
            padding: 5px;
            width: 100% !important;
        }
        .mktoLabel {
            font-family: $default-font-normal-bold !important;
            font-size: 16px;
            text-transform: uppercase;
        }
        .mktoButton {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $brand-secondary;
            font-family: $default-font-normal-bold !important;
            font-size: 22px;
            text-transform: uppercase;
            width: 100%;

            &:focus {
                outline: 0;
            }
            &:hover {
                opacity: 0.8;
                outline: 0;
            }

            &:active {
                background: #36b1bf;
                color: #FFFFFF;
            }
        }
        .mktoLabel {
            font-family: $default-font-normal-bold !important;
            font-size: 16px;
            text-transform: uppercase;
        }
        .cf_sign_on {
            display: none;
        }
        .mktoButton {
            background: $brand-secondary;
            border: none;
            display: block;
            margin: 5% auto !important;
            font-family: $default-font-normal-bold !important;
            font-size: 22px;
            text-transform: uppercase;
            width: 150px;
            height: 51px;
            @media (min-width: $screen-lg) {
                width: 322px;
            }
        }
        .mktoForm.mktoLayoutAbove .mktoField,
        .mktoForm.mktoLayoutAbove .mktoLogicalField {
            border: 1px solid #ccc;
        }
    }
    .enterprise-addons-keypoints {
        padding: 0;
        padding-left: 16px;
    }

    .pricing-page-text {

        text-align: center;

        @media (min-width: $screen-md) {
            max-width: 50vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.addon-feature-section {
    margin: 30px 0;
    @media(min-width: $screen-xl) {
 margin:50px 0;
    }
}


.button-brand.btn-addons {
    @media (max-width: $screen-md-min) {
        width: 275px;
    }
}
