//Colors
$success: #BDD350;
$failure: #E74C3C;
$warning-light: #FFD34E;
$warning-dark: #F48E36;
$brand-primary: #94399E;
$brand-secondary: #4AD9D9;
$brand-shade: #36B1BF;
$dark-primary: #25282D;
$dark-secondary: #1B1D21;
$dark-button-color:  #1C425C;
$light: #FFFFFF;
$dark: #000;
$mobile-border-color: #979797;
 
//Font Styles
$default-font-extra-bold: 'URWGeometric-ExtraBold';
$default-font-normal-bold: 'URWGeometric-Semibold';
$default-font-normal: 'URWGeometric-Medium';

h1 {
  font-family: $default-font-extra-bold;
  font-size: 40px;

  @media (max-width: $screen-md) {
    font-size: 30px;
  }
}

h2 {
  font-family: $default-font-extra-bold;
  font-size: 30px;

  @media (max-width: $screen-md) {
    font-size: 24px;
  }
}

h3 {
  font-family: $default-font-normal-bold;
  font-size: 30px;

  @media (max-width: $screen-md) {
    font-size: 22px;
  }
}

p {
  font-family: $default-font-normal;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $screen-md) {
    font-size: 14px;
  }
}

//default padding and margin

$container_padding_xl_desktop: 100px;
$container_padding_mobile: 5px;
$container_padding_tablet_desktop: 50px;

// custom grid columns

$three-column: (
  columns: 3,
  gutter: 0,
  media: "(min-width: $screen-md)"
);

$four-column: (
  columns: 4,
  gutter: 0px,
  media: 1200px
);

$six-column: (
  columns: 2,
  gutter: 0px,
  media: 1200px
);

$single-column: (
  columns: 1,
  gutter: 0,
);

$five-column: (
  columns: 5,
  // gutter: 3rem,
);