.feature-section {
  margin-bottom: 1em;
  margin-top: 3em;

  h1 {
    text-align: center;
  }

  .feature-row {

    margin-bottom: 2em;

    .feature {

      text-align: center;

      h3 {
        text-align: center;
        font-family: 'URWGeometric-Semibold';
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .illo {
        height: 160px;
        width: auto;
        margin: auto;
      }

      p {
        text-align: justify;
      }

      @media (max-width:767px) {

        margin-bottom: 1em;

        h3 {
          font-size: 24px;
          margin-bottom: .5em;
        }

        .illo {
          height: 100px;
        }

        p {
          padding-left: 2em;
          padding-right: 2em;
          padding-bottom: 1em;
        }
      }
    }
  }
}
