.enterprise-banner {
    background-size: cover;
    background: url("../../assets/images/campaign/enterprise/ccoal_bkgd.jpg");
    position: static;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-md) {
        padding-top: 40px;
    }
        
    padding-top: 20px;

    .enterprise-banner-content {

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: $default-font-extra-bold;
            color: $light !important;
            font-family: $default-font-extra-bold;
            font-size: 2em;
            line-height: .9em;
            text-align: center;
            @media(min-width: $screen-sm) {
                font-size: 2em;
                margin: 0;
            }
            @media(min-width: $screen-md) {
                font-size: 3em;
                margin: 0 6%;
            }
            @media(min-width: $screen-xl) {
                font-size: 4em;
                margin: 0;
            }
            .highlight {
                color: $brand-secondary;
            }
        }
        .break {
            display: block;
        }
    }
}

.enterprise-intro {
    padding: 30px;
    @media(min-width: $screen-md) {
        text-align: center;
    }
    @media(min-width: $screen-xl) {
        padding:30px 100px;

                }
}

.features {
    .features-wrap {
        overflow: hidden;
        @media (min-width: $screen-md) {
            display: flex;
        }
        .feature-card {
            margin: 0 0 30px;
            overflow: hidden;
            @media (min-width: $screen-md) {
                width:33.3%;
                padding: 0 15px;
            }
            .feature-card-title {
                
                text-align: center;
                
                @media (max-width: $screen-md-min) {
                    float: left;
                    width: 80%;
                    text-align: left;
                    margin-left: 70px;
                    padding: 0;
                }
                font-size: 17px;
                margin-bottom: 10px;
                font-family: $default-font-normal-bold;
                margin-bottom: 10px;
                text-transform: capitalize;
                @media (min-width: $screen-lg) {
                    font-size: 22px;
                }
                }
                .feature-card_img {
                    @media (max-width: $screen-md-min) {
                        width: 50px;
                        float: left;
                        clear: left;
                    }
                    @media (min-width: $screen-md) {
                        width: 80%;
                        display: block;
                        margin: 20px auto;
                    }
                }
                .feature-card_txt {
                    text-align: justify;
                    @media (max-width: $screen-md-min) {
                        padding: 0 0 0 20px;
                        float: left;
                        width: 80%;
                    }
                    @media ( min-width:$screen-md) {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .feature-cta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .button-brand {
            font-size: 18px;
            width: 100%;
            margin: 20px auto;
            @media (min-width: $screen-md) {
                font-size: 20px;
                width: 320px;
            }
        }
    }

    .btn-light {
        background: transparent;
        border: 1px solid $secondary-color;
        transition: all 0.25s;

        &:hover {
            background: $secondary-color;
        }
    }

    .enterprise-customers {
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .flex-item {
                margin: 10px 5px;
                width: 40%;
                @media (min-width: $screen-lg) {
                    width: 20%;
                }
            }
        }
    }