.plugins-section {
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    .plugins-row {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .plugin-text {
        padding: 0 1em 1em 1em; // border: 1px solid red;
    }
    @media(max-width: 991px) {
        .plugin-text {
            padding: 0 2em 1em 2em;
        }
    }
    .plugin-link {
        text-align: center;
        a {
            font-family: 'URWGeometric-Semibold';
            align-items: center;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.enterprise-campaign {
    .plugin-link {
        a {
            margin: 30px 0;
            display: inline-block;
        }
    }
}