.support-banner-area{

  @media (min-width: $screen-lg){
    margin-bottom: 50px;
  }

}

.support-section{
  margin-top: 50px;
}

.support-marketo {

  .mktoFormRow {

    label[for="surveySTWhatwouldyouliketohearabout"] {
      width: 100% !important;
    }

    label[for="surveySTWhatwouldyouliketohearabout"] ~ div.mktoCheckboxList {
      width: 100% !important;
    }

     input[name="surveySTWhatwouldyouliketohearabout"] {
      width: 5% !important;
    }

    label[for="consent_Privacy_Policy"] {
      width: 90% !important;
      float: right;
    }

    label[for="consent_Privacy_Policy"] ~ div.mktoCheckboxList {
      width: 10px !important;
      margin-left: 20px;
      border: none;
    }

    .mktoGutter {
      display: none;
    }

    .mktoRequiredField .mktoAsterix {
      display: inline;
      float: left;
      padding-left: 0px;
      margin-right: 5px;
    }
  }

  @media (min-width: $screen-md) {
    margin-top: 50px;
  }
}

.support-quote {
  text-align: left;
  hyphens: auto;
}

.support-author {
  text-align: left;
  font-family: $default-font-normal-bold;
}

.author-image {
  border-radius: 50%;

}
