$dark-text-color: #25282D;
$signup-button-bg: #4ad9d9;
.support-banner-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $screen-lg) {
    padding: 40px 0;
  }
}

.centered-content_header_dark {
  color: $dark-text-color;
}

.banner-centered-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.centered-content_header {
  text-align: center;
  font-weight: bold;
  margin: 20px auto 0px;
  font-size: 24px;
  font-weight: normal;
  @media (min-width: $screen-md) {
    font-size: 30px;
    margin: 55px auto 0px;
    text-align: left;
    width: 100%;
  }
  @media (min-width: $screen-lg) {
    font-size: 40px;
    margin: 55px auto 10px;
    text-align: center;
  }
}

.content-description {
  width: 100%;
  display: block;
  margin: 25px auto 0px;
  @media (min-width: $screen-lg) {
    width: 60%;
    margin: 28px auto 0px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    line-height: 1.5;
    @media (min-width: $screen-md) {
      font-size: 18px;
    }
    @media (min-width: $screen-lg) {
      font-size: 22px;
    }
  }
}

.description-list {
  margin: 0 20px;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  @media (min-width: $screen-md) {
    font-size: 18px;
  }
  @media (min-width: $screen-lg) {
    font-size: 22px;
  }
}

.support-banner-cta {
  margin: 20px auto;
  text-transform: uppercase;
  background: $signup-button-bg;
  @media (min-width: $screen-md) {
    margin: 30px auto;
  }
}

.ent-support-card {
  display: flex;
  flex-wrap: wrap;
}

.ent-support-card_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto 10px;
  @media (min-width: $screen-lg) {
    width: calc(100%/2 - 50px);
    margin: 30px 25px;
  }
}

.card-image {
  width: 145px;
  height: 145px;
  img {
    border-radius: 50%;
  }
  @media (max-width: $screen-md-min) {
    display: block;
    margin: 0 auto;
  }
}

.card-description {
  width: 100%;
  padding: 20px;
  @media (min-width: $screen-md) {
    width: 65%;
    padding: 0 20px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    @media (min-width: $screen-lg) {
      font-size: 18px;
    }
  }
}

.card-author {
  font-size: 16px;
  font-weight: bold;
  @media (min-width: $screen-lg) {
    font-size: 18px;
  }
}

.form-header {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin: 30px auto;
}

.head-butt-avoider {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

// Marketo Form Styling
.contact-form {
  margin-bottom: 150px;
  #mktoForm_9095 {
    width: auto;
    @media (min-width: $screen-lg) {
      width: 65%;
    }
  }
  textarea {
    width: 100% !important;
    height: 100px !important;
    &::placeholder {
      font-size: 16px;
      font-style: oblique;
    }
  }
  .mktoTextField,
  .mktoEmailField,
  select {
    height: 50px;
    &::placeholder {
      font-size: 16px;
      font-style: oblique;
    }
  }
  select {
    border-radius: 0px !important;
    margin: 0 !important;
    font-size: 16px;
    font-style: oblique;
    color: #767676;
  }
  .mktoCheckboxList input[type="checkbox"] {
    display: inline !important;
  }
  .mktoButton {
    display: block;
    margin: 30px auto;
    width: 240px;
    height: 50px;
    border-radius: 2px;
    background: #4AD9D9 !important;
    line-height: 18px;
    border: 1px solid #4AD9D9 !important;
    color: #000 !important;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.25s;
    font-size: 18px !important;
    &:hover {
      background: #6ee0e0 !important;
    }
  }
  .mktoFormRow:nth-child(5),
  .mktoFormRow:nth-child(12),
  .mktoFormRow:nth-child(13) {
    .mktoFormCol {
      width: 100% !important;
    }
  }
  .mktoFormRow:nth-child(13) {
    display: flex;
    .mktoFormCol:nth-child(1) {
      width: 40px !important;
    }
    .mktoFormCol:nth-child(2) {
      width: 400px;
      padding-left: 8px;
      font-weight: bold;
      @media (min-width: $screen-md) {
        width: 470px;
        text-indent: -10px;
      }
      @media (min-width: 480px) {
        padding-left: 5px;
        text-indent: 0px;
      }
      .mktoHtmlText {
        width: 100% !important;
      }
    }
    .mktoFormCol {
      .mktoFormCol:nth-child(2) {
        margin-top: 4px;
      }
    }
  }
  .mktoForm .mktoGutter {
    height: 2.2em;
  }
}

// Noscript Stlyes
.error-msg-container {
  border: 1px solid red;
  color: red;
  padding: 20px;
}

.error-msg_text {
  font-size: 18px;
  line-height: 1.5;
}
