// All the Utility classes go here
// For Example : button general Styling, Margins, Text Styling for header, Paragraph
// All the styling are written as Sass generators which can be extended
// Guidelines to add further styles: 
// 1. Follow alphabetical order in the writing styles
// 2. Nest the style's in if only required at most
// 3. Use more generic classnames
// 4. Follow BEM model in writing styles


.text-center {
    text-align: center;
}

.highlight {
    color: #4ad9d9;
}

.grid-container {
    @include grid-container;
    // margin-right: -15px;
    // margin-left: -15px;
    // margin-top: 15px;
    // margin-bottom: 15px;
}

.content-card-three-column {


    @include grid-column(1, $single-column);
        padding-left: 15px;
        padding-right: 15px;
    
    @media (min-width: $screen-md) {
        @include grid-column(1, $three-column);
    }
}

.content-card-four-column {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $screen-md) {
        @include grid-column(1, $single-column);
    }
    @include grid-column(1, $four-column);
}

.content-card-five-column {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 747px) {
        @include grid-column(1, $six-column);
    }
    @include grid-column(1, $five-column);
}

.content-card-six-column {

    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: $screen-md) {
        @include grid-column(1, $single-column);
    }
    @include grid-column(1, $six-column);
}

.img-container {
    display: block;
    margin: 20px auto;
    width: 80%;
}

.img-rounded {
    border-radius: 50%;
}

.img-rounded_bordered {
    border-radius: 50%;
    border: 2px solid $mobile-border-color;
}

.secondarynav {
    background: $dark-primary;
    position: fixed;
    width: 100%;
    z-index: 11;
    .level0 {
        display: flex;
        margin: 0 auto;
        list-style: none;
        padding: 10px;
        width: 53%;
        justify-content: space-around;
        li {
            a {
                color: $light;
                font-family: $default-font-normal-bold;
                font-size: 20px;
                padding: 10px;
                transition: all 0.25s;
                &:hover {
                    color: $brand-secondary;
                }
            }
        }
    }
    @media(min-width: $screen-md-min) and (max-width: $screen-lg) {
        .level0 {
            width: 70%;
        }
    }
}

.button-brand {
    background: $brand-secondary;
    color: $dark;
    display: block;
    font-family: $default-font-normal-bold;
    line-height: 0.2;
    margin: 0 auto;
    padding: 30px; 
    margin: 20px auto 50px auto;
    font-size: 16px;
    width: auto;
    border: 0;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    text-transform: capitalize;
    &:active {
        background: #36b1bf;
        color: #FFFFFF;
        outline: 0;
    }
    
    &:hover {
        opacity: 0.8;
        outline: 0;
    }

    &:focus {
      outline: 0;
    }

    @media(min-width: $screen-md) {
        height: 37px;
        font-size: 22px;
        width: 424px;
        margin: 40px auto 40px auto;
    }
}

.brand-button__small {
    width: auto;
    height: 38px;
    font-size: 10px;
    background: $brand-secondary;
    font-family: $default-font-extra-bold;
    color: $dark;
    padding: 10px;
    text-transform: uppercase;
}

.custom-table {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    th {
        text-transform: uppercase;
    }
    tbody {
        tr:nth-child(odd) {
            background: #f9f9f9;
        }
        td {
            padding: 10px;
            vertical-align: middle;
        }
    }
    @media (max-width: $screen-md) {
        th {
            font-family: $default-font-normal-bold;
            font-size: 14px;
        }
    }
}

.header-padding {
    @media (min-width: $screen-md) {
        padding-top: $container_padding_tablet_desktop;
        margin: 4% 0 5% 0;
    }
}

.mobile-header {
    @media (max-width: $screen-md) {
        font-size: 22px;
    }
}

.mobile-section-title {
    @media (max-width: $screen-md) {
        text-align: left;
        font-size: 22px;
        padding: 0 10px;
    }
}

.default-link-text {
    /* border-bottom: 2px solid $dark-secondary; */
    color: $dark;
    display: block;
    font-size: 18px;
    font-family: $default-font-extra-bold;
    margin: 20px auto;
    padding-bottom: 5px;
    text-transform: capitalize;
    text-decoration: underline;
}

.mobile-border {
    background-color: $mobile-border-color;
    display: none;
    margin: 50px auto;
    height: 3px;
    width: 90%;
    @media (max-width: $screen-md) {
        display: block;
    }
}

.display-desktop {
    display: block;
    @media (max-width: $screen-md) {
        display: none;
    }
}

.display-mobile {
    display: none;
    @media (max-width: $screen-md) {
        display: block;
    }
}

.justified-content {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.page-bottom-margin {
    height: 10vh;
}

.general-terms {

    .section2 {

        .inner {
          padding: 3vh 0 5px 3vh;

          .title {
            font-weight: bold;
          }

          a {
            overflow-wrap: break-word;
          }

          ol {
            counter-reset: section;
            list-style-type: none;

            li {
              position: relative;
            }

            li::before {
              counter-increment: section;
              position: absolute;
              right: 100%;
            }

            &.level1 > li::before {
              content: counters(section,".") ".";
            }

            &.level2 > li::before {
              content: counters(section,".") " ";
            }

            &.level1 > li {
              margin-top: 2em;
            }

            &.level1 > li::before {
              // font-size: $title_size;
              margin-right: 10px;
            }

            &.level2 {
              margin-left: 2em;
              margin-top: 1em;

              li {
                padding-left: 8px;
                padding-bottom: 5px;
              }

              .level3 {
                margin-left: 2em;
                margin-top: 1em;
              }
            }

            .title {
              width: 100%;
            
            }

            strong {
              font-weight: bold;
            }
          }

          .services {
            padding-bottom: 2em;

            .header {
              font-weight: bold;
              margin-top: 1em;

              &.row {
                border-bottom: 2px solid black;
              }
            }

            .row {
              border-bottom: 1px solid #CCC;

              text-align: left;
              padding: 12px 0;
            }

            .level {
              font-weight: bold;
            }

            .premium {

            }
          }
        }
    }
}

.eula {
     .section2 {

    .inner {

    .title {
        font-weight: bold;
    }

      padding: 3vh 0 5px 3vh;


      a {
        overflow-wrap: break-word;
      }

      ol {
        counter-reset: section;
        list-style-type: none;

        li {
          position: relative;
        }

        li::before {
          counter-increment: section;
          position: absolute;
          right: 100%;
        }

        &.level1 > li::before {
          content: counters(section,".") ".";
        }

        &.level2 > li::before {
          content: counters(section,".") " ";
        }

        &.level1 > li {
          margin-top: 2em;
        }

        &.level1 > li::before {
          margin-right: 10px;
        }

        &.level2 {
          margin-left: 2em;
          margin-top: 1em;

          li {
            padding-left: 8px;
            padding-bottom: 5px;
          }

          .level3 {
            margin-left: 2em;
            margin-top: 1em;
          }
        }

        .title {
          width: 100%;
        }

        strong {
          font-weight: bold;
        }
      }

      .services {
        padding-bottom: 2em;

        .header {
          font-weight: bold;
          margin-top: 1em;

          &.row {
            border-bottom: 2px solid black;
          }
        }

        .row {
          border-bottom: 1px solid #CCC;

          text-align: left;
          padding: 12px 0;
        }

        .level {
          font-weight: bold;
        }

        .premium {
        }
      }
    }
}
}
