---
layout: campaignlanding
title: "GoCD for your Enterprise"
title_tag_of_header: "Scale your Enterprise with GoCD"
page_caption:
meta_description: "GoCD and Chef have launched an official partner cookbook helping you get started quickly with continuous delivery"
meta_keywords: "chef automate, automated deployment, continuous integration, continuous delivery, chef, partner cookbook, gocd cookbook"
show_features: true
---

<div class="analytics">

  <% content_for :maincontent do %>

    <div class="header">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <h1>at the edge of<br/><span class="highlight">forever</span></h1>
        </div>
      </div>
    </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="col-md-5 intro-text">
          <h1>star stuff harvesting star light</h1>
          <p>Rich in mystery the ash of stellar alchemy consectetur adipisicing elit worldlets hundreds of thousands a billion trillion at the edge of forever, courage of our questions. Birth billions upon billions, quasar, Drake Equation, vanquish the impossible take root and flourish. Sea of Tranquility a very small stage in a vast cosmic arena the only home we've ever known! Prime number! Cambrian explosion, star stuff harvesting star light consectetur adipisicing elit and billions upon billions upon billions upon billions upon billions upon billions upon billions!</p>
        </div>
        <div class="col-md-7 vsm-illo">
          <%= image_tag "campaign/enterprise/ui_illo_commercial_2.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map"} %>
        </div>
      </div>

      <div class="hr"></div>
    </div>

    <div class="feature-section">
      <div class="container">
        <div class="row">
          <h1>creatures of the cosmos emerged into consciousness</h1>
        </div>

        <div class="row feature-row">

          <div class="col-md-4 feature">
            <h3>hydrogen atoms as a patch of light</h3>
            <%= image_tag "campaign/enterprise/business.svg", {:title => "Fits Into Your Ecosystem", :alt => "Ecosystem illustration", :class => 'illo'} %>
            <p>dden in matter. At the edge of forever. Emerged into consciousness bits of moving fluff with pretty stories for which there's little good evidence bits of moving fluff ship of the imagination shores of the cosmic ocean Drake Equa</p>
          </div>


          <div class="col-md-4 feature">
            <h3>hydrogen atoms as a patch of light</h3>
             <%= image_tag "campaign/enterprise/postgres.svg", {:title => "Continuous Delivery at Scale", :alt => "CD illustration", :class => 'illo'} %>
             <p>dden in matter. At the edge of forever. Emerged into consciousness bits of moving fluff with pretty stories for which there's little good evidence bits of moving fluff ship of the imagination shores of the cosmic ocean Drake Equa</p>
          </div>

          <div class="col-md-4 feature">
            <h3>hydrogen atoms as a patch of light</h3>
            <%= image_tag "campaign/enterprise/support.svg", {:title => "Professional Support", :alt => "Chat illustration", :class => 'illo'} %>
            <p>dden in matter. At the edge of forever. Emerged into consciousness bits of moving fluff with pretty stories for which there's little good evidence bits of moving fluff ship of the imagination shores of the cosmic ocean Drake Equa</p>
          </div>
        </div>

        <div class="hr"></div>

      </div>
    </div>

    <div class="container plugins-section">
      <div class="row plugins-row">

        <div class="col-md-5 col-md-offset-1 plugin-text">
          <h3>Dream of the mind's eye</h3>
          <p>inconspicuous motes of rock and gas sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, trillion, light years, brain is the seed of intelligence. Permanence of the stars qui dolorem ipsum quia dolor sit amet two ghostly white figures in coveralls and helmets are soflty dancing</p>
        </div>

        <div class="col-md-5 plugin-text">
          <h3>Dream of the mind's eye</h3>
          <p>inconspicuous motes of rock and gas sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, trillion, light years, brain is the seed of intelligence. Permanence of the stars qui dolorem ipsum quia dolor sit amet two ghostly white figures in coveralls and helmets are soflty dancing</p>
        </div>

        <div class="col-md-5 col-md-offset-1 plugin-text">
          <h3>Dream of the mind's eye</h3>
          <p>inconspicuous motes of rock and gas sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, trillion, light years, brain is the seed of intelligence. Permanence of the stars qui dolorem ipsum quia dolor sit amet two ghostly white figures in coveralls and helmets are soflty dancing</p>
        </div>

        <div class="col-md-5 plugin-text">
          <h3>Dream of the mind's eye</h3>
          <p>inconspicuous motes of rock and gas sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, trillion, light years, brain is the seed of intelligence. Permanence of the stars qui dolorem ipsum quia dolor sit amet two ghostly white figures in coveralls and helmets are soflty dancing</p>
        </div>

        <div class="col-md-12 plugin-link">
          <a href="http://www.gocd.org/plugins" TARGET="_blank">View All Plugins</a>
        </div>
      </div>

      <div class="hr"></div>
    </div>



    <!-- <div class="container form-section">
      <div class="row form-row">

        <div class="col-md-4 col-md-offset-2">
          <h1>Interested in our enterprise offering?</h1>
          <h2>Connect with us so we can learn more about how to help you.</h2>
          <p>You can also email us directly at <a href="mailto:support@thoughtworks.com?subject=Inquiry%20about%20GoCD%20Enterprise%20Offering">support@thoughtworks.com</a></p>
        </div>

        <div class="col-md-4 marketo-form">
          <div class="overlay">
            <div class="popup">
              <div class="close-button fa fa-times-circle-o"></div>
              <div class="thanks-msg">
                <h3>Thank you for your interest in GoCD!<br/>A member of our team will be in touch with you soon.</h3>
              </div>
            </div>
          </div>
          <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_7582"></form>
          <div class="form-loading-error">
            <p>It looks like our signup form was blocked by an adblocker in your browser! Please email us directly or pause your adblocker to use the form.</p>
          </div>
        </div>
      </div>
    </div> -->
    <script src="/assets/javascripts/marketo_popover.js"></script>
  <% end %>
</div>
