---
layout: campaignlanding
title: "GoCD for your Enterprise"
title_tag_of_header: "Scale your Enterprise with GoCD"
page_caption:
meta_description: "GoCD and Chef have launched an official partner cookbook helping you get started quickly with continuous delivery"
meta_keywords: "chef automate, automated deployment, continuous integration, continuous delivery, chef, partner cookbook, gocd cookbook"
show_features: true
---

<div class="analytics">

  <% content_for :maincontent do %>

    <div class="header">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <h1>Use CD Metrics to Improve Your <span class="highlight">Build</span></h1>
        </div>
      </div>
    </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="col-md-8 col-md-offset-2 intro-text">
<!--           <h1>star stuff harvesting star light</h1> -->
          <h3>GoCD Enterprise Analytics Plugin provides actionable insights about your release workflow, pipeline status and infrastructure utilization. With this, you can easily gain visibility into your release pipeline, identify and remove bottlenecks and optimize resources for best throughput.</h3>
        </div>
<!--         <div class="col-md-7 vsm-illo">
          <%= image_tag "campaign/enterprise/ui_illo_commercial_2.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map"} %>
        </div> -->
      </div>

<!--       <div class="hr"></div> -->
    </div>

    <div class="feature-section">
      <div class="container">
<!--         <div class="row">
          <h1>creatures of the cosmos emerged into consciousness</h1>
        </div> -->

        <div class="row feature-row">

          <div class="col-md-4 feature">
            <h3>Visibility Into<br/>Pipeline Status</h3>
<!--             <%= image_tag "campaign/enterprise/business.svg", {:title => "Fits Into Your Ecosystem", :alt => "Ecosystem illustration", :class => 'illo'} %> -->
            <p>GoCD’s analytics plugin gives real time visibility into your deployment pipelines. Metrics like pipeline times, wait times and mean time to recovery are at your fingertips.</p>
          </div>


          <div class="col-md-4 feature">
            <h3>Identify Bottlenecks<br/>of Your Process</h3>
<!--              <%= image_tag "campaign/enterprise/postgres.svg", {:title => "Continuous Delivery at Scale", :alt => "CD illustration", :class => 'illo'} %> -->
             <p>GoCD provides both in-context pipeline analytics and top-level metrics to illuminate bottlenecks in your deployment process and help you streamline it.</p>
          </div>

          <div class="col-md-4 feature">
            <h3>Maximize Utilization<br/>Through Analytics</h3>
<!--             <%= image_tag "campaign/enterprise/support.svg", {:title => "Professional Support", :alt => "Chat illustration", :class => 'illo'} %> -->
            <p>Which jobs are the slowest? Which agents have the longest wait time? GoCD’s analytics plugin answers these questions and more, helping you optimize your resources for best throughput.</p>
          </div>
        </div>

        <div class="hr"></div>

      </div>
    </div>

    <div class="container plugins-section">
      <div class="row plugins-row">

        <div class="col-md-8 col-md-offset-2">
          <h3>Pipeline status at One Glance</h3>
          <div class="plugin-image"></div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <h3>Pipeline Waiting Chart with Easy Drill-down</h3>
          <div class="plugin-image"></div>
        </div>

        <div class="col-md-8 col-md-offset-2">
          <h3>Agent Utilization Chart with Easy Drill-down</h3>
          <div class="plugin-image"></div>
        </div>
      </div>

      <div class="hr"></div>
    </div>

    <div class="cta-section">
      <h1>Get Started with GoCD Analytics</h1>
      <div class="cta-row">
        <a href="https://docs.gocd.org/current/gocd_on_kubernetes/">
          <div class="cta-button">
            <h3>GET STARTED NOW</h3>
          </div>
        </a>
      </div>
    </div>

  <% end %>
</div>
