<% wrap_layout :default do %>
<div class="video-banner">
  <div class="container">
    <h1 class="caption"><span><%= current_page.data.title %></span></h1>
    <span class="subcaption"></span>
  </div>
</div>
<main role="main">
<div class="video-player">
  <%= link_to 'â† Back to Videos', '/videos/index.html', :class => 'backto' %>
  <%= yield %>
</div>
</main>
<% end %>