---
layout: campaignlanding
title: "GoCD for your Enterprise"
title_tag_of_header: "Scale your Enterprise with GoCD"
page_caption:
meta_description: "GoCD Enterprise Plugins and Support"
meta_keywords: "Enterprise, pipelines, ldap, postgres, enterprise support, scale your pipelines, continuous delivery"
show_features: true
---

<div class="enterprise-campaign">
  <% content_for :maincontent do %>
<div class="enterprise-overview">
    <div class="header">
      <div class="container">
      <h1>CONTINUOUS DELIVERY SCALED FOR <span class="break"> YOUR <strong class="highlight">ENTERPRISE</strong></span></h1>
      </div>
    </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="$col-md-6 col-lg-5 intro-text">
          <h1>Visualize and Model Complex Workflows</h1>
          <p>GoCD supports continuous delivery out of the box with its built-in pipelines, advanced traceability and value stream visualization. With GoCD, you can easily model, orchestrate and visualize complex workflows from end to end. GoCD supports modern infrastructure and cloud deployments.</p>
        </div>
        <div class="col-md-7 vsm-illo">
          <%= image_tag "campaign/enterprise/ui_illo_commercial_2.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map"} %>
        </div>
      </div>

      <div class="hr"></div>
    </div>

    <div class="feature-section">
      <div class="container">
        <div class="row">

          </div>
        </div>

        <div class="hr"></div>

      </div>
    </div>

    <div class="container plugins-section">
      <div class="row plugins-row">

        <div class="col-md-6 col-lg-5 col-lg-offset-1 plugin-text">
          <h3>PostgreSQL</h3>
          <p>GoCD's OSS distribution uses an embedded database. That's great for getting started. But, if you need to scale beyond a few teams and several pipelines, our PostgreSQL add-on gives you the performance upgrade necessary for hundreds of pipelines and agents. We recommend PostgreSQL for critical deployments.</p>
        </div>

        <div class="col-md-6 col-lg-5 plugin-text">
          <h3>Business Continuity</h3>
          <p>Hard drives fail. This add-on helps ensure you can deliver even when your machine is down. With business continuity, you’ll be able to set up secondary GoCD and PostgreSQL servers to protect against downtime. Automatic redirection of build agents and the ability to store artifacts on network drives is supported.</p>
        </div>
        </div>
    <div class="row plugins-row">
        <div class="col-md-6 col-lg-5 col-lg-offset-1 plugin-text">
          <h3>Amazon ECS Elastic Agent Plugin</h3>
          <p>This Elastic Agent Plugin for Amazon EC2 Container Service gives you the flexibility to autoscale your builds on docker instances running on an ECS cluster. It tailors your use of EC2 instances (with support for Docker containers) specific to your needs, by taking care of creating agents &amp; scheduling builds while monitoring the ECS cluster, allowing you to optimize your utilization and reduce costs.</p>
        </div>

        <div class="col-md-6 col-lg-5 plugin-text">
          <h3>LDAP/AD Authorization Plugin</h3>
          <p>The LDAP/AD Authorization Plugin provides both authentication and authorization services for GoCD. Grant relevant access to your teams by leveraging your organizations' predefined roles within LDAP/AD. Manage users and roles centrally (LDAP), while using GoCD to define and maintain application specific role based access.</p>
        </div>

      </div>

    </div>
    <div class="row  plugins-section">
      <div class="col-md-12  plugin-link">
    <a href="http://www.gocd.org/plugins" TARGET="_blank">View All Plugins</a>
    </div>
    </div>
  <% end %>
</div>
