---
layout: layout
title: "Pipeline Configuration as Code"
title_tag_of_header: "Pipeline Configuration as Code"
page_caption:
meta_description: "Pipeline Configuration as Code"
meta_keywords: ""
show_features: true
---

<div class="banner-container">
  <div class="container">
    <h1 class="banner-container_heading"> GoCD supports Pipelines as Code </h1>
    <div class="banner-container_content">
      <div class="banner-container_img">
        <img src="../assets/images/pipelines-as-code/terminal_dark.gif" alt="banner-img"/>
      </div>

      <div class="banner-container_desc">
        <p>
          With GoCD’s pipelines as code functionality, get full flexibility and control into every aspect of your pipeline configuration.
        </p>
        <p>
          With pipelines as code, your change are easier to audit, share, revert, and set up new servers. 
        </p>
      </div>
      <a href="#" class="button-brand banner-container_btn">Try Now</a>
    </div>
  </div>
</div>

<section class="pipeline-features">
  <div class="container cards-container">
    <div class="card">
     <%= image_tag "../assets/images/pipelines-as-code/k8s.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'card_img'} %>
      <h2 class="card_heading"> Native Kubernetes Integration </h2>

      <p class="card_desc">
        GoCD gives you the flexibility to effectively represent CD pipelines that model your organization’s processes.
        Kubernetes gives you a highly programmable delivery infrastructure platform. Together they provide the premiere
        continuous delivery tool on modern infrastructure.
      </p>
    </div>

    <div class="card">
     <%= image_tag "../assets/images/pipelines-as-code/elastic_agents.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'card_img'} %>
      <h2 class="card_heading"> Elastic Agents </h2>

      <p class="card_desc">
        Elastic Agents, also known as on-demand agents, are the worker bees of GoCD. Scale them up and shut them down
        as needed, giving you both flexibility and cost savings. We provide elastic agents for Docker, K8s, AWs and
        other popular cloud providers.
      </p>
    </div>

    <div class="card">
     <%= image_tag "../assets/images/pipelines-as-code/cloud_deploy.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'card_img'} %>
      <h2 class="card_heading"> Deployment Options </h2>

      <p class="card_desc">
        Deployment options exist for all the major cloud services, including Docker. With our official Docker images,
        you can create GoCD workflows with ease and deploy
      </p>
    </div>

    <div class="card">
     <%= image_tag "../assets/images/pipelines-as-code/modern_interface.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'card_img'} %>
      <h2 class="card_heading"> Modern Interface </h2>

      <p class="card_desc">
        GoCD’s dashboard improvements make it easy for large organizations to manage hundreds (or thousands) of
        pipelines. You can personalize your dashboards with pipeline groups and create custom tabs for future use.
      </p>
    </div>
  </div>
  <a href="#" class="button-brand banner-container_btn">Try Now </a>
</section>