---
layout: post
title: Deploy a package, not just a tag, branch or binary
type: post
author: Sriram Narayan
excerpt: "This article lays out the benefits of using your operating system's packaging tools instead of rolling out your own installers and packages"
summary_image: "/assets/images/blog/sriram-package1.png"
title_tag_of_header: "Deploy a package | GoCD Blog"
meta_description: "Read about the advantages of packaging applications using application-specific or system packaging tools."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, package, deploy"
date: 2014-02-24T01:00:00+00:00
---

In a section called *Principles and Practices of Build and Deployment Scripting*, [the CD book](https://continuousdelivery.com/) suggests to *Use Your Operating System's Packaging Tools*.

"Deploying a bunch of files that need to be distributed across the filesystem is very inefficient and makes maintenance—in the form of upgrades, rollbacks, and uninstalls—extremely painful. This is why packaging systems were invented."

We concur. This is a good example of cross-pollination of good ideas between development and operations. Software development teams are increasingly packaging their applications using application-specific ([maven](https://maven.apache.org/ref/3.1.0/maven-model/maven.html), [gem](https://guides.rubygems.org/specification-reference/), [wheel](https://pypi.python.org/pypi/wheel), [npm](https://docs.npmjs.com/cli/install), [cpan](https://www.cpan.org/modules/INSTALL.html)…) or system (rpm, [deb](https://www.debian.org/doc/manuals/debian-faq/pkgtools.en.html), [nuget](https://docs.nuget.org/), [chocolatey](https://www.hanselman.com/blog/IsTheWindowsUserReadyForAptget.aspx)...) packaging tools. Doing so has several advantages:

1.   Built in versioning (e.g. rpm, [deb](https://www.debian.org/doc/manuals/debian-faq/pkgtools.en.html), [nuget](https://docs.nuget.org/)).
2.   Dependency management.
3.   Distribution via standardized repository layouts, metadata and protocol.
4.   Transactional install/upgrade/uninstall via package managers.
5.   Managing configuration files: OS packages know how to manage files that are expected to change after installation so you don't lose your changes when you uninstall or override when you upgrade. e.g. rpm's [%config macro](https://web.archive.org/web/https://www-uxsup.csx.cam.ac.uk/~jw35/docs/rpm_config.html).
6.   File verification: Packages have built-in checksums, which can be used for verification before a package is extracted and installed.
7.   Signature verification (e.g. [rpm](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/5/html/deployment_guide/s1-check-rpm-sig)).
8.   Idempotence - Issuing the same package install/upgrade/uninstall multiple times leaves the system in the same state as issuing it once.
9.   Auditability: OS packaging tools allows you to track [what package installed what file](https://unix.stackexchange.com/questions/4705/how-to-find-out-which-package-a-file-belongs-to) in your system (versus files appearing or being changed at will)
10.   Traceability - what repository did a package come from? (e.g. deb)
11.   Infrastructure automation tools like Chef, Puppet and Ansible have good support for popular package management systems. Traditionally used for provisioning servers, and environments, these tools are increasingly being used for [application provisioning](https://github.com/opscode/java-quick-start) - more on this point in a follow-up post.
There you go - eleven good reasons to start creating packages for your components and applications and deploying from packages rather than from a tag, branch or binary.

![](/assets/images/blog/sriram-package1.png)

Thanks to [Danilo](https://www.dtsato.com/blog/about/), [Ram](https://twitter.com/sriramnrn) for their insights on this topic.


<div class="highlight">This post is also cross-posted <a href="https://www.thoughtworks.com/insights/blog/deploy-package-not-just-tag-branch-or-binary
">here</a>.</div>
