---
layout: post
title: GoCD - Template Permissions
type: post
author: GoCD Team
excerpt: "This article introduces the concept of a template administrator role in GoCD, allowing a super administrator to delegate template editing capabilities to any user"
summary_image: "/assets/images/blog/Pipeline1.png"
title_tag_of_header: "Template Permissions | GoCD Blog"
meta_description: "GoCD is open source continuous delivery software. Learn about template permissions and the role of a template administrator in GoCD"
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, template, permissions, admininistrator, admin"
date: 2014-02-24T02:00:00+00:00
---

The GoCD System Administrator has access to all administrative functions, and has operational access to all parts of a GoCD installation, which differentiates the normal user from the admin user. Hence, this role cannot be assigned to every user in the system. This requirement demands a new set of  roles in the system which is a subset of the privileges that the super admin has and at the same time does not give full fledged access to the system. Currently in GoCD, we have one such super admin role subset, which is called pipeline admin. In GoCD 13.4, we are introducing a new role into the ecosystem called "The Template Admin".

Let us consider a project which uses GoCD for CD and CI. The team has 10 team members and all are users of the GoCD system. Here all the pipelines are based on [templates](https://www.thoughtworks.com/insights/blog/how-do-i-do-cd-go-part-5-power-pipeline-templates-and-parameters). Typically, only a 'GoCD System Administrator' has the privilege to edit the template. This means that every user needs to approach the super admin for all the changes that need to be made to the template, even if the change is trivial. With the introduction of this new role called template admin, the super admin can assign any user as template admin to a specific template.

Template administrators can view and edit the templates (to which they have permissions), from the template tab of the admin page. Template Administrators, will however not be able to add, delete or change permissions for a template. They will also be able to see the number of pipelines in which the template is being used, but not the details of those pipelines.To edit the permissions for a template, navigate to the "Templates" tab on the "Admin" section:

###Pipeline Templates:

![](/assets/images/blog/Pipeline1.png)

Then, click the "Permissions" link for the template, you want to manage permissions for:

![](/assets/images/blog/Permissions1.png)

More information on this is available in the [help documentation](https://docs.gocd.org/current/configuration/pipeline_templates.html#editing-pipeline-templates).


<div class="highlight">This post is also cross-posted <a href="https://www.thoughtworks.com/insights/blog/go-template-permissions">here</a>.</div>
