---
layout: post
title: Setting up a GoCD development environment VM
status: public
type: post
published: true
author: Ken Mugrage
excerpt: "The GoCD team has created a VirtualBox VM image to help people interested in development go get started quickly. This short video shows the process of downloading and setting up the virtual machine."
summary_image: "/assets/images/blog/set-up-a-go-dev-environment/summary_image.png"
title_tag_of_header: "Setting up a GoCD development VM | GoCD Blog"
meta_description: "GoCD is open source continuous delivery software. Watch this video for downloading and setting up the virtual machine to help you get started developing."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, video, virtual machine"
---

The GoCD team has created a VirtualBox VM image to help people interested in development go get started quickly. This short video
shows the process of downloading and setting up the virtual machine. 

The Vagrant box and Vagrantfile can be found at <a href="https://developer.go.cd/current/2/2.1.html">https://developer.go.cd/current/2/2.1.html</a>

Please note: You _must_ have <a href="http://www.vagrantup.com/">Vagrant</a> 1.4.3+ and <a href="https://www.virtualbox.org/">VirtualBox</a> 4.3.6+ installed to use this environment.

<iframe src="//fast.wistia.net/embed/iframe/kc1tg597ae" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="388"></iframe>
