---
layout: post
title: Authentication end-point
type: post
author: GoCD Team
excerpt: "GoCD 15.2.0 exposed authentication as an end-point which can be extended using a plugin. This post explains how the GitHub OAuth Login plugin works"
summary_image: "/assets/images/blog/authentication-plugins/login-page.png"
title_tag_of_header: "Authentication end-point | GoCD Blog"
meta_description: "GoCD is open source continuous delivery software. Now users can add custom authentication schemes through plugins."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, authentication, plugin, end-point"
date: 2015-06-18T00:00:00+00:00
---

Starting 15.2.0 GoCD Server will expose authentication end-point. What this means is GoCD users can add "custom" authentication schemes through plugins.

Examples of integrations possible:

* OAuth Login - [GitHub](https://github.com/srinivasupadhya/gocd-oauth-login), [Google](https://github.com/srinivasupadhya/gocd-oauth-login), Hotmail, Yahoo! etc.
* Single Sign-on (SSO) - LDAP, Okta etc.
* 2-factor authentication - SMS verification etc.
* Custom `username` & `password` authentication

### How does it work?

Below is an explanation of how [GitHub OAuth Login plugin](https://github.com/srinivasupadhya/gocd-oauth-login) works.

* Generate OAuth token on GitHub.

<figure>
  <img src="/assets/images/blog/authentication-plugins/generate-oauth-token.png" class="has_border full_size"
    id="mature_ci_cd_setup" title="Generate oauth token on GitHub" alt="Generate oauth token on Git Hub" />
  <figcaption>Figure 1: Generate oauth token <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* On plugin listing page users will see a gear icon (similar to one on the pipeline dashboard).

<figure>
  <img src="/assets/images/blog/authentication-plugins/list-plugin.png" class="has_border full_size"
    id="plugin_listing" title="Plugin listing with gear icon" alt="Plugin listing with gear icon" />
  <figcaption>Figure 1: Plugin listing with gear icon <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* Clicking on the gear icon opens a pop-up that renders "Plugin Settings".

<figure>
  <img src="/assets/images/blog/authentication-plugins/configure-plugin.png" class="has_border full_size"
    id="configure_plugin" title="Configure plugin pop-up" alt="Configure plugin pop-up" />
  <figcaption>Figure 2: Configure plugin pop-up <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* Login Page

<figure>
  <img src="/assets/images/blog/authentication-plugins/login-page.png" class="has_border full_size"
    id="login_page" title="Login Page with GitHub icon" alt="Login Page with Git Hub icon" />
  <figcaption>Figure 3: Login Page with GitHub icon <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* Click on GitHub icon

<figure>
  <img src="/assets/images/blog/authentication-plugins/github-login.png" class="has_border full_size"
    id="auth_gocd_on_github" title="Authorize GoCD Server to access GitHub" alt="Authorize Go CD Server to access Git Hub" />
  <figcaption>Figure 3: Authorize GoCD Server to access GitHub <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* Successful login

<figure>
  <img src="/assets/images/blog/authentication-plugins/successful-login.png" class="has_border full_size"
    id="successful_login" title="Pipeline View on successful login" alt="Pipeline View on successful login" />
  <figcaption>Figure 3: On successful login <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

* Ability to Search & Add users

<figure>
  <img src="/assets/images/blog/authentication-plugins/search-user.png" class="has_border full_size"
    id="search_user" title=" Search User" alt=" Search User screen" />
  <figcaption>Figure 3: Search User <span class="click_to_enlarge">(Click to enlarge)</span></figcaption>
</figure>

We hope plugin developers are able to use this feature to support their organizations authentication mechanism.

#### References:

* [Developer Docs](https://plugin-api.gocd.org/current/authorization/)
* [GitHub Issue](https://github.com/gocd/gocd/issues/851)
* <%= link_to 'Sample plugins', '/plugins/index.html' %>

<style type="text/css">
figure {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

figcaption {
  color: #575757;
  font-weight: normal;
}

img.full_size {
  width: 82%;
  margin-left: 8%;
  margin-right: 8%;
}

img.has_border {
  border: 1px solid;
}
</style>

<script type="text/javascript">
  $("figure").on('click', 'img', function() {
    $(this).width("100%").css('margin-left', 0).css('margin-right', 0);
    $(this).parent("figure").find("span.click_to_enlarge").hide();
  });
</script>

-------------------------------------

As always, GoCD questions can be asked on the [mailing list](https://groups.google.com/g/go-cd).
