---
layout: post
title: "GoCD and the Impact of the ThoughtWorks Acquisition"
type: post
author: GoCD Team
excerpt: "Apax funds acquired ThoughtWorks. This post explains any impact on the GoCD team, product and the open source community."
title_tag_of_header: "GoCD and the Impact of the ThoughtWorks Acquisition | GoCD Blog"
meta_description: "Apax funds acquired ThoughtWorks. This post explains any impact on the GoCD team, product and the open source community."
meta_keywords: "gocd, open source continuous delivery, open source continuous delivery tools, ci/cd server, open source, thoughtworks acquisition, apax partners, apax"
summary_image: "/assets/images/blog/thoughtworks-apax/thoughtworks-apax_announcement.jpg"
tags: Announcements
draft: true
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/thoughtworks-apax/thoughtworks-apax_announcement.jpg" alt="GoCD and the Impact of the ThoughtWorks Acquisition"/>
</figure>
<% end %>

On August 23 2017, Apax funds [announced their acquisition](https://www.thoughtworks.com/news/apax) of ThoughtWorks, Inc. As you all know, GoCD is supported by ThoughtWorks with our core team members being ThoughtWorks employees. We wanted to share what this news means to the GoCD product, its contributors, and the open source community. 

If you'd like to read more about the acquisition, [this post by Martin Fowler](https://martinfowler.com/articles/201708-tw-sale.html) has interesting context about the news.

## The impact on GoCD

For the GoCD core team there will be no change. ThoughtWorks is committed to building the best open source continuous delivery tool there is. We will continue to innovate by building on thought leadership and feedback from this community. 

In fact, now seems like a great time to share what's coming next with GoCD.

## What’s coming in GoCD

We recently reached out to some of you to understand your CD processes with some of the newer deployment ecosystems and have some exciting ideas to make GoCD more cloud native with better support for container orchestrators. We will start this journey with better support for Kubernetes and the Docker workflow. Stay tuned for further updates. 

<div class='row'>
<%= partial "partials/subscribeproductupdates" %>
</div>
