---
layout: post
title: "Part 3 - CD101: Principles and Best Practices for Continuous Delivery"
type: post
author: Ken Mugrage
excerpt: "CD 101 is a video series to help you get started on your CD journey. Part Three of this series covers the principles and practices in continuous delivery and ways to decrease risk in deployments."
title_tag_of_header: "Deployment pipeline and types of automated testing | GoCD Blog"
meta_description: "Part Three of the CD 101 series covers the principles and practices in continuous delivery and ways to decrease risk in deployments."
meta_keywords: "gocd, open source continuous delivery, open source continuous delivery tools, ci/cd server, best practices for continuous delivery, reduce deployment risk, continuous delivery, CD 101, Continuous delivery 101, getting started with CD, what is continuous delivery, video series, history of cd"
summary_image: "/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part3-hero.jpg"
tags: CD 101
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part3-hero.jpg" alt="Part 3 - Principles and Best Practices for Continuous Delivery: CD 101"/>
</figure>
<% end %>

This is part 3 of our <%= link_to 'Continuous Delivery 101 video series', '/tags/cd-101.html' %>, where we’ll be looking at some of the principles and best practices in continuous delivery like: 

- The need for a repeatable process 
- Automation 
- Version controlling everything
- Building in quality from the start
- Redefining done as ‘released’  

For some background on details of a continuous delivery pipeline and types of automated testing, please watch <%= link_to 'part 2', '/posts/2017-07-20-deployment-pipeline-automated-testing.html' %> of our video series.

In this video we also cover some of the characteristics of a team where there is a concept of shared ownership and what it means to practice a ‘DevOps’ culture. 

<br/>
<div align = "center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/S0g91mryV4c" frameborder="0" allowfullscreen></iframe>
</div>
<br/>

Now that we’ve covered the basics & best practices of Continuous Delivery, <%= link_to 'in part 4', '/posts/2017-09-12-value-stream-mapping.html' %>, we’ll look at how anyone can get started. Stay tuned. 

----

## What is Continuous Delivery 101?

This is a video series to help you get started on your CD journey. Ken Mugrage, a notable advocate for continuous delivery, will walk you through a collection of 5 short videos. This series will cover the history of CD, basic concepts, best practices, how to get started and popular tools. We will also introduce in-depth readings as we go through these basic concepts with you.

By the end of the video series, you'll have a holistic view of continuous delivery and a deeper understanding and appreciation of critical concepts.

## Why should you watch it?

These videos can help you and more specifically, your team, learn to adopt best practices of Continuous Delivery, understand the core concepts of a deployment pipeline, and the history of how Agile and Lean drove these technical practices.

You can truly benefit out of these videos if you:

- are looking to get an overview of continuous delivery for yourself
- are championing DevOps transformation in your organization and need a concise 'getting started' guide for your team
- think your team are doing continuous delivery but not quite there yet and want to take as step back to refresh the fundamentals

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>
