---
layout: post
title: "Part 4 - CD101: Getting Started with Value Stream Mapping"
type: post
author: Ken Mugrage
excerpt: "CD 101 is a video series to help you get started on your CD journey. Part Four of this series covers how to get started using value stream mapping."
title_tag_of_header: "Getting started with value stream mapping | GoCD Blog"
meta_description: "Part Four of the CD101 video series covers how to get started with continuous delivery using value stream mapping."
meta_keywords: "value stream map, open source continuous delivery, continuous delivery 101, what is continuous delivery, getting started with continuous delivery, vsm"
summary_image: "/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part4-hero.jpg"
tags: CD 101
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part4-hero.jpg" alt="Part 4 - CD101: Getting Started with Value Stream Mapping"/>
</figure>
<% end %>

This is part 4 of our <%= link_to 'Continuous Delivery 101 video series', '/tags/cd-101.html' %>. In the previous videos, we covered best practices and principles of continuous delivery. In this video, we’ll talk about 

- Getting started with continuous delivery using ‘value stream mapping’ and 
- How to create a value stream map

Before getting started, it is important to ask yourself if you’re truly ready for continuous delivery. <%= link_to 'This post', '/posts/2016-01-25-are-you-ready-for-continuous-delivery.html' %> helps you ask and answer critical questions about your processes that will show you where you are in your continuous delivery journey.  

<br/>
<div align = "center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5I6PlldXOpY?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<br/>

Stay tuned for part 5, where we’ll look at some of the tools commonly used for continuous delivery. 

----

## What is Continuous Delivery 101?

This is a video series to help you get started on your CD journey. Ken Mugrage, a notable advocate for continuous delivery, will walk you through a collection of 5 short videos. This series will cover the history of CD, basic concepts, best practices, how to get started and popular tools. We will also introduce in-depth readings as we go through these basic concepts with you.

By the end of the video series, you'll have a holistic view of continuous delivery and a deeper understanding and appreciation of critical concepts.

## Why should you watch it?

These videos can help you and more specifically, your team, learn to adopt best practices of Continuous Delivery, understand the core concepts of a deployment pipeline, and the history of how Agile and Lean drove these technical practices.

You can truly benefit out of these videos if you:

- are looking to get an overview of continuous delivery for yourself
- are championing DevOps transformation in your organization and need a concise 'getting started' guide for your team
- think your team are doing continuous delivery but not quite there yet and want to take as step back to refresh the fundamentals

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>
