---
layout: post
title: "Part 1 - CD 101: An introduction to continuous delivery"
type: post
author: Ken Mugrage
excerpt: "CD 101 is a video series to help you get started on your CD journey. Part One of this series covers the history of continuous delivery, difference between continuous delivery and continuous deployment and a brief introduction of a deployment pipeline."
title_tag_of_header: "An introduction to continuous delivery | GoCD Blog"
meta_description: "Part One of this video series CD 101 explains history of CD and helps you get started with continuous delivery."
meta_keywords: "continuous delivery, CD 101, Continuous delivery 101, getting started with CD, what is continuous delivery, video series, history of cd"
summary_image: "/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part1-hero.jpg"
tags: CD 101
---

<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part1-hero.jpg" alt="Part 1 - An introduction to continuous delivery: CD 101" />
</figure>
<% end %>

## What is Continuous Delivery 101?

This is a <%= link_to 'video series', '/tags/cd-101.html' %> to help you get started on your CD journey. [Ken Mugrage](https://kenmugrage.com), an advocate for continuous delivery, will walk you through a collection of 5 short videos. This series will cover the history of CD, basic concepts, best practices, how to get started and popular tools. We will also introduce in-depth readings as we go through these basic concepts with you.

By the end of the video series, you'll have a holistic view of continuous delivery and a deeper understanding and appreciation of critical concepts.

## Why should you watch it?

These videos can help you and more specifically, your team, learn to adopt best practices of Continuous Delivery, understand the core concepts of a deployment pipeline, and the history of how Agile and Lean drove these technical practices.

This series is for you if you:

- are looking to get an overview of continuous delivery for yourself
- are championing DevOps transformation in your organization and need a concise 'getting started' guide for your team
- think your team are doing continuous delivery but not quite there yet and want to take as step back to refresh the fundamentals

## CD 101 - Part 1 - History and Introduction to the deployment pipeline

In the first part of this series, Ken covers

- a brief history of continuous delivery
- the difference between continuous delivery and continuous deployment (Yes, they are different)
- a brief introduction of a 'deployment pipeline'
<br/>
<div align = "center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/HnWuIjUw_Q8" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
Stay tuned for <%= link_to 'Part 2 of the Continuous Delivery 101 series', '/posts/2017-07-20-deployment-pipeline-automated-testing.html' %> which talks about the deployment pipeline in more detail.

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>
