---
layout: post
title: "Infographic - What's the difference between Continuous Delivery and Continuous Deployment?"
type: post
author: "Louda Peña"
excerpt: "The difference between Continuous Delivery and Continuous Deployment is quite simple, but something most people don't understand. Here's an easy way to remember."
summary_image: "/assets/images/blog/continous-delivery-vs-deployment-infographic/continous-delivery-vs-deployment-infographic-hero.png"
title_tag_of_header: "Continuous Delivery vs Continuous Deployment Infographic | GoCD Blog"
meta_description: "The difference between Continuous Delivery and Continuous Deployment is quite simple, but something most people don't understand. Here's an easy way to remember."
meta_keywords: "continuous delivery, continuous deployment, infographic"
tags: Infographic
draft: true
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continous-delivery-vs-deployment-infographic/continous-delivery-vs-deployment-infographic-hero.png" alt="The difference between Continuous Delivery and Continuous Deployment" title="The difference between Continuous Delivery and Continuous Deployment" />
</figure>
<% end %>

There are quite a few terms thrown around the Continuous Delivery arena: Continuous Integration, Continuous Delivery, Continuous Deployment, CD, CI, and so on and so forth. It's easy to get confused. The two terms we see (erroneously) equated most frequently are Continuous Delivery and Continuous Deployment. Below is the easy infographic we designed to help people understand the differences between the two practices.

<div align = "center">
<%= image_tag 'blog/continous-delivery-vs-deployment-infographic/continous-delivery-vs-deployment-infographic.png', :alt => 'The difference between Continuous Delivery and Continuous Deployment - Infographic', :title => 'The difference between Continuous Delivery and Continuous Deployment - Infographic' %>
</div>