---
layout: post
title: "Part 5 - CD101: Common Tools for Continuous Delivery"
type: post
author: Ken Mugrage
excerpt: "CD 101 is a video series to help you get started on your CD journey. In Part 5 we will explore common CD tools."
title_tag_of_header: "Common Tools for Continuous Delivery | GoCD Blog"
meta_description: "CD 101 is a video series to help you get started on your CD journey. In Part 5 we will explore common CD tools."
meta_keywords: "open source continuous delivery, open source continuous delivery tools, ci/cd server, value stream map, getting started"
summary_image: "/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part5-hero.jpg"
tags: CD 101

---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part5-hero.jpg" alt="Part 5 - CD101: Common Tools for Continuous Delivery"/>
</figure>
<% end %>

This is the final part of our <%= link_to 'Continuous Delivery 101 video series', '/tags/cd-101.html' %>. In the previous videos, we covered best practices and principles of continuous delivery. In this part, we’ll talk about 

- Common tools in the continuous delivery space
- How not to choose tools for your deployment process

> Choosing your tool is just as important as choosing the right technology stack and any other decisions you make in how you go to market.

<br/>
<div align = "center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/blkMohClA6M" frameborder="0" allowfullscreen></iframe>
</div>
<br/>

That brings us to the end of the CD101 series. If you have any questions or comments regarding our video series, please place them in the comment section below. We would be happy to hear your thoughts.

----

## What is Continuous Delivery 101?

This is a video series to help you get started on your CD journey. Ken Mugrage, a notable advocate for continuous delivery, will walk you through a collection of 5 short videos. This series will cover the history of CD, basic concepts, best practices, how to get started and popular tools. We will also introduce in-depth readings as we go through these basic concepts with you.

By the end of the video series, you'll have a holistic view of continuous delivery and a deeper understanding and appreciation of critical concepts.

## Why should you watch it?

These videos can help you and more specifically, your team, learn to adopt best practices of Continuous Delivery, understand the core concepts of a deployment pipeline, and the history of how Agile and Lean drove these technical practices.

You can truly benefit out of these videos if you:

- are looking to get an overview of continuous delivery for yourself
- are championing DevOps transformation in your organization and need a concise 'getting started' guide for your team
- think your team are doing continuous delivery but not quite there yet and want to take as step back to refresh the fundamentals

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>

