---
layout: post
title: "Part 2 - CD 101: Deployment pipeline and types of automated testing"
type: post
author: Ken Mugrage
excerpt: "CD 101 is a video series to help you get started on your CD journey. Part One of this series covers the history of continuous delivery, difference between continuous delivery and continuous deployment and a brief introduction of a deployment pipeline."
title_tag_of_header: "Deployment pipeline and types of automated testing | GoCD Blog"
meta_description: "Part One of this video series CD 101 explains history of CD and helps you get started with continuous delivery."
meta_keywords: "continuous delivery, CD 101, Continuous delivery 101, getting started with CD, what is continuous delivery, video series, history of cd"
summary_image: "/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part2-hero.jpg"
tags: CD 101
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/continuous-delivery-101/continuous-delivery-101-part2-hero.jpg" alt="Part 2 - Deployment pipeline and types of automated testing: CD 101" />
</figure>
<% end %>

In part 2 of our <%= link_to 'Continuous Delivery 101 video series', '/tags/cd-101.html' %>, we’ll be looking at:

- A detailed view of the ‘deployment pipeline’. Do check out <%= link_to 'part 1', '/posts/2017-07-13-introduction-continuous-delivery-101.html' %> of the series to see an introduction to the deployment pipeline.
- Common types of automated testing
- Some misconceptions about DevOps and Continuous Delivery

This video can help you understand the basics of how to order your tests in a pipeline. Look at the types of automated testing such as unit, regression, and performance tests. Tips on monitoring your continuous delivery pipeline so you react appropriately when things do go wrong.
<br/>
<div align = "center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/a9r-lXLDLvk" frameborder="0" allowfullscreen></iframe>
</div>
<br/>
<%= link_to 'In part 3', '/posts/2017-08-22-principles-practices-continuous-delivery.html' %>, we’ll look at some of the principles and practices behind CD. Stay tuned!

----

## What is Continuous Delivery 101?

This is a video series to help you get started on your CD journey. Ken Mugrage, a notable advocate for continuous delivery, will walk you through a collection of 5 short videos. This series will cover the history of CD, basic concepts, best practices, how to get started and popular tools. We will also introduce in-depth readings as we go through these basic concepts with you.

By the end of the video series, you'll have a holistic view of continuous delivery and a deeper understanding and appreciation of critical concepts.

## Why should you watch it?

These videos can help you and more specifically, your team, learn to adopt best practices of Continuous Delivery, understand the core concepts of a deployment pipeline, and the history of how Agile and Lean drove these technical practices.

You can truly benefit out of these videos if you:

- are looking to get an overview of continuous delivery for yourself
- are championing DevOps transformation in your organization and need a concise 'getting started' guide for your team
- think your team are doing continuous delivery but not quite there yet and want to take as step back to refresh the fundamentals

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>
