---
layout: post
title: "Infographic - Are you ready for Continuous Delivery"
type: post
author: "Aravind SV"
excerpt: "A handy list of questions about your own people, teams, and organization to determine your readiness for Continuous Delivery."
summary_image: "/assets/images/blog/are-you-ready-for-continous-delivery-infographic/are-you-ready-for-CD-info-hero.png"
title_tag_of_header: "Are you ready for Continuous Delivery Infographic | GoCD Blog"
meta_description: "Use these questions to closely examine your continuous delivery infrastructure, culture, and process before adopting a CD tool."
meta_keywords: "continuous delivery, cd techniques, how to do continuous delivery, trunk based development, feature branches, continuous integration, automation"
tags: Are you ready for Continuous Delivery, Infographic
---
<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/are-you-ready-for-continous-delivery-infographic/are-you-ready-for-CD-info-hero.png" alt="Ready for Continuous Delivery?" title="Ready for Continuous Delivery?" />
</figure>
<% end %>

Answer these questions honestly about your own people, teams, and organization to determine your readiness for Continuous Delivery. 

<div align = "center">
<%= image_tag 'blog/are-you-ready-for-continous-delivery-infographic/ready-for-continous-delivery-infographic.png', :alt => 'Are you ready for Continous Delivery - Infographic', :title => 'Are you ready for Continous Delivery - Infographic' %>
</div>

---

*If you’d like more details about these questions, read the <%= link_to "full article", '/posts/2016-01-25-are-you-ready-for-continuous-delivery.html' %>.*

