---
layout: post
title: "Infographic: 5 Key Patterns for your Deployment Pipeline"
type: post
author: Ken Mugrage
excerpt: "This infographic walks through 5 key patterns to setting up a successful deployment pipeline, including designing parallel workflows, running tests in parallel, and more."
title_tag_of_header: "Infographic: 5 Key Patterns for your Deployment Pipeline | GoCD Blog"
meta_description: "A handy infographic of five key deployment pipeline patterns"
meta_keywords: "deployment pipelines, deployment pipeline patterns, deployment pipeline tools, deployment pipeline jenkins, fan in fan out"
summary_image: "/assets/images/blog/pipeline-pattern-info/pipeline-pattern-info-hero.png"
tags: Infographic
---

<% content_for :banner do %>
<figure>
  <img src="/assets/images/blog/pipeline-pattern-info/pipeline-pattern-info-hero.png" alt="Infographic: 5 Key Patterns for your Deployment Pipeline" />
</figure>
<% end %>

## Here’s a handy infographic to help you get started on your deployment pipelines.

<div align = "center">
<%= image_tag 'blog/pipeline-pattern-info/deployment-pipeline-pattern-infographic.png', :alt => 'Infographic of deployment pipeline patterns', :title => 'Infographic of deployment pipeline patterns' %>
</div>

### 1: Build Things Once
Store your build binaries for later use to ensure that you deploy the exact same thing that you’ve tested.

### 2: Run tests in parallel
Split tests up into manageable chunks, then run them in parallel to speed things up.

### 3: Design parallel workflows (a.k.a Fan in/Fan out)
Use parallel workflows to create pipeline dependencies and reduce the time it takes to run your pipeline.

### 4: Verify on a production-like environment
Stage and test on the same environment as your production.

### 5: Manage your environments in a pipeline
Apply the same rigor reserved for software code on automating your environment configuration.

*If you’d like a more in-depth understanding of the deployment patterns, read our <%= link_to "full article", '/posts/2015-08-28-pipeline-patterns.html' %>.*

<%= partial 'partials/_cornered-banner-test-drive.html.erb'%>
