---
pageable: false
---
<% data_for_this_tag = data.tag_page_header_info[tag_path(tagname)] || {} %>
<% current_page.data.title = data_for_this_tag['title'] %>
<% current_page.data.title_tag_of_header = data_for_this_tag['title'] %>
<% current_page.data.meta_description = data_for_this_tag['meta_description'] %>
<% current_page.data.meta_keywords = data_for_this_tag['meta_keywords'] %>

<div class="inner-banner blog-banner">
   <div class="container">
     <div class="banner-content">
       <h1 class="caption">Articles in '<%= tagname %>'</h1>
     </div>
   </div>
 </div>
 <main class="main blog-list" >
   <div class="container">
     <div class="blog-list-item latest-blog"></div>
     <ul class="blogs">
     <% selected_articles_for_display_in(page_articles).each_with_index.reverse_each do |article, i| %>
         <li class="item">
             <div class="blog-list-item">
               <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => article } %>
            </div>
         </li>
     <% end %>
     </ul>
   </div>
 </main>
