<div class="downloadbanner">
  <div class="container">
    <div class="banner-with-cta">
      <p>BEFORE YOU PICK YOUR CD TOOL, FIND OUT IF YOU ARE TRULY READY FOR CONTINUOUS DELIVERY.</p>
      <%= link_to("FIND OUT NOW", "/tags/are-you-ready-for-continuous-delivery.html") %>
    </div>
  </div>
</div>
