<div class="post-summary">
  <% if article.data["summary_image"] %>
<figure class="post-summary-image"><img src="<%= article.data["summary_image"] %>" /></figure>
<% end %>
<div class="blog-details">
  <span class="post-date"><%= article.date.strftime('%b %e, %Y') %></span>
  <h2 class="post-title"><%= link_to article.title, article %></h2>
  <p class="excerpt"><%= article.data["excerpt"] || article.summary(250) %> </p>
</div>
</div>