<div class="cornered-banner">
  <p class="cornered-banner_content">
    Try GoCD today with our new Test Drive experience
  </p>
  <%= link_to 'START NOW', '/analytics/index.html', class:"cornered-banner_cta"%>
</div>
