<div class="cornered-banner">
  <p class="cornered-banner_content">
    Free GoCD Analytics trial is available
  </p>
  <%= link_to 'SIGN UP', '/analytics/index.html', class:"cornered-banner_cta"%>
</div>
