<div class="downloadbanner">
  <div class="container">
    <div class="banner-with-cta">
      <p>Test drive these <span class="go">Go</span>CD features and more in minutes</p>
      <%= link_to("Download", "/download/index.html") %>
    </div>
  </div>
</div>
