<div class="downloadbanner">
  <div class="container">
    <div class="banner-with-cta">
      <p>GoCD offers several community and commercial plugins as well as a well-rounded plugin API for Elastic Agents.</p>
      <%= link_to("Elastic Agent Offerings", "/elastic-agents.html") %>
    </div>
  </div>
</div>
