<div class="downloadbanner">
  <div class="container">
    <div class="banner-with-cta">
      <p>Get to know all about GoCD Elastic Agents plugins and how you can get started.</p>
      <%= link_to("Know More", "/elastic-agents.html") %>
    </div>
  </div>
</div>
