<div class="eventsbanner">
  <div class="container">
    <div class="banner-with-cta">
      <p>Have more questions about <span class="go">Go</span>CD? Sign up for one of our upcoming free learning sessions</p>
      <%= link_to("Events", "/events/index.html") %>
    </div>
  </div>
</div>
