<div class="downloadbanner">
<div class="container">
  <div class="banner-with-cta">
    <p>Get started by setting up your first continuous delivery pipeline on Kubernetes</p>
    <%= link_to("GoCD on Kubernetes", "https://docs.gocd.org/gocd_helm_chart/") %>
  </div>
</div>
</div>
