<div class='subscribe-to-blog blogpost'>
   <h3 class='subscribe-title'> Subscribe to the GoCD blog</h3> 
    <div id="subscribe-info">
      Send us a mail to <a href="mailto:support@thoughtworks.com?subject=Sign%20me%20up%20for%20GoCD%20blog%20notifications">support@thoughtworks.com</a> and we will sign you up for a notification on new blog posts.
    </div>
    <script type="text/javascript">
      function initMarketoForm() {
        jQuery("#subscribe-info").html("<form id='mktoForm_5414'></form>");
        MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 5414);
      }
    </script>
    <script async="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js" onload="initMarketoForm()"></script>
</div>
