<div class="downloadbanner">
<div class="container">
  <div class="banner-with-cta">
    <p>Subscribe to The Pipeline for continuous delivery news in your inbox.</p>
    <%= link_to("Subscribe", "/subscribe.html") %>
  </div>
</div>
</div>
