<div class='subscribe-to-blog'>
<div class="row">
  <div class="col-lg-6 subscribe-left-panel">
    <div>
      <%= image_tag "pipeline_subscribe.jpg", {:title => "Subscribe to The Pipeline", :alt => "Subscribe to The Pipeline, a bi-monthly newsletter with continuous delivery news and events.", :class => 'pipeline_subscribe_image'} %>
    </div>
  </div>
  <div class="col-lg-6 subscribe-right-panel">
    <div id="subscribe-info">
      <form id="mktoForm_5414"></form>
      <div class="form-loading-error"></div>
    </div>
    <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
    <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm('//app-e.marketo.com', '199-QDE-291').init(5414)"></script>
  </div>
</div>
</div>
