<div class='subscribe-to-blog'>
<div class="row">
  <div class="col-md-6 subscribe-left-panel">
   <h3 class='subscribe-title'>Subscribe to The Pipeline</h3>
   <p>A bi-monthly newsletter with continuous delivery news and events.</p>
  </div>
  <div class="col-md-6 subscribe-right-panel">
    <div id="subscribe-info">
      <form id="mktoForm_5414"></form>
      <div id="backup-subscription-message">
        Send a mail to <a class="normal-link"
        href="mailto:support@thoughtworks.com?subject=Sign%20me%20up%20for%20The%20Pipeline&amp;body=Hello,%0a%0aPlease%20sign%20me%20up.%20My%20details%20are:%0a%0aFirst%20Name:%0aLast%20Name:%0aCompany%20Name:%0a%0aI%20would%20like%20to%20subscribe%20to%20the%20Pipeline%20newsletter.%0a%0aThank%20you.">support@thoughtworks.com</a>
          to subscribe to the Pipeline newsletter.
      </div>
    </div>
    <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
    <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm().mailToFallback(5414)"></script>
  </div>
</div>
</div>
