<div class='subscribe-to-blog'>
<div class="row">
  <div class="col-lg-6 subscribe-left-panel">
    <div>
      <img class="pipeline_subscribe_image" src="../assets/images/pipeline_subscribe.jpg">
    </div>
  </div>
  <div class="col-lg-6 subscribe-right-panel">
    <div id="subscribe-info">
      <form id="mktoForm_5414"></form>
      <div class="form-loading-error"></div>
    </div>
    <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
    <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm().init(5414)"></script>
  </div>
</div>
</div>
