<div class='subscribe-to-blog'>
   <div class='subscribe-title'>
     <p>Subscribe to the GoCD blog</p>
   </div>
   <div>
     We often share our thoughts about continuous delivery, devops and software development practices on our blog. Subscribe and stay connected.
   </div>
   <div>
     <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
     <form id="mktoForm_5414"></form>
     <script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 5414);</script>
   </div>
</div>
