<div class='subscribe-to-blog'>
<div class="row">
  <div class="col-md-6 subscribe-left-panel">
   <h3 class='subscribe-title'>Subscribe to The Pipeline</h3>
   <p>A bi-monthly newsletter with continuous delivery news and events.</p>
  </div>
  <div class="col-md-6 subscribe-right-panel">
    <div id="subscribe-info">
      <form id="mktoForm_5414"></form>
      <div class="form-loading-error"></div>
    </div>
    <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
    <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm().init(5414)"></script>
  </div>
</div>
</div>
