<div class='subscribe-to-blog'>
<div class="row">
  <div class="col-md-4">
   <h3 class='subscribe-title'> Subscribe to the GoCD blog</h3> 
  </div>
  <div class="col-md-6">
   Send us a mail to <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a> and we will sign you up for a notification on new blog posts.
  </div>
</div>
</div>
