<div class="downloadbanner">
<div class="container">
  <div class="banner-with-cta">
    <p>Subscribe to stay updated to GoCD product news, updates and announcements.</p>
    <%= link_to("Subscribe", "/subscribe.html") %>
  </div>
</div>
</div>
