<div class='subscribe-to-blog'>
   <div class='subscribe-title'>
     <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
     <p>Subscribe to our blog</p>
   </div>
   <div>
     We often share our thoughts on continuous delivery, devops and software development on our blog. Do subscribe to our blog to stay connected.
   </div>
   <div>
     <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
     <form id="mktoForm_5414"></form>
     <script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 5414);</script>
   </div>
</div>
