<div class="support">
  <div class="container">
    <div class="go-support">
      <p>Scale your pipelines with <span class="go">Go</span>CD Enterprise’s commercial plugins and professional support.</p>
      <%= link_to 'Learn More', '/enterprise/index.html', 'analytics-label' => 'professional-support' %>
    </div>
  </div>
</div>
