<div class="support">
  <div class="container">
    <div class="go-support">
      <p>ThoughtWorks offers commercial support for <span class="go">Go</span>CD. Sign up for expert support and access to enterprise add-ons.</p>
      <a href="https://www.thoughtworks.com/go/#support" analytics-label="professional-support">Get Support</a>
    </div>
  </div>
</div>
