<div class="feature-box">
  <h3>Clearly visualize your workflow</h3>
  <figure>
    <%= image_tag "icons/go.cd_see-how-things-really-work.svg", {:title => "Visualize your workflow with continuous delivery value stream map", :alt => "Visualize your workflow with continuous delivery value stream map"} %>
  </figure>
  <p>GoCD's Value Stream Map visualizes your end-to-end workflow in real time. Every change can be tracked from commit to deploy and back again.
  </p>
</div>
