<div class="feature-box">
  <h3>Model complex workflows</h3>
  <figure>
    <%= image_tag "icons/go.cd_model-complex-workflows.svg", {:title => "Model complex workflows and dependency management", :alt => "Model complex workflows and dependency management"} %>
  </figure>
  <p>With its parallel and sequential execution, GoCD can easily configure dependencies for fast feedback and on-demand deployment. Its fan-in/fan-out dependency management always does the "right thing," avoiding spurious builds.
  </p>
</div>
