 <h1 class="title"><a href="/"> <img class="logo" src="/images/logo-go-home_2014.png" alt="Go Open Source - Continuous Delivery"> </a></h1>
              <ul class="navigation">
                  {% for link in site.navigation %}
                    {% assign url = page.url|remove:'index.html' %}
                    <li {% if url == link.url %} class="current"{% endif %}>
                       <a class="extra" href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
                    </li>
                  {% endfor %}
              </ul>