<li><a target="_blank" title="Follow on Twitter" href="https://twitter.com/goforcd" class="icon-twitter" analytics-label="twitter"></a></li>
<li><a target="_blank" title="GitHub Repository" href="https://github.com/gocd/gocd" class="icon-github-squared" analytics-label="github"></a></li>
<li><a target="_blank" title="IRC Channel" href="http://webchat.freenode.net/?channels=gocd" analytics-label="IRC"><img width="27px" src="/images/irc_icon.png"></a></li>
<li><a target="_blank" title="Google Group"  href="https://groups.google.com/forum/#!forum/go-cd" class="icon-google" analytics-label="google-group"></a></li>
