body {
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	font-size: 14px;
	line-height: 22px;
	position:relative;
	margin:58px 0 0 0;

	@media (min-width:$screen-lg-desktop) {
		font-size: 16px;
		line-height: 26px;
	}

}

p , dt, dd{
	font-size: 14px;

	@media (min-width:$screen-lg-desktop) {
		font-size: 16px;
		line-height: 26px;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 20px 0;
}

a {
	color: #337ab7;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

}

main {
	padding: 30px 0 0;
}

.note {
	background: #f5f5f5;
	padding: 20px;
}

figure {
	text-align: center;
}

img {
	max-width: 100%;
}