//header
header.top {
	background: $header-bg;
	@include clearfix;
	position: fixed;
	z-index: $header-top;
	width: 100%;
	top: 0;
	transition: all 0.5s ease;

	&.scroll-on {
		background: rgba(134, 86, 154, 0.95);
		transition: all 0.5s ease;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
	}
	&:hover {
		background: $header-bg;
		transition: all 0.5s ease;
	}
}
.logo {
	margin: 10px 0;
	float: left;
}
