//plugins

.plugins {
	.note {
		margin-bottom: 30px;
	}

}
.plugins-container{
    @media (min-width:$screen-tablet) {
	margin-top: 10px;
	min-height:400px;

    }
}

.plugin-info {
	font-size: 12px;
	// padding: 5px;
	line-height: normal;
	border-radius: 10px;
	// background: $gray-dark;
	display:inline-block;
	// color:#fff;
	// margin-top: 5px;
		&:before{
		content:"";
		border-left:1px solid #ccc;
		padding-left: 10px;
	}
    @media (min-width:$screen-tablet) {
margin-top: 0;
    }
}

.go-tag {
	margin: 0 5px;
}

.contribute_tile{
width:100%;
}

.contribute-plugin {
	@extend %flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	height: 215px;
	text-align: center;
	@media (min-width:$screen-tablet) {
		height:215px;
	}

	.fa-star {
		font-size: 50px;
	}

}

.plugins-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@extend %flexbox;
	@include flex-wrap(wrap);
	@include align-content(space-between);

	@media (min-width:$screen-tablet) {
		margin: 0px 0 0px 18px;
	}

	@media (min-width:$screen-desktop) {
		margin: 10px 10px 10px 15px;
		padding: 10px 0;
	}

		@media (min-width:$screen-desktop) {
		margin: 10px 10px 10px 25px;

	}

	li {
		margin: 10px;

		.details {
			background: #f5f5f5;
			padding: 20px;
			width: 100%;
			position: relative;
			align-items: stretch;
			transition: all 0.5s ease;
			height: 175px;
		}

		@media (min-width:$screen-tablet) {
			width: 46%;
			   
      margin: 10px 0 20px 25px;
       &:nth-child(2n+1){
        margin-left: 0;
       }


		}

		@media (min-width:$screen-desktop) {
			width: 31%;
			      &:nth-child(2n+1){
        margin-left: 25px;
       }
			  &:nth-child(3n+4){
        margin-left: 0;
       }
       &:first-child{
       	margin-left: 0;
       }
		}

		@media (min-width:$screen-lg-desktop) {
			width: 31%;

		}

		.go-logo {
			position: absolute;
			right: 5px;
			top: 5px;
		}

		.name {
			font-size: 20px;

			@media (min-width:$screen-tablet) {
				// height: 44px;
			}

		}

		.more-details {
			font-size: 12px;
			color: $subtext;

			@media (min-width:$screen-tablet) {
			}

		}

		.created-by {
			margin-bottom: 10px;
			display: block;
		}

		.actions {
			background: #dcdcdc;
			padding: 10px 20px;
			@include clearfix;
			transition: all 0.5s ease;
			color: #333;

			.fa {
				margin-right: 3px;
			}

			@media (min-width:$screen-tablet) {
				// position: absolute;
				// bottom: 0;
				// width: 100%;
				// margin: 0;
				// left: 0;
			}

		}

		.with-go,
		.download-plugin {
			float: left;
			color: #333;
			transition: all 0.5s ease;

			a {
				color: #333;
			}

		}

		.github-star-button {
			float: right;
		}

		&:hover {
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
			transition: all 0.5s ease;

			.actions {
				background: $primary-color;
				transition: all 0.5s ease;

				.with-go,
				.download-plugin {
					transition: all 0.5s ease;
					color: #fff;

					a {
						color: #fff;
					}

				}

			}

		}

		&.contribute_tile {
			background: #666666;
			color: #fff;

			a,
			h5 {
				color: #fff;
			}

		}
		&.go{
			@media (max-width:$screen-xs-max) {

			width:100%;
		}
		}

	}

}