<div class="feature-box">
  <h3>Community & Commercial Plugins</h3>
  <figure>
    <%= image_tag "campaign/elastic-agents/icons_plug-point.svg", {:title => "Community & Commercial Plugins", :alt => "Community & Commercial Plugins"} %>
  </figure>
  <p>GoCD has community supported and commercial <a href="https://www.gocd.org/plugins/">Elastic Agent plugins</a>for Docker, Docker Swarm, Marathon and AWS. </p>
</div>
