<div class="feature-box">
  <h3>Optimize Utilization & Save Costs</h3>
  <figure>
    <%= image_tag "campaign/elastic-agents/icons_tick.svg", {:title => "Optimize Utilization & Save Costs", :alt => "Optimize Utilization & Save Costs"} %>
  </figure>
  <p>Use the Elastic Agent capability to spawn and terminate Agents to tailor to your individual projects. Scale flexibly to optimize your utilization and reduce costs.
</p>
</div>
