<div class="feature-box">
  <h3>Elastic Agent API Endpoint</h3>
  <figure>
    <%= image_tag "campaign/elastic-agents/icons_plug.svg", {:title => "Elastic Agent API Endpoint", :alt => "Elastic Agent API Endpoint"} %>
  </figure>
  <p><a href="https://plugin-api.gocd.org/current/elastic-agents/">GoCD’s Elastic Agent extension </a> allows plugin developers to write plugins that allow GoCD to leverage technologies like Docker, AWS, GCE, Kubernetes.</p>
</div>
