---
layout: layout
title: "Elastic Agents"
title_tag_of_header: "Elastic Agents"
page_caption:
meta_description: "GoCD Pipeline Configuration as Code feature allows you to define your build processes as code"
meta_keywords: "pipeline as code, pipelines as code, pipeline as a code, pipeline as code benefits, build as code, gocd pipeline as code, jenkins pipeline as code, config as code"
show_features: true
---
<header class="banner-container ea-banner-container">
  <div class="container">
    <div class="grid-shift">
    <h1 class="banner-container_heading ea-banner_header">
      COST SAVINGS AND INTELLIGENT SCALABILITY WITH GoCD’S ELASTIC AGENTS 
    </h1>

    <p class="banner-container_content ea-banner_desc">
      GoCD operates on a server-agent model where a server communicates with many agents. Agents are the workers in the GoCD ecosystem. Rather than having dedicated idle agents at all times, elastic agents allow you to scale up, with on-demand agents, based on the needs of the pipeline being executed.
    </p>
    </div>
  </div>
</header>


<section class="grid-shift ea-feature-container">
  <div class="container">
    <h2 class="text-center ea-feature_header">OPEN SOURCE PLUGINS</h2>
    <p class="grid-shift ea-feature_desc">
      GoCD has several community supported plugins, allowing you to connect to and configure your agents on both physical and cloud environments. 
    </p>

  <ul class="flex-items-container ea-feature-list">
      <li class="flex-item_sm ea-feature-list_item">
        <h3>Docker</h3>
        <p class="ea-ent-feature-list_desc">
          GoCD Elastic agent plugin for Docker
        </p>
      </li>

      <li class="flex-item_sm ea-feature-list_item">
        <h3>
          Docker Swarm
        </h3>
        <p class="ea-ent-feature-list_desc">
          GoCD Elastic agent plugin for Docker Swarm
        </p>
      </li>

      <li class="flex-item_sm ea-feature-list_item">
        <h3>
          Kubernetes
        </h3>
        <p class="ea-ent-feature-list_desc">
          GoCD Elastic Agent plugin for bringing up GoCD agents on a Kubernetes cluster on demand.
        </p>
      </li>
  </ul>
  <ul class="flex-items-container ea-feature-list">
      <li class="flex-item_sm ea-feature-list_item">
        <h3>
          OpenStack
        </h3>
        <p class="ea-ent-feature-list_desc">
          GoCD Elastic Agent plugin for bringing up GoCD agents on a Kubernetes cluster on demand.
        </p>
      </li>

      <li class="flex-item_sm ea-feature-list_item">
        <h3>
          Marathon
        </h3>
        <p class="ea-ent-feature-list_desc">
          GoCD Elastic agent plugin for Marathon.
        </p>
      </li>
      <li class="flex-item_sm ea-feature-list_item">
        <img src="<%= image_path('gocd-watermark.svg')%>", class="watermark-img" />
      </li>
    </ul>
    <a href="#" class="button-brand"> Get Started </a>
  </div>
</section>


<section class="ea-enterprise-feature">
  <div class="container">
    <div class="grid-shift">
    <h2 class="text-center ea-ent-feature_header"> ENTERPRISE ADD-ONS </h2>
    <p class="ea-ent-feature_desc"> 
      For enterprises, GoCD provides enterprise addons to support Amazon ECS and Microsoft Azure, and allows you to get the most flexibility and financial benefits out of your cloud infrastructure.  
    </p>
    </div>
    <ul class="grid-container ea-ent-feature-list">
      <li class="gird-col-6 ea-ent-feature-list_item">
        <h3 class="ea-ent-feature-list_header">
          Run elastic agents on Amazon ECS
        </h3>
        <p class="ea-ent-feature-list_desc">
          You can configure how many EC2 instances to bring up or reuse, how many ECS elastic agents within these EC2 to bring up, what AMI to use for the EC2 instance, the instance type, security groups, the Docker image for the ECS container and memory limits etc.
        </p>
      </li>

      <li class="gird-col-6 ea-ent-feature-list_item">
        <h3 class="ea-ent-feature-list_header">
          Run elastic agents on Windows Azure
        </h3>
        <p class="ea-ent-feature-list_desc">
          You can configure the plugin to use a Azure virtual network, resource group and region. The elastic profiles can be configured to use an image from Azure marketplace or a custom image from your subscription. You can configure the size of the VM, disk space and more.
        </p>
      </li>
    </ul>
    <a href="#" class="button-brand"> Get Started </a>
  </div>
</section>