---
layout: campaignlanding
title: "Download the CD101 eBook"
title_tag_of_header: "Download the CD101 eBook | GoCD"
page_caption: 
meta_description: ""
meta_keywords: ""
show_features: true
---
<div class="cd101">

  <!-- banner image goes here -->
  <% content_for :banner do %>
      <%= image_tag 'campaign/cd101/cd101-banner2.png', alt: 'Download the CD101 eBook', title: "Download the CD101 eBook" %>
  <% end %>

  <% content_for :maincontent do %>
    <div class="container">

      <div class="col-sm-12">
        <h2> What are the most crucial items for your team?</h2>
      </div>
      
      <div class="col-sm-4">
        <%= image_tag 'campaign/cd101/815-booklet-mockup.jpg', alt: 'Download the CD101 eBook', title: "Download the CD101 eBook" %>
      </div>

      <div class="col-sm-8 content">

        <h3>Want to deploy code faster? React to changes quickly? Release more frequently?</h3>
        
        <p>In this Continuous Delivery 101 eBook, we’ll take you back to the  basics. Inside you’ll find a reference guide with visuals on key concepts.</p>     
      
        <ul>
          <li>What is continuous integration?</li>
          <li>What is continuous delivery and continuous deployment? Are they different?</li>
          <li>What is DevOps and how can you benefit from it?</li>
        </ul>

        <p>We also explore core development practices that are prerequisites for continuous delivery.  And present questions you need to answer honestly about your own people, teams, and organization to determine your readiness for continuous delivery.</p>
      </div>

      <div class="col-md-12 cta">
      <%= link_to 'Download for free and share with your team', "https://www.gocd.org/getting-started/part-1/", {:class => "btn btn-primary campaign-btn-download", "analytics-label" => "campaign-download-cta"} %>
      </div>

    </div>

  <% end %>

</div>
