---
layout: campaignlanding
title: "Continuous Delivery on Kubernetes with GoCD"
title_tag_of_header: "Continuous Delivery on Kubernetes with GoCD"
page_caption:
meta_description: "The GoCD Kubernetes integration allows you to model Docker-based build workflows more effectively."
meta_keywords: "kubernetes, k8s, cloud native, docker, docker in docker, docker workflows, kubernetes pods, gocd kubernetes, kubernetes gocd, continuous delivery"
show_features: true
---

<div class="kubernetes">

  <% content_for :maincontent do %>

    <div class="header">

      <div class="header-text">
        <h1>CONTINUOUS DELIVERY <br/>ON <span class="highlight">KUBERNETES</span> WITH <span class="highlight">GoCD</span></h1>
      </div>

      <div class="cta-row">
        <a href="https://docs.gocd.org/current/gocd_on_kubernetes/introduction.html">
          <div class="cta-button">
            <h3>GET STARTED NOW</h3>
          </div>
        </a>

        <a href="https://hub.kubeapps.com/charts/stable/gocd" TARGET="_blank">
          <div class="cta-button-ghost">
            <h3>GoCD HELM CHART</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="container intro-section">
      <div class="row intro-row">
        <div class="col-md-5 intro-text">
          <h1>Visualize and Model<br/>Complex Workflows</h1>
          <p>GoCD supports continuous delivery out of the box with its built-in pipelines, advanced traceability and value stream visualization. With GoCD, you can easily model, orchestrate and visualize complex workflows from end to end. GoCD supports modern infrastructure and cloud deployments.</p>
        </div>
        <div class="col-md-7">
          <%= image_tag "campaign/kubernetes/ui_illo_commercial_2.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'ui-illo'} %>
        </div>
      </div>

      <div class="hr"></div>
    </div>

    <div class="gr8t-section">
      <div class="container">
        <div class="row gr8t-row">
          <div class="col-md-8 col-md-offset-2 gr8t-text">
           <h1>GoCD’s Native Integrations for Kubernetes</h1>
            <p>GoCD gives you the flexibility to effectively represent CD pipelines that model your organization’s processes. Kubernetes gives you a highly programmable delivery infrastructure platform. Together they provide the premiere continuous delivery tool on modern infrastructure.</p>
            <p>With GoCD running on Kubernetes, you define your build workflow and let GoCD provision and scale build infrastructure on the fly. The GoCD Kubernetes integration allows you to model Docker-based build workflows more effectively.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="feature-section">
      <div class="container">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= image_tag "campaign/kubernetes/k8s-diagram.svg", {:title => "GoCD illustration", :alt => "GoCD Value Stream Map", :class => 'illo'} %>
          </div>
        </div>

        <div class="row feature-row">

          <div class="col-md-4 feature">
            <h3>Run GoCD Natively on Kubernetes</h3>
            <ul>
              <li>GoCD Helm chart with official GoCD Docker images makes setup simple</li>
              <li>GoCD installs as a Kubernetes native application allowing for ease of operations</li>
              <li>Ease of maintenance with simple upgrade process using Helm</li>
            </ul>
          </div>


          <div class="col-md-4 feature">
            <h3>Build Infrastructure Scales Elastically</h3>
            <ul>
             <li>Introduces a new elastic agent for Kubernetes that dynamically scales GoCD agents</li>
             <li>The elastic agent uses Kubernetes conventions to  scale as needed</li>
             <li>GoCD agents now support Docker in Docker, eliminating the need for specialized setup on  agents</li>
            </ul>
          </div>

          <div class="col-md-4 feature">
            <h3 class="coming-soon">Model Deployments to Kubernetes<br/><span class="small"></span></h3>
            <ul>
              <li>Model deployments for your containerized applications to Kubernetes</li>
              <li>First class integration with Docker registries</li>
              <li>Compose, track, and visualize deployments on Kubernetes</li>
            </ul>
          </div>
        </div>

        <div class="hr"></div>
      </div>
    </div>

    <div class="cta-section">
      <h1>Get Started with GoCD on Kubernetes</h1>
      <div class="cta-row">
        <a href="https://docs.gocd.org/current/gocd_on_kubernetes/">
          <div class="cta-button">
            <h3>GET STARTED NOW</h3>
          </div>
        </a>
        <a href="https://hub.kubeapps.com/charts/stable/gocd" TARGET="_blank">
          <div class="cta-button-ghost">
            <h3>GoCD HELM CHART</h3>
          </div>
        </a>
      </div>
    </div>

  <% end %>
</div>
