---
layout: campaignlanding
title: "Download the Actionable Continuous Delivery Metrics eBook"
title_tag_of_header: "Free Guide - Actionable Continuous Delivery Metrics | GoCD"
page_caption: 
meta_description: ""
meta_keywords: ""
show_features: true
---
<div class="ebook-cd-analytics">

  <!-- banner image goes here -->
  <% content_for :banner do %>
      <%= image_tag 'campaign/ebook-cd-analytics/ebook-analytics-banner.jpg', alt: 'Download the CD101 eBook', title: "Download the CD Analytics eBook", class: "ebook-cd-analytics-banner" %>
  <% end %>

  <% content_for :maincontent do %>
    <div class="container">

      <div class="row">
        <div class="col-sm-12 ebook-cd-analytics-header">
          <h1>Free Guide: Use Metrics to Improve Your CD Process</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 analytics-mockup-container">
          <%= image_tag 'campaign/ebook-cd-analytics/w-analytics-mockup.png', alt: 'Download the CD Analytics eBook', title: "Download the CD Analytics eBook", class: "analytics-mockup" %>
        </div>

        <div class="col-md-8 ebook-cd-analytics-content">          
          <p>Want to deliver faster? Want to recover from failures more quickly? Want to improve your cycle time?</p>

          <p>This Actionable Continuous Delivery Metrics eBook will provide you insight into your software delivery pipeline, and help you to improve your delivery and team processes. Inside you will find:
          </p>
        
          <ul>
            <li>Why measuring and monitoring your CD pipeline is important</li>
            <li>What metrics matters when improving your path to production</li>
            <li>A guide to using metrics to improve your CD process</li>
          </ul>
        </div>
      </div>

      <div class="row ebook-cd-analytics-cta">
        <div class="col-md-6">
        <%= link_to 'Download Free eBook', "/assets/images/campaign/ebook-cd-analytics/ebook-cd-analytics.pdf", {:class => "btn btn-primary campaign-btn-download_lg", "analytics-label" => "campaign-download-cta"} %>
        </div>
        <div class="col-md-6">
          <%= link_to 'Download Plugin', '../plugins/index.html', {:class => "btn btn-primary campaign-btn-download_lg ebook-cd-analytics-btn-2", "analytics-label" => "campaign-download-cta"} %>
        </div>
      </div>

  </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-571784c91d5449dd"></script>
    <% end %>
</div>
