---
layout: layout
title: Interactive GoCD Demo
title_tag_of_header: "Test Drive GoCD"
meta_description: ""
meta_keywords: ""
---

<div class="header-bg">
  <h1 class="content-header">Test Drive GoCD</h1>
  <div class="content-subheader">
    <h3>Looking for a quick way to evaluate GoCD? Try out our test drive below.</h3>
    <p class="small">Note: This is for evaluation purposes only and not suitable for production.</p>
  </div>
</div>

<div class="content-container container">
  <section class="content-lt">
    <div>
      <ul class="steps-list">
        <li class="steps-list_item">
          <h2 class="steps-heading">
            Step 1: Download it.
          </h2>
        </li>

        <li class="steps-list_item">
          <%= image_tag "https://media.giphy.com/media/1Be4fZC14G7VY4GrCa/giphy.gif", class: "img-responsive unzip"%>
        </li>

        <li class="steps-list_item">
          <h2 class="steps-heading">
            Step 3: Run it.
          </h2>
        </li>

        <li class="steps-list_item">
          <%= image_tag  "../assets/images/campaign/test-drive/gocd-test-drive-w.gif", class: "img-responsive test-drive-screenshot" %>
        </li>
      </ul>
    </div>



  </section>

  <section class="content-rt">
    <div>
      <ul class="steps-list">
            <li class="steps-list_item">
              <div class="download-test-drive-links">
                <div class="load-message">
                  <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
                  <span>Fetching download package information&hellip;</span>
                </div>
              </div>

              <div class="download-hint"></div>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 2: Unzip it.
              </h2>
            </li>

            <li class="steps-list_item">
              Mac OS/Linux:
              <pre class="terminal">
                <code><span class="comment"># cd into the unzipped directory</span>
                <span class="prompt">$</span> ./run-gocd</code>
              </pre>

              Windows:
              <pre class="terminal">
                <code><span class="comment">;; cd into the unzipped directory</span>
                <span class="prompt">C:\gocd></span> run-gocd.exe</code>
              </pre>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 4: Try it.
              </h2>
              <p>Click on the "Add Pipeline" button to create and run your first pipeline in GoCD.</p>
              <p>Once you've completed your first pipeline, you'll have the opportunity to look under the hood at your build. </p>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 5: Be amazed.
              </h2>

              Like what you see? GoCD is open source and free to use. Just follow <%= link_to 'these instructions', "/download/index.html" %> to move your test drive to production.
            </li>
          </ul>
    </div>
  </section>
</div>
