---
layout: layout
title: Interactive GoCD Demo
title_tag_of_header: "Test Drive GoCD"
meta_description: ""
meta_keywords: ""
---

<div class="header-bg">

</div>

<div class="content-container container">

<section class="content-lt">

    <%= image_tag  "../assets/images/campaign/test-drive/gocd-test-drive-w.gif", class: "img-responsive test-drive-screenshot" %>

    <div class="container-actions link-desktop">
          <%= link_to "Visit the Github Repo", 'https://github.com/gocd/gocd-trial', class: 'button-brand' %>
    </div>

  </section>

  <section class="content-rt">
    <h1 class="content-header">Get Started with GoCD in 5 Minutes</h1>
    <%= image_tag  "../assets/images/campaign/test-drive/gocd-test-drive-w.gif", class: "img-responsive hide-mob-desktop test-drive-screenshot"%>
    <div class="steps-list">
      <ul class="steps-list">
            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 1:
              </h2>
              <h2 class="steps-heading">
                Download it.
              </h2>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 2:
              </h2>
              <h2 class="steps-heading">
                Try it.
              </h2>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 3:
              </h2>
              <h2 class="steps-heading">
                Be Amazed.
              </h2>
            </li>

            <li class="steps-list_item">
              <h2 class="steps-heading">
                Step 4:
              </h2>
              <h2 class="steps-heading">
                Profit!
              </h2>
            </li>
          </ul>
    </div>

    <div class="container-actions link-mobile">
          <%= link_to "Visit the Github Repo", 'https://github.com/gocd/gocd-trial', class: 'button-brand' %>
          <p class="actions_note">
              Please note: If you like the test drive, remember GoCD is open source and free to use. Just follow <a href="https://github.com/gocd/gocd-trial#next-steps">these instructions</a>to move your test drive to production.
              <br />
              This trial does not currently work on Docker for Windows.
          </p>
    </div>
  </section>
</div>
