<div class="feature-box">
  <h3>STEP 3: Install GoCD and get started!</h3>
  <figure>
    <%= image_tag "icons/go.cd_see-how-things-really-work.svg", {:title => "Visualize your workflow with continuous delivery value stream map", :alt => "Visualize your workflow with continuous delivery value stream map"} %>
  </figure>
  <p>Use our recipes to install and run the GoCD server and agent. Once you have, GoCD is set up and ready to use.</p>
</div>
