<div class="feature-box">
  <h3>Step 1: Add the Cookbook</h3>
  <figure>
    <%= image_tag "icons/go.cd_model-complex-workflows.svg", {:title => "Model complex workflows and dependency management", :alt => "Model complex workflows and dependency management"} %>
  </figure>
  <p>Add the cookbook to your Chef Server, either by installing with knife or by adding it to your Berksfile.</p>
</div>
