<div class="feature-box">
  <h3>STEP 2: Configure Server & Agent</h3>
  <figure>
    <%= image_tag "icons/go.cd_compare-builds.svg", {:title => "Compare builds - continuous delivery deployment pipelines", :alt => "Compare builds - continuous delivery deployment pipelines"} %>
  </figure>
  <p>Change the default configuration or attributes of your GoCD server and agent.</p>
</div>
