<div class="feature-box">
  <h3>STEP 2: Configure Server and Agent</h3>
  <figure>
    <%= image_tag "campaign/chef/configure.png", {:title => "Configure server and agent", :alt => "Configure server and agent"} %>
  </figure>
  <p>Change the default configuration or attributes of your GoCD server and agent.</p>
</div>
