<div class="feature-box">
  <h3>STEP 3: Install GoCD and get started!</h3>
  <figure>
    <%= image_tag "campaign/chef/install.png", {:title => "Install GoCD", :alt => "Install GoCD"} %>
  </figure>
  <p>Use our recipes to install and run the GoCD server and agent. Once you have, GoCD is set up and ready to use.</p>
</div>
