<div class="feature-box">
  <h3>Step 1: Add the Cookbook</h3>
  <figure>
    <%= image_tag "campaign/chef/cookbook.png", {:title => "Add the Cookbook", :alt => "Add the Cookbook"} %>
  </figure>
  <p>Add the cookbook to your Chef Server, either by installing with knife or by adding it to your Berksfile.</p>
</div>
