
.analytics-fb-header-container {
  background: $dark url("");
  height: 200px;
  width: 100%;

  @media (min-width: $screen-md) {
    height: 200px;
  }

  @media (min-width: $screen-lg) {
    height: 237px;
  }
}

.analytics-fb-header {
  font-size: 30px;

  @media (min-width: $screen-md) {
    font-size: 38px;
  }

  @media (min-width: $screen-lg) {
    font-size: 48px !important;
  }
}

.analytics-fb-header_desc {
  font-size: 18px;

  @media (min-width: $screen-md) {
    font-size: 22px;
  }
}

.registration-closed-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registration-closed-content {
  h2 {
    text-align: center;
  }

  @media (min-width: $screen-sm) {
    width: 50vw;
  }
  @media (max-width: $screen-sm) {
    margin: 20px 20px 60px 20px;
  }
}



