.blog-list {
  padding: 0;
}

.rss-feed {
  background: url(/assets/images/rss-icon.png) no-repeat 0 0;
  color: #fff;
  height: 32px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  padding-left: 40px;
  margin-top: 10px;

  @media (min-width:$screen-tablet) {
    margin-top: 0;
    bottom: 10px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    color: #fff;
  }

}

.blog-details {
  background: $gray-lighter;
  border-top: 5px solid #fff;
  position: relative;
  padding: 10px 20px 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 0;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.75);

    @media (min-width:$screen-tablet) {
    height: 239px;
  }
  .latest-blog & {
      @media (min-width:$screen-tablet) {
    height: 197px;
  }
     @media (min-width:$screen-desktop) {
        height: 258px;
      }
  }

}

.post-title {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  // @include ellipsis-txt(460px, 16px, 1.4, 2);

  .latest-blog & {
    // @include ellipsis-txt(460px, 16px, 1.4, 2);
    font-size: 16px;
    @media (min-width:$screen-tablet) {
      // @include ellipsis-txt(680px, 16px, 1.4, 2);
      font-size: 16px;
    }

    @media (min-width:$screen-desktop) {
      // @include ellipsis-txt(720px, 17px, 1.4, 2);
      font-size: 17px;
    }

  }

}

.excerpt {
  @include ellipsis-txt(460px, 14px, 1.4, 3);
  color: #333;

  .latest-blog & {
    @media (min-width:$screen-tablet) {
      @include ellipsis-txt(680px, 14px, 1.4, 2);
    }

    @media (min-width:$screen-desktop) {
      @include ellipsis-txt(720px, 16px, 1.4, 2);
    }

    @media (min-width:$screen-lg-desktop) {
      @include ellipsis-txt(1140px, 16px, 1.4, 2);
    }

  }

}

.posts {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;

  li {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
    overflow: hidden;

    @media (min-width:$screen-tablet) {
      width: 50%;
    }

    @media (min-width:$screen-desktop) {
      width: 33.33%;
    }

    &.latest-blog {
      width: 100%;

      @media (min-width:$screen-tablet) {
        width: 100%;
      }

      @media (min-width:$screen-desktop) {
        width: 66.6%;
      }

      figure {
        height: 114px;

        @media (min-width:$screen-tablet) {
          height: 197px;
        }

        @media (min-width:$screen-desktop) {
          height: 261px;
        }

      }

    }

  }

  figure {
    height: 114px;
    position: relative;
    overflow: hidden;
    background: #fff;

    @media (min-width:$screen-tablet) {
      height: 145px;
    }

    @media (min-width:$screen-desktop) {
      height: 114px;
    }

    @media (min-width:$screen-lg-desktop) {
      height: 153px;
    }

    img {
      max-width: 100%;
    }

  }

}

// blog post

.blog-post {
  li,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }

  h2 {
    font-size: 20px;
  }

  figure {
    position: relative;
    margin-top: 30px;
  }

  h3 {
    font-size: 17px;
  }

  pre {
    overflow-x: scroll;
    background-color: #eee;
    padding: 10px;
  }

  .attribution {
    position: absolute;
    right: 0px;
    bottom: 7px;

    a {
      font-size: 10px;
      color: $gray-light;
    }

  }

  #disqus_thread {
    padding-top: 3em;
  }

  .draft-banner {
    height: 2em;
    width: 100%;
    background-color: red;
    color: white;
    padding: 3px;
  }

}

.blog-post-header {
  border-bottom: 1px solid $border;
  margin: 10px 0;
  text-transform: none;

  @media (min-width:$screen-desktop) {
    margin: 30px 0 0;
  }

  h1 {
    text-transform: none;
    font-size: 25px;
  }

}

.section-title {
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}

.post-date {
  font-size: 12px;
  color: $gray-light;
  display: block;
}

.post-author {
  font-weight: 400;
  font-size: 13px;
  color: $gray;
}

.recent-ariticles {
  li {
    border-top: 1px solid $border;
    padding: 10px 0;

    &:first-child {
      border: 0;
    }

  }

}

.post-sidebar {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #333;

  @media (min-width:$screen-desktop) {
    border: 0;
    padding-top: 0;
  }

  section {
    margin-bottom: 30px;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 22px;
    }

  }

  a {
    display: block;
    color: #333;

    &:hover {
      text-decoration: underline;
    }

    &.normal-link {
      color: #4a90e2;
    }
  }

}

//style expiriments

.post-summary {
  border-bottom: 1px solid $border;
  overflow: hidden;

  @media (min-width:$screen-tablet) {
    border: 1px solid $border;
    border-radius: 5px;
  }

  .post-summary-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      height: 100%;
      width: 100%;
    }

  }

  .blog-details {
    background: #fff;
  }

  .latest-blog & {
    > .post-link{
       float: left;
      @media (min-width:$screen-tablet) {
        width: 55%;
      }

      @media (min-width:$screen-lg-desktop) {
        width: 66%
      }
    }

     .post-summary-image {
       border-top-right-radius:0;


    }
    >a{
      display: block;
      overflow: hidden;
    }

    .blog-details {
      float: left;

      @media (min-width:$screen-tablet) {
        width: 45%;
      }

      @media (min-width:$screen-lg-desktop) {
        width: 34%
      }

    }

  }

}

.blogs {
  list-style-type: none;
  margin: 0 -10px;
  padding: 0;

  .item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 100%;

    @media (min-width:$screen-sm) {
      width: calc(50% - 3px);
    }

    @media (min-width:$screen-md) {
      width: calc(33.3% - 3px);
    }

  }

}

.blog-list-item {
  margin-bottom: 15px;

  @media (min-width:$screen-tablet) {
    margin: 50px auto 30px;
  }

  figure {
    height: 114px;
    position: relative;
    overflow: hidden;
    background: #fff;
    display: none;

    @media (min-width:$screen-tablet) {
      height: 145px;
      display: block;
    }

    @media (min-width:$screen-desktop) {
      height: 114px;
    }

    @media (min-width:$screen-lg-desktop) {
      height: 153px;
    }

    img {
      max-width: 100%;
    }

  }

  &.latest-blog {
    // margin-top: 30px;

    figure {
      height: 114px;

      @media (min-width:$screen-tablet) {
        height: 197px;
      }

      @media (min-width:$screen-desktop) {
        height: 258px;
      }

      @media (min-width:$screen-lg-desktop) {
        height: 375px;
      }

    }

  }

}

.blog_index .go,
.blog-post .go {
  text-transform: none;
}

.tags {
  margin-bottom: 0px;
  font-size: 13px;
}

.tag {
  display: inline-block;
  position: relative;
  background: #ccc;
  border-radius: 3px 0 0 3px;
  color: #000;
  padding: 0 20px 0 23px;
  margin-right: 5px;
  text-decoration: none;
  max-width: 520px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;

  &:before {
    background: #fff;
    border-radius: 10px;
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 6px;
  }

  &:after {
    background: #fff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ccc;
    border-top: 10px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover {
    background-color: #94399E;
    color: white;

    &:after {
      border-left-color: #94399E;
    }

  }

}

.info_txt {
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  display: block;
}

.blog-post-main-container{
  padding:5px 0;
  @media (min-width:$screen-tablet) {
    padding:15px 0;
  }

  p {
    font-size: 18px;  
    line-height: 1.5;
    letter-spacing: .1px;
    color: #333333;
    @media (min-width: $screen-lg) {
      font-size: 20px;
    }
  }
}

.blog-post {
  .cornered-banner {
    @media (min-width: $screen-md) {
      width: 100%;
    }
  
    @media (min-width: $screen-lg) {
      width: 100%;
    }
  
    @media (min-width: $screen-xl) {
      width: 766px;
      margin: 40px 50px 10px;
    }
  }

  .cornered-banner_content { 
    width: 100%;
    margin: 0 14px;
    text-align: center;

    @media (min-width: $screen-md) {
      width: 60%;
      text-align: left;
    }
    
    @media (min-width: $screen-lg) {
      margin: 0 25px;
    }
  }
}
