.campaign-banner{
  position:relative;
    .banner-content {
    padding:10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    min-width: 300px;
    max-width: 300px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -62%);
    background: rgba(0, 0, 0, 0.63);
    font-weight: 400;

    @media (min-width:$screen-tablet) {
      transform: translate(-50%, -50%);
      width: 575px;
      max-width: 575px;
      padding:40px;
    }

    @media (min-width:$screen-desktop) {
      width: 775px;
      max-width: 775px;
      transform: translate(-50%, -50%);
    }

    @media (min-width:$screen-lg-desktop) {
      width: 880px;
      max-width: 880px;
      transform: translate(-50%, -50%);
    }

  }
  h1{
    color:#fff;
    margin:0;
    font-size:20px;
    line-height:27px;
    @media (min-width:$screen-tablet) {
     font-size:34px;
    line-height:40px;
    }

    @media (min-width:$screen-desktop) {
     
    }

    @media (min-width:$screen-lg-desktop) {
     
    }
  }
}

.campaign-btn-download {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-top: 30px;
    @media (min-width:$screen-tablet) {
     
    }

    @media (min-width:$screen-desktop) {
     
    }

    @media (min-width:$screen-lg-desktop) {
     
    }
}

h2.campaign-feature-title {
    margin: 20px 0 30px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
.row.campaign-body {
    margin: 50px 0;
}



// main-features


.main-features {
  figure {
    margin-bottom: 30px;

    @media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
      float: left;
      margin: 0;
      width: 40%;
    }

    @media (min-width:$screen-desktop) {
      margin-bottom: 30px;
    }

    img {
      max-width: 276px;
      max-height: 140px;
      min-height: 140px;

      @media (min-width:$screen-tablet) {
        width: 240px;
      }

    }

  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;

    @media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
      float: right;
      width: 55%;
      text-align: left;
      margin: 0 0 20px 0;
    }

    @media (min-width:$screen-desktop) {
      height: 50px;
      margin: 0 0 20px 0;
      float: none;
      width: auto;
    }

  }

  p {
    @media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
      text-align: left;
      float: right;
      width: 55%;
    }

  }

  .features {
    // text-align: center;

    .feature-box {
      @media (min-width:$screen-tablet) and (max-width:$screen-md-min) {
        border-bottom: 1px dashed $border;
        width: 100%;
        float: left;
        padding: 30px 0;
      }

    }

    p {
      border-bottom: 1px dashed $border;
      padding-bottom: 20px;

      @media (min-width:$screen-tablet) {
        // text-align: left;
        border: 0;
      }

    }

  }

  .see-all-features {
    width: 230px;
    margin: 30px auto 40px;
    display: block;

    @media (min-width:$screen-tablet) {
      margin: 30px auto;
    }

  }

}




.section{
  padding:40px 0 60px;
  h1.main-caption{
        font-size: 28px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .main-desc{
    text-align: center;
    display: block;
  }
}