.campaign-banner{
  position:relative;
    .banner-content {
    padding:10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    min-width: 300px;
    max-width: 300px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -62%);
    background: rgba(0, 0, 0, 0.63);
    font-weight: 400;

    @media (min-width:$screen-tablet) {
      transform: translate(-50%, -50%);
      width: 575px;
      max-width: 575px;
      padding:40px;
    }

    @media (min-width:$screen-desktop) {
      width: 775px;
      max-width: 775px;
      transform: translate(-50%, -50%);
    }

    @media (min-width:$screen-lg-desktop) {
      width: 880px;
      max-width: 880px;
      transform: translate(-50%, -50%);
    }

  }
  h1{
    color:#fff;
    margin:0;
    font-size:20px;
    line-height:27px;
    @media (min-width:$screen-tablet) {
     font-size:34px;
    line-height:40px;
    }

    @media (min-width:$screen-desktop) {
     
    }

    @media (min-width:$screen-lg-desktop) {
     
    }
  }
}

.campaign-btn-download {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-top: 30px;
    @media (min-width:$screen-tablet) {
     
    }

    @media (min-width:$screen-desktop) {
     
    }

    @media (min-width:$screen-lg-desktop) {
     
    }
}

h2.campaign-feature-title {
    margin: 20px 0 30px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
.row.campaign-body {
    margin: 50px 0;
}