.mapcontainer {
  & {
    margin: 25px 0 25px;
  }

  svg path {
    fill: rgba(190, 195, 202, 0.63);
    stroke-width: 0.5;
  }

  circle[data-id*='city-'] {
    fill: #712b79;
  }

  .map {
    position: relative;
  }

  .mapTooltip {
    position : absolute;
    background-color : #fff;
    moz-opacity:0.70;
    opacity: 0.70;
    filter:alpha(opacity=70);
    border-radius:10px;
    padding : 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
  }
  .container {
    margin:auto;
  }

  body {
    font-family:Helvetica,Arial,sans-serif;
  }

  h1 {
    color:#5d5d5d;
    font-size:30px;
  }

  .zoomIn, .zoomOut {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    width: 25px;
    height: 25px;
    line-height:  25px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    position: absolute;
    top: 0px;
    right: 10px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .zoomOut {
    top: 30px;
  }
}

.contribution-process {
  background: rgba(148, 57, 158, 1);
  background: linear-gradient(135deg, rgba(37, 26, 39, 0.95), 0%, rgba(56, 28, 60, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94399e', endColorstr='#381c3c', GradientType=1);
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 40px 0;
  @include clearfix;

  @media (min-width:$screen-tablet) {
    background: url(/assets/images/texture-bg.jpg) no-repeat center top;
    margin: 0 0 50px 0;
    background-size: cover;
  }

  h3 {
    margin: 0px 0 30px;
    font-size: 24px;
    color: #fff;
    text-align: center;

    @media (min-width:$screen-tablet) {
      margin: 30px 0;
      font-size: 40px;
    }

  }
}

.contribute {
  .content-tiles {
    h3 {
      @media (min-width:$screen-lg-desktop) {
        height: 48px;
      }

    }

    img {
      width: 100px;
    }

  }

}

.process {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width:$screen-tablet) {
    float: right;
  }

  @include clearfix;

  &.second {
    margin-top: 50px;

    li {
      &:before {
        content: "\f175";

        @media (min-width:$screen-tablet) {
          content: "\f177"''
        }

        &:first-child {
          &:before {
            content: "\f175";
          }

        }

      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  li {
    width: 200px;
    height: 200px;
    margin: 0  auto 50px auto;
    position: relative;

    @media (min-width:$screen-tablet) {
      margin: 0  10px 40px 0;
      float: left;
      width: 170px;
      height: auto;
    }

    @media (min-width:$screen-desktop) {
      margin: 0  50px 40px 0;
      width: 185px;
      height: auto;
    }

    @media (min-width:$screen-lg-desktop) {
      float: left;
      width: 234px;
    }

    &:before {
      content: "\f175";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 30px;
      position: absolute;
      top: -76px;
      left: 94px;

      @media (min-width:$screen-tablet) {
        top: 21px;
        left: -17px;
        content: "\f178";
      }

      @media (min-width:$screen-desktop) {
        top: 43px;
        left: -40px;
        content: "\f178";
      }

    }

    &:first-child {
      &:before {
        content: "";
      }

    }

    span {
      text-align: center;
      display: block;

      &:first-child {
        background: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto 10px;
        line-height: 100px;

        img {
          width: 50px;
        }

        @media (min-width:$screen-tablet) {
          margin: 0 auto 30px;
          width: 70px;
          height: 70px;
          line-height: 70px;

          img {
            width: 30px;
          }

        }

        @media (min-width:$screen-desktop) {
          width: 100px;
          height: 100px;
          line-height: 100px;

          img {
            width: 50px;
          }

        }

      }

    }

    &.lastitem {
      &:before {
        content: "\f0ec";
        transform: rotate(90deg);

        @media (min-width:$screen-tablet) {
          transform: rotate(0deg);
        }

      }

      &:after {
        content: "\f175";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        position: absolute;
        top: 200px;
        left: 95px;

        @media (min-width:$screen-tablet) {
          left: 78px;
          top: 152px;
        }

        @media (min-width:$screen-desktop) {
          left: 86px;
          top: 185px;
        }

        @media (min-width:$screen-lg-desktop) {
          left: 113px;
        }

      }

    }

  }

}

.howto {
  margin: 30px 0;

  @media (min-width:$screen-lg-desktop) {
    margin: 50px 0;
  }
}