.download-area {
  // background: url(/assets/images/texture-bg.jpg) no-repeat center top;
  background: url(/assets/images/texture-bg-grey.jpg) no-repeat center top;
  // background: url(/assets/images/brickwall.png) repeat 0 0;
  background-size: cover;
  padding: 50px 0 0;
  margin-top: 30px;
  @include clearfix;

  @media (min-width:$screen-tablet) {
    margin-top: 50px;
  }

  .sub-title {
    margin: 0 0 10px;
    text-align: center;
  }

  .info {

    text-align: center;
  }

}

.note {
  .download & {
    text-align: center;

    span {
      font-size: 13px;
      display: block;

      @media (min-width:$screen-tablet) {
        display: inline-block;
      }

      @media (min-width:$screen-desktop) {
        display: block;
      }

    }

  }

}

.warning {
  padding: 10px;
  margin: 10px 0 0 0;
  background: rgba(235, 33, 33, 0.15);
  position: relative;
  @extend %flexbox;
  @include justify-content(flex-start);
  @include align-items(center);

  .fa {
    font-size: 20px;
    margin: 0 10px;
    color: rgba(255, 0, 0, 0.62);
  }

}

.release {
  border-bottom: 1px solid $border;

  .latest & {
    border: 0;
  }

}

.files {
  overflow: hidden;
  padding:20px 0;
  @media (max-width:$screen-xs-min) {
    padding: 20px 0;
  }
  @media (min-width:$screen-tablet) {
    padding: 20px 0 20px 60px;
  }

  .file {
    float: left;

    .others & {
      border-bottom: 1px solid #ccc;
    }

    .name {
      float: left;
    }
    .btn{
      width:97px;
    }

    .verify {
      border: 0;
      background: transparent;
      cursor: pointer;
      margin-top: 4px;

      &:active {
        outline: 0;
      }

    }

    .verify-checksum {
      float: left;
      font-size: 13px;
    }

  }

  .server {

    @media (max-width:$screen-xs-min) {
      margin-bottom: 10px;
    }
      @media (min-width:$screen-tablet) {

    margin-right: 50px;
  }

    a {
      .fa {
        &:after {
          content: "Server";
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #fff;
          margin-left: 10px;
        }

      }

    }

  }

  .agent {
    a {
      .fa {
        &:after {
          content: "Agent";
          font-size: 16px;
          font-family: 'Open Sans', sans-serif;
          color: #fff;
          margin-left: 10px;
        }

      }

    }

  }

}

.verify-checksum-message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  padding: 30px;
  background: rgba(0, 0, 0, 0.80);
  left: 0;

  @media (min-width:$screen-tablet) {
  }

  .content {
    @media (max-width:$screen-xs-min) {
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: auto;
      right: 0;
    }

    font-size: 14px;
    border: 1px solid #333;
    background: #fff;
    position: absolute;
    padding: 30px;
    color: #333;

    @media (min-width:$screen-tablet) {
      width: 90%;
      width: 100%;
      transform: translateY(-50%);
      left:0;
      top: 50%;
    }
        @media (min-width:$screen-desktop) {
      width: 90%;
      width: 800px;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }

    .code {
      width:735px;
      .commands,
      .prompts,
      .results {
        display: inline-block;
        font-family: monospace;
        white-space: normal;
        background: #000;
        font-size: 14px;
        color: #fff;
      }

      .prompts {
        color: #777;
        float: left;
        width: 14%;
        margin: 10px 0 0 0;
        padding: 10px 10px 0 10px;
      }

      .commands {
        float: right;
        width: 86%;
        margin: 10px 0 0 0;
        padding: 10px 10px 0 10px;
      }

      .results {
        clear: both;
        margin: 0 0 10px 0;
        padding: 0 0 0 10px;
        width: 100%;
      }

    }

  }

}

.close-message {
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 20px;
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: 700;
  color: #555;
  cursor: pointer;

  @media (max-width:$screen-xs-min) {
    position: fixed;
  }

}

.o-h {
  overflow: hidden;
}

.other-releases {
  position: relative;
  margin: 20px auto;

  @media (min-width:$screen-lg-desktop) {
    width: 70%;
  }

  .btn-release {
    border-radius: 10px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 0px 10px;
    position: relative;
    // left: 0;
    margin-left: 0;
    color: #777;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    display: block;

    &:active,
    &:focus {
      outline: 0;
    }

    &.hide-old-release {
    }

  }

}

.old-release {
  display: none;
}

.go-releases,
.old-release {
  @media (min-width:$screen-lg-desktop) {
    width: 70%;
    margin: 0 auto;
  }

}

.version {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  height: 42px;
  line-height: 40px;
  display: block;
  margin-top: 16px;
  width: 120px;
  text-align: center;
  color: #555;
  font-size: 16px;

  @media (min-width:$screen-tablet) {
    float: left;
    width: 140px;
  }

  &:after,
  &:before {
    @media (min-width:$screen-tablet) {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

  }

  &:after {
    @media (min-width:$screen-tablet) {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: #ffffff;
      border-width: 20px;
      margin-top: -20px;
    }

  }

  &:before {
    @media (min-width:$screen-tablet) {
      border-color: rgba(204, 204, 204, 0);
      border-left-color: #cccccc;
      border-width: 21px;
      margin-top: -21px;
    }

  }

}

.not-loaded {
  text-align: center;
  margin: 40px 0 0;
}

.load-message {
  text-align: center;
  margin: 30px 0;

  span {
    display: block;
  }

}