body.download {
  margin-top: 66px;
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .go {
    text-transform: none;
  }
  .download-area {
    .info {
      text-align: center;
      background: #f5f5f5;
      padding: 0px 10px;
      font-size: 14px;
    }
  }
  .note {
    .download & {
      text-align: center;
      span {
        font-size: 13px;
        display: block;
        @media (min-width: $screen-tablet) {
          display: inline-block;
        }
        @media (min-width: $screen-desktop) {
          display: block;
        }
      }
    }
  }
  .warning {
    padding: 10px;
    margin: 10px 0 0 0;
    background: rgba(235, 33, 33, 0.15);
    position: relative;
    @extend %flexbox;
    @include justify-content(flex-start);
    @include align-items(center);
    .fa {
      font-size: 20px;
      margin: 0 10px;
      color: rgba(255, 0, 0, 0.62);
    }
  }
  .release {
    border-bottom: 1px solid $border;
    .latest & {
      border: 0;
    }
  }
  .files {
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    .file-not-available {
      text-align: center;
    }
    .file {
      float: left;
      margin-bottom: 10px;
      .others & {
        border-bottom: 1px solid $border;
      }
      .verify {
        border: 0;
        background: transparent;
        cursor: pointer;
        margin-top: 4px;
        padding-left: 0;
        &:active {
          outline: 0;
        }
      }
      .verify-checksum {
        text-align: center;
        font-size: 13px;
      }
      &.server {
        margin-right: 15px;
        @media (min-width: $screen-tablet) {
          margin-right: 35px;
        }
        @media (min-width: $screen-lg-desktop) {
          margin-right: 35px;
        }
      }
    }
    .btn {
      width: 97px;
      position: relative;
    }
    span.bit {
      position: absolute;
      top: -19px;
      color: #333;
      padding: 1px 6px;
      font-size: 11px;
      text-align: right;
      border: 1px solid $primary-color;
      display: block;
      right: 5px;
      border-radius: 3px 3px 0 0;
    }
    .server32bit,
    .server {
      margin: 0 15px 15px 0;
      @media (min-width: $screen-tablet) {
        margin-right: 35px;
      }
      @media (min-width: $screen-lg-desktop) {
        margin-right: 35px;
      }
      a {
        .fa {
          span {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            color: $primary-color;
            margin-left: 10px;
            span {
              background: #fff;
              color: #000;
              padding: 3px 5px;
              font-weight: bold;
              display: inline-block;
              margin: 5px 0 0 0;
              border-radius: 4px;
              font-size: 9px;
            }
          }
        }
      }
    }
    .agent32bit,
    .agent {
      a {
        .fa {
          span {
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            color: $primary-color;
            margin-left: 10px;
            span {
              background: #fff;
              color: #000;
              padding: 3px 5px;
              font-weight: bold;
              display: inline-block;
              margin: 5px 0 0 0;
              border-radius: 4px;
              font-size: 9px;
            }
          }
        }
      }
    }
  }
  .latest {
    .btn {
      width: 140px;
      padding: 10px 0;
      @media (min-width: $screen-lg-desktop) {
        width: 150px;
      }
    }
    .fa {
      display: none;
    }
    .notes {
      margin: 20px 0;
      .imp {
        color: $primary-color;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 400;
      }
      .small {
        font-size: 12px;
      }
    }
  }
  .old-release .server.file {
    margin-right: 15px;
    @media (min-width: $screen-tablet) {
      margin-right: 35px;
    }
  }
  .download-files {
    float: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .download-message {
    font-size: 12px;
    line-height: 16px;
    border: 1px solid $border;
    padding: 10px;
    border-radius: 3px;
    background: #f5f5f5;
    clear: both;
    margin-bottom: 20px;
    @media (max-width: $screen-sm-min) {
      float: left
    }
  }
  .verify-checksum-message {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 20;
    padding: 30px;
    background: rgba(0, 0, 0, 0.80);
    left: 0;
    @media (min-width: $screen-tablet) {}
    .content {
      @media (max-width: $screen-xs-min) {
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        right: 0;
      }
      font-size: 14px;
      border: 1px solid #333;
      background: #fff;
      position: absolute;
      padding: 30px;
      color: #333;
      @media (min-width: $screen-tablet) {
        width: 90%;
        width: 100%;
        transform: translateY(-50%);
        left: 0;
        top: 50%;
      }
      @media (min-width: $screen-desktop) {
        width: 90%;
        width: 800px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
      }
      .code {
        width: 735px;
        .commands,
        .prompts,
        .results {
          display: inline-block;
          font-family: monospace;
          white-space: normal;
          background: #000;
          font-size: 14px;
          color: #fff;
        }
        .prompts {
          color: #777;
          float: left;
          width: 14%;
          margin: 10px 0 0 0;
          padding: 10px 10px 0 10px;
        }
        .commands {
          float: right;
          width: 86%;
          margin: 10px 0 0 0;
          padding: 10px 10px 0 10px;
        }
        .results {
          clear: both;
          margin: 0 0 10px 0;
          padding: 0 0 0 10px;
          width: 100%;
        }
      }
    }
  }
  .close-message {
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 20px;
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid $border;
    font-size: 12px;
    font-weight: 700;
    color: #555;
    cursor: pointer;
    @media (max-width: $screen-xs-min) {
      position: fixed;
    }
  }
  .o-h {
    overflow: hidden;
  }
  .other-releases {
    position: relative;
    margin: 20px auto;
    @media (min-width: $screen-lg-desktop) {
      width: 100%;
    }
    .btn-release {
      border-radius: 3px;
      background: #fff;
      border: 1px solid $border;
      font-size: 12px;
      padding: 0px 10px;
      position: relative;
      margin-left: 0;
      color: #777;
      z-index: 1;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      display: block;
      &:active,
      &:focus {
        outline: 0;
      }
    }
  }
  .old-release {
    display: none;
    .row {
      border-bottom: 1px dotted $border;
    }
  }
  .go-releases,
  .old-release {
    @media (min-width: $screen-lg-desktop) {
      width: 100%;
      margin: 0px auto;
    }
  }
  .version {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
  }
  .not-loaded {
    text-align: center;
    margin: 40px 0 0;
  }
  .load-message {
    text-align: center;
    margin: 30px 0;
    span {
      display: block;
    }
  }
  .help-links {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 13px;
    a {
      &:after {
        content: "";
        background: url(/assets/images/external-link.svg) no-repeat center top;
        background-size: cover;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  p.join {
    font-size: 13px;
    line-height: 22px;
  }
  nav.download-nav {
    margin-top: 0;
    .head {
      display: block;
      padding: 5px 20px;
    }
    .open {
      &:after {
        display: none;
      }
    }
  }
  #downloads {
    overflow: hidden;
    .btn-primary {
      color: #fff;
      background-color: $primary-color;
      border-color: $primary-color;
      transition: all 0.2s ease-in-out;
      &:hover {
        background: #fff;
        color: $primary-color;
        transition: all 0.2s ease-in-out;
        span {
          color: $primary-color;
          &.bit {
            color: #000;
          }
        }
      }
    }
  }

  .sidebar {
    display: none;

    @media (min-width: $screen-desktop) {
      display: block;
    }
  }

  nav.sidebar-nav {
    &.download-nav {
      >ul>li.dropdown {
        position: relative;
        background: #e2e2e2;
      }
      .head {
        font-size: 13px;
        font-weight: 600;
      }
      ul {
        border-bottom: 0;
        li {
          ul {
            li {
              span {
                background-color: #ffffff;
                border-bottom: 1px solid $border;
                font-size: 13px;
                font-weight: 600;
                cursor: pointer;
                display: block;
                padding: 5px 20px;
                color: $link-color;
                line-height: 18px;
                @media (min-width: $screen-desktop) {
                  padding: 10px 20px 10px 50px;
                }
                &.active {
                  border-bottom: 5px solid $primary-color;
                  border-left: 0;
                  color: $primary-color;
                  padding: 5px 20px;
                  @media (min-width: $screen-desktop) {
                    padding: 10px 20px 10px 50px;
                  }
                }
              }
            }
          }
        }
      }
      .verticalnav {
        >li:first-child {
          border-radius: 0px;
          @media (min-width: $screen-desktop) {
            border-radius: 6px 6px 0 0;
          }
        }
      }
    }
  }
  
  #downloads {
    .dropdown {
      display: inline-block;
      z-index: 5;
      .items {
        li {
          border-bottom: 1px solid #e5e5e5;
          &.active {
            color: $primary-color;
            font-weight: 500;
          }
        }
      }
    }
    .os-tab-content {
      overflow: hidden;
      margin: 0 0 20px 0;
    }
    .os-tab-content {
      h2.installer-type {
        font-size: 14px;
        font-weight: 600;
        position: relative;
        background: #4A4A4A;
        color: #fff;
        border-radius: 6px 6px 0 0;
        display: block;
        padding: 10px 20px;
        margin: 0;
        &.cloud {
          border-radius: 0;
          margin: 0;
        }
        @media (min-width: $screen-desktop) {
          display: none;
        }
      }
      .tab-accordion_heading {
        background-color: #f5f5f5;
        color: #666;
        font-size: 14px;
        border: 1px solid $border-color;
        border-color: #979797;
        border-top: 0;
        margin: 0;
        padding: 10px 20px 10px 40px;
        display: block;
        cursor: pointer;
        font-weight: normal;
        &.d_active {
          border-bottom-color: $primary-color;
          border-bottom-width: 3px;
          color: $primary-color;
          font-weight: 700;
        }
        @media (min-width: $screen-desktop) {
          display: none;
        }
      }
      .tab_content {
        border: 1px solid #979797;
        border-top: 0;
        padding: 20px;
        @media (min-width: $screen-desktop) {
          border: 1px solid #fff;
          padding: 0 35px;
        }
      }
    }
    .all-releases .tab_container {
      width: auto;
    }
    .table-c {
      margin-top: 5px;
    }
    .table {
      border-top: 2px solid #e5e5e5;
      margin: 30px 0;
      background: #f5f5f5;
      tr th {
        width: 50%;
        border-top: 0;
      }
    }
    .select-options {
      height: 172px;
      overflow-y: auto;
      box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.08);
    }
  }
  .ami {
    .files {
      overflow: visible;
      padding: 0;
    }
    .latest {
      h3 {
        margin-bottom: 45px;
        position: relative;
        top: 23px;
      }
    }
  }
  .docker {
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      font-weight: 500;
    }
    .docker-list {
      list-style-type: none;
      margin: 0 0 30px 0;
      padding: 0;
      li {
        margin-bottom: 10px;
        font-size: 14px;
      }
      a {
        display: block;
      }
    }
    .command {
      background: #efefef;
      padding: 5px 10px;
      font-size: 13px;
      display: block;
      font-family: monospace;
    }
    .files {
      padding-top: 10px;
    }
  }
  .btn-new {
    color: #333;
    font-weight: 400;
  }
  .release-type {
    border-bottom: 1px solid $border;
    input[type="radio"] {
      display: none;
    }
    label {
      display: inline-block;
      padding: 4px 10px;
      font-family: Arial;
      font-size: 16px;
      cursor: pointer;
      margin: 0 5px 0 0;
      @media (min-width: $screen-tablet) {
        margin: 0 20px 0 0;
      }
    }
    input[type="radio"]:checked+label {
      border-bottom: 5px solid $primary-color;
    }
  }
  .download-btn {
    display: none;
    border: 0;
    height: 36px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    background: $gray;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 78px;
    transition: all 0.5s ease-in-out;
    &.fixed {
      position: fixed;
      z-index: $get-started-btn;
      top: 66px;
      right: 0px;
      height: 40px;
      width: 100%;
      transition: all 0.5s ease-in-out;
    }
    .fa {
      margin-left: 3px;
      line-height: 31px;
      font-size: 22px;
      &:after {
        content: "Download";
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        color: #fff;
      }
    }
  }
  nav.sidebar-nav.download-nav {
    @media (min-width: $screen-tablet) {
      display: none;
    }
    @media (min-width: $screen-desktop) {
      display: block;
      position: relative;
      background: #fff;
      transition: all 0.5s ease-in-out;
      top: 0;
      box-shadow: none;
      bottom: auto;
      padding: 0;
      left: auto;
      right: 0px;
    }
  }
  #tab-ami {
    h3 {
      margin: 15px 0;
    }
    .version {
      margin-top: 15px;
    }
  }
  .helm {
    h3 {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      font-weight: 500;
    }
    .command {
      background: #efefef;
      padding: 10px 20px;
      margin-bottom: 10px;
      font-size: 13px;
      display: block;
      font-family: monospace;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  .k8s p {
    margin-bottom: 0;
  } 
  
  //subscribe form styles in download page
  .subscribe-to-blog {
    text-align: left;
    padding: 0;
    margin-top: 0px;
    .subscribe-title {
      line-height: 20px;
      font-weight: 300;
      font-size: 16px;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 10px;
      }
      @media (min-width: $screen-tablet) {
        line-height: 24px;
      }
    }
    form {
      margin-top: 0 !important;
    }
    #mktoForm_6699 {
      text-align: left;
      margin: 10px 0;
      padding: 0;
    }
  }
  .mktoForm {
    margin: 0;
  }
  #subscribe-info {
    margin-top: 0
  }
  .mktoButton {
    @media (min-width: $screen-tablet) {
      margin-top: 20px !important;
    }
  }
}

.dld-win {
  background: url(../images/dld-win.svg) no-repeat 5px 8px;
  background-size: 24px;
}

.dld-osx {
  background: url(../images/dld-osx.svg) no-repeat 5px 6px;
  background-size: 24px;
}

.dld-deb {
  background: url(../images/dld-deb.svg) no-repeat 5px 5px;
  background-size: 24px;
}

.dld-rpm {
  background: url(../images/dld-rpm.svg) no-repeat 5px 5px;
  background-size: 24px;
}

.dld-zip {
  background: url(../images/dld-zip.svg) no-repeat 5px 5px;
  background-size: 24px;
}

.dld-ami {
  background: url(../images/dld-ami.svg) no-repeat 5px 15px;
  background-size: 24px;
}

.dld-docker {
  background: url(../images/dld-docker.svg) no-repeat 5px 10px;
  background-size: 24px;
}

.dld-k8s {
  background: url(../images/dld-k8s.svg) no-repeat 5px 10px;
  background-size: 20px;
}

.steps-section {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  h3 {
    margin: 15px auto 10px auto;
  }
}

.recommended-list {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}

.recommended-list_child {
  list-style: disc;
  margin-top: -20px;
}

.link-external::after {
  content: "";
  background: url(/assets/images/external-link.svg) no-repeat center top;
  background-size: cover;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 5px;
}

.subscribe-band {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDD;
  padding: 30px 0px;
  text-align: center;
}

.subscribe-band_text {
  font-family: 'URWGeometric-Semibold';
  font-size: 20px;
  color: #333333;
}

.subscribe-band_cta {
  display: block;
  margin: 0 auto;
  width: 144px;
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: 'URWGeometric-Semibold';
  font-size: 14px;
  color: #333333;
  border: 1px solid #4FE0E1;
  background: #4FE0E1; 
  cursor: pointer;

  &:hover {
    opacity: 0.8;  
    outline: 0;
    color: #333333;
  }

  &:active{
    background: #36b1bf;
    color: #FFFFFF;
    outline: 0
  }
}


.dowload-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .sidebar-left {
    display: none;

    @media (min-width: $screen-desktop) {
      width: 25%;
      display: block;
    } 
  }

  .main-content {
    padding: 0 20px;
    width: 100%;

    @media (min-width: $screen-md){
      width: 60%;
    }

    @media (min-width: $screen-desktop) {
      width: 50%;
    }
  }

  .sidebar-right {
    padding: 0 20px;
    width: 100%;

    @media (min-width: $screen-md){
      width: 40%;
    }

    @media (min-width: $screen-desktop) {
      width: 25%;
    }
  }

}