
$background: #fff;
$select-color: #333;
$select-background: #fff;
$select-width: 220px;
$select-height: 40px; 
$border:#ddd;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border:1px solid #ddd;
  background-color: $select-background;
  padding: 6px 15px;
   border-radius: 3px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $border transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    border-radius: 3px 3px 0 0;
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
      border: 1px solid $border;
  background-color: #fff;
  li {
    margin: 0;
    padding: 5px 10px;
    border-top: 1px solid $border;
    font-size:14px;
    @include transition(all 0.15s ease-in);
    &:hover {
      background: #eee;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}