.ea-banner-container {
  background: url(../images/elastic-agents-desktop-bg.png);
  padding: 0 0 40px;

  @media (min-width: $screen-lg) {
    padding: 0 0 50px;
  }
}

.ea-banner_header {
  font-size: 30px;
  padding: 40px 0 10px;

  @media (min-width: $screen-md) {
    font-size: 38px;
  }

  @media (min-width: $screen-lg) {
    font-size: 48px;
    padding: 40px 0 0;
  }

}

.ea-banner_desc {
  font-size: 18px;
  padding: 25px 0 20px;

  @media (min-width: $screen-lg) {
    font-size: 22px;
  }
}

.ea-feature-container {
  padding: 30px 0 50px;
}

.ea-feature_desc {
  font-size: 18px;

  @media (min-width: $screen-md) {
    font-size: 20px;
  }
}

.ea-feature-list_item {
  margin: 15px auto 0px;
  float: none;

  @media (min-width: $screen-md) {
    margin: 35px auto 0px;
  }
}

.ea-feature-list { 
  list-style: none;
  padding: 0;
}

.ea-feature-list:last-of-type {
  margin-bottom: 80px; 
}

.ea-feature_header {
  margin: 10px auto;
}

.ea-enterprise-feature {
  background: url(../images/elastic-agents-desktop-bg.png);
  padding: 30px 0 50px;
}

.ea-enterprise-feature * {
  color: #fff;
}

.ea-ent-feature_header {
  margin: 30px auto 25px;
  font-size: 32px;
  font-family: "URWGeometric-ExtraBold";
  @media (min-width: $screen-lg) {
    font-size: 40px;
    margin: 45px auto;
  }
}

.ea-ent-feature_desc {
  font-size: 18px;
  float: none;
  @media (min-width: $screen-lg) {
    font-size: 20px;
  }
}

.ea-ent-feature-list {
  list-style: none;
  margin: 20px auto 80px;
  padding: 0;
  float: none;
}

.ea-ent-feature-list_item {
  float: none;
  @media (min-width: $screen-md) {
  }

}

.ea-ent-feature-list_desc {
  font-size: 18px;

  @media (min-width: $screen-md) {
    font-size: 20px;
  }
}

.ea-ent-feature-list_header {
  font-family: "URWGeometric-ExtraBold"
}

.ea-feature_hide-mobile {
  display: none;

  @media (min-width: $screen-md) {
    display: block;
  }
}

.ea-button {
  font-size: 18px;
  position: relative;
  z-index: 10;
  @media(max-width: $screen-sm-max) {
    width: calc(100% - 40px);
    font-size: 20px;
  }

  &:hover {
    background: #fff;
    opacity: 1;

    &::after {
      background: rgba(74, 217, 217, 0.7);
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.25s;
  }
  
}

.watermark-img {
  vertical-align: text-top;
}