.enterprise-overview {
  overflow-x: hidden;
  // Global page elements

  h1 {
    font-family: 'URWGeometric-Semibold';

    .highlight {
      color: #4ad9d9;
    }
  }

  p {
    line-height: 1.5em;
    font-weight: 400;
  }

  .hr {
    height: 2px;
    width: 100%;
    background-color: #eee;
    margin-bottom: 1em;
  }

  .banner-content {
   display: none;
  }

  main {
    padding-top: 0;
    overflow: hidden;
  }

  //Section Specific Elements

  //Banner

  .header {
    margin-bottom: 1em;
    background: url("../../assets/images/campaign/enterprise/ccoal_bkgd.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
    position: static;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #FFFFFF;
      font-family: 'URWGeometric-ExtraBold';
      font-size: 5em;
      line-height: .9em;
      text-align: center;
    }

    @media (max-width:490px) {
      height: 300px;

      h1 {
        font-size: 3em;
      }
    }

  }


  //Features

  .feature-section {

  margin-bottom: 1em;
  margin-top: 3em;

    h1 {
      text-align: center;
    }

    .feature-row {

      margin-bottom: 2em;

      .feature {

        text-align: center;

        h3 {
          text-align: center;
          font-family: 'URWGeometric-Semibold';
          font-size: 1.5em;
          text-transform: capitalize;
        }

        .illo {
          height: 160px;
          width: auto;
          margin: auto;
        }

        p {
          text-align: justify;
        }

        @media (max-width:767px) {

          margin-bottom: 1em;

          h3 {
            font-size: 24px;
            margin-bottom: .5em;
          }

          .illo {
            height: 100px;
          }

          p {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 1em;
          }
        }
      }
    }
  }

  // Plugins

  .plugins-section {

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }

    .plugins-row {
      padding-top: 1em;
      padding-bottom: 2em;
    }

    .plugin-text {
      padding: 0 1em 1em 1em;
      // border: 1px solid red;
    }

    @media(max-width: 991px) {
      .plugin-text {
        padding: 0 2em 1em 2em;
      }
    }

    .plugin-link {
      text-align: center;


      a {
        font-family: 'URWGeometric-Semibold';
        align-items: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
