.events {
  h3 {
    margin: 0px 0 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }
}

main {
  margin-top: 0;
}

.demos {

  // display: flex;
  // temporarily toggled off until events are updated -SJS
  display: none;

  flex-direction: column;
  align-items: center;

  padding-top: 8vh;
  padding-bottom: 10vh;

  background-image: url("/assets/images/halftone_gradient_background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow: hidden;

  h3 {
    color: #FFFFFF;
  }

  .intro-paragraph {

    width: 70%;

    padding-bottom: 2vh;

    p {
      font-size: 18px;
      color: #fff;
      text-align: left;
    }
  }

  .demos-list-container {
    display: flex;
    justify-content: center;

    .demos-list {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      width: 70%;
      max-width: 1200px;
      padding: 0;

      @media (max-width: 410px) {
        width: 100%;
      }
    }

    .demos-item {

      display: block;

      .datebox {

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      padding-top: 20px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;

      align-content: center;

      background: #ffffff;
      border-top: 5px solid  #4adad9;
      border-radius: 2px;
      margin: 10px;
      text-align: center;
      color: #000;
      width: 120px;
      height: 120px;

        .month {
          display: block;
          color: #000000;
          font-size: 24px;
          font-family: URWGeometric-ExtraBold;
          line-height: 0px;
          text-transform: uppercase;
        }

        .time {
          display: block;
          color: #000000;
          font-family: URWGeometric-SemiBold;
          font-size: 14px;
          line-height: 0px;
          padding-top: 10px;
        }

        .location {
          display: block;
          color: #000000;
          font-size: 10px;
          line-height: 0px;
          padding-top: 5px;
        }

        .demo-button {

          display: block;

          background-color: #4adad9;
          font-size: 12px;
          color: #000000;
          font-weight: 600;
          border-radius: 2px;
          text-transform: uppercase;
        }
      }
    }
  }
}



.events-section {

  padding-top: 8vh;
  padding-bottom: 10vh;

  .events-list-container {

    display: flex;
    justify-content: center;

    .events-list {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      max-width: 1200px;

      .event-item {
        display: flex;

        justify-content: stretch;

        .event-card {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          border: 1px solid #9B9B9B;
          border-radius: 2px;
          width: 410px;
          padding: 15px 15px 15px 15px;

          color: #333333;

          margin: 10px;

          height: auto;

          @media (max-width: 600px) {
            width: 300px;
          }

          .event-header-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            margin-bottom: 15px;

            .event-title-container {

              flex: 1 0 50%;

              .event-title {
                font-family: 'URWGeometric-ExtraBold';
                font-size: 22px;
              }
            }

            .event-button {
              display: flex;
              align-items: center;
              justify-content: center;

              width: 100px;
              height: 30px;

              background-color: #4adad9;
              font-size: 12px;
              color: #000;
              font-weight: 600;
              border-radius: 2px;
              text-transform: uppercase;
              text-align: center;
              line-height: auto;
            }
          }

          .event-description-container {

            margin-bottom: 15px;

            p {
              line-height: 100%;
              margin-bottom: 0;
            }

          }

          .event-details {

            padding: 0;

            li {
              // padding-bottom: 3px;
              margin: 0;
              list-style-type: none;
              font-size: 14px;

              .event-date {
                display: inline-block;
                width: 140px;
              }

              .event-location {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
