footer {
    position: absolute;
    bottom: 0;
    z-index: 99;
    width: 100%;
    .join-community {
        background: #25282D;
        padding: 10px 0;
        position: relative;
        overflow: hidden;
        @media (min-width: 320px) and(max-width: $screen-lg-min) {
            padding: 0;
        }
        ul {
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            position: relative;
            z-index: 2;
            @include flexbox;
            justify-content: center;
            align-content: center;
            @media (min-width: 320px) and (max-width: $screen-lg-min) {
                display: block;
            }
        }
        li {
            display: inline-block;
            transform: scale(1);
            cursor: pointer;
            padding: 0 10px;
            margin: 10px;
            float: left;
            @media (max-width: $screen-tablet) {
                border-right: 1px solid $navbar-dark;
            }
            @media (min-width: 320px) and (max-width: $screen-lg-min) {
                margin: 0;
                width: 100%;
                padding: 8px 0 0 0;
                border-top: 2px solid $navbar-dark;
                border-right: 0px;
            }
            &:hover {
                .icon {
                    transform: scale(1.1);
                    color: #FFFFFF;
                }
            }
        }
        a {
            display: block;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            transition: all 0.25s;
            @media (min-width: $screen-tablet) {
                font-size: 12px;
            }
            @media (min-width: 320px) and (max-width: $screen-lg-min) {
                &:focus {
                    background-color: #484747;
                }
            }
        }
        .icon {
            display: inline-block;
            margin: 0 auto 10px;
            transition: all .2s ease-in-out;
            width: auto;
            color: #00BFC0;
            &:hover {
                transform: scale(1.1);
            }
        }
        span {
            font-family: 'URWGeometric-Extrabold';
            font-size: 14px;
            padding-left: 15px;
        }
    }
    .page-footer {
        padding: 30px 0;
        font-size: 14px;
        background: #1B1D21;
        color: #fff;
        justify-content: left;
        line-height: 16px;
        li {
            padding-bottom: 14px;
        }
        a {
            text-decoration: none;
            display: inline-block;
            color: #fff;
            transition: all 0.25s;
            &:hover {
                text-decoration: underline;
            }
            .fa {
                margin-right: 5px;
            }
        }
        p {
            font-size: 14px;
            line-height: 16px;
        }
        .social-buttons {
            display: inline-block;
            padding: 0px 8px;
            border: 1px solid #ccc;
            margin-right: 10px;
            font-size: 16px;
            text-decoration: none;
            color: #333;
        }
    }
    .fa-4x {
        font-size: 2em;
        @media (min-width: $screen-tablet) {
            font-size: 2em;
        }
    }
    .unordered-list {
        list-style: none;
    }
}