body {
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	font-size: 14px;
	font-weight:300;
	line-height: 22px;
	position: relative;
	margin: 58px 0 0 0;

	@media (min-width:$screen-lg-desktop) {
		font-size: 16px;
		line-height: 26px;
	}

}

p,
dt,
dd {
	font-size: 14px;

	@media (min-width:$screen-lg-desktop) {
		font-size: 16px;
		line-height: 26px;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 20px 0;
}

a {
	color: #337ab7;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

}

main {
	padding: 30px 0 0;
}

.note {
	background: #f5f5f5;
	padding: 20px;
}

figure {
	text-align: center;
}

img {
	max-width: 100%;
}

.back-top {
	right: 20px;
	position: fixed;
	bottom: 30px;
	display: block;
	text-align: center;
	font-size: 40px;
	color: $gray-light;
	z-index: $backtotop;
	// transition: all 0.5s ease-in-out;

	&:hover {
		transition: all 0.5s ease-in-out;
		color: $primary-color;
	}

}

// Inner pages  general styles

.inner-banner {
	background: url('/assets/images/inner-banner-bg.jpg') no-repeat center center;
  padding: 20px 0;
		.banner-content{
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
		// @include align-items(center);
		position: relative;
		@media (min-width:$screen-tablet) {

		}
		@media (min-width:$screen-desktop) {	}
		@media (min-width:$screen-lg-desktop) {
			padding: 0;
			// height:120px;
		}
		}

	.caption {
		font-size: 20px;
		color:#fff;
	  font-weight: 400;
    text-transform: uppercase;
		margin:0;
		@media (min-width:$screen-tablet) {
			font-size: 35px;
		}

	}

	.subcaption {
		font-size: 14px;
		display: block;
		color:#fff;

		@media (min-width:$screen-tablet) {
			font-size: 16px;
			margin-bottom: 0;
		}

	}
	.container{
		position: relative;
	}

}

.page-headings {
	border-bottom: 1px solid $border;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.content-tiles {
	@media (min-width:$screen-tablet) {
		margin: 30px 0;
	}

	@media (min-width:$screen-lg-desktop) {
		margin: 50px 0;
	}

	h3 {
		font-weight: 500;
		text-align: center;
		margin-bottom: 20px;
	}

	figure {
		text-align: center;
		display: block;
		margin: 30px 0;
	}

	p {
		font-size: 14px;
	}

	.tile {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;

		&.last {
			border: 0;
		}

		@media (min-width:$screen-tablet) {
			border: 0;
		}

	}

	.col-md-3 {
		margin-bottom: 30px;
	}

}

.caption-txt {
	margin: 0px 2% 30px;
	font-size: 17px;
	text-align: center;
	font-weight: 400;

	@media (min-width:$screen-tablet) {
		margin: 30px 10%;
		font-size: 22px;
		line-height: 32px;
	}

	@media (min-width:$screen-desktop) {
		margin: 30px 10%;
		font-size: 22px;
	}

	@media (min-width:$screen-lg-desktop) {
		margin: 30px 0%;
		font-size: 28px;
		line-height: 40px;
		line-height: 40px;
	}
}

//dark button

$btn-dark-bg :#333;
$btn-dark-color :#fff;
$btn-dark-border :#333;

.btn-dark {
  @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}

// .btn-download {
//   @include button-variant($btn-dark-color, #000, #000);
//   transition: all 0.3s ease-in-out;
//   &:hover{
//   	background:#333;
//   	border-color:#333;
//   	transition: all 0.3s ease-in-out;
//   }
// }