body {
    font-family: 'URWGeometric-Medium', sans-serif;
    color: #555555;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    position: relative;
    margin: $header-height 0 0 0;
    min-height: calc(100vh - $header-height);

    //For proper font rendering
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @media (min-width: $screen-tablet) {
        font-size: 16px; // line-height: 26px;
    }
}

p,
dt,
dd {
    font-family: 'URWGeometric-Medium';
    font-size: 14px;
    @media (min-width: $screen-lg-desktop) {
        font-size: 16px;
        line-height: 26px;
    }
}

h1 {
    font-family: 'URWGeometric-Extrabold';
    color: $heading;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'URWGeometric-Semibold';
    color: $heading;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    margin: 20px 0;
}

a {
    color: #4a90e2;
    ;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $primary-color;
    }
}

main {
    margin-top: 60px;
    padding: 0;
    overflow: hidden;
}

.note {
    background: #f5f5f5;
    padding: 20px;
}

figure {
    text-align: center;
}

img {
    max-width: 100%;
}

.back-top {
    right: 20px;
    position: fixed;
    bottom: 50px;
    display: block;
    text-align: center;
    font-size: 40px;
    color: $gray-light;
    z-index: $backtotop; // transition: all 0.5s ease-in-out;
    @media (min-width: $screen-tablet) {
        bottom: 30px;
    }
    &:hover {
        transition: all 0.5s ease-in-out;
        color: $primary-color;
    }
}

// Inner pages  general styles
.inner-banner {
    background: linear-gradient(to right, #94399E, #792C82);
    padding: 10px 0;
    position: relative;
    .banner-content {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        position: relative;
    }
    @media (min-width: $screen-tablet) {
        padding: 10px 0;
    }
    .caption {
        font-size: 16px;
        color: #FFFFFF;
        font-family: URWGeometric-Medium;
        text-transform: uppercase;
        margin: 0;
        @media (min-width: $screen-tablet) {
            font-size: 22px;
        }
    }
    .subcaption {
        font-size: 14px;
        display: block;
        color: #FFFFFF;
        @media (min-width: $screen-tablet) {
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    .container {
        position: relative;
    }
}

.page-headings {
    border-bottom: 1px solid $border;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.content-tiles {
    @media (min-width: $screen-tablet) {
        margin: 30px 0;
    }
    @media (min-width: $screen-lg-desktop) {
        margin: 50px 0;
    }
    h3 {
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }
    figure {
        text-align: center;
        display: block;
        margin: 30px 0;
    }
    p {
        font-size: 14px;
    }
    .tile {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        &.last {
            border: 0;
        }
        @media (min-width: $screen-tablet) {
            border: 0;
        }
    }
    .col-md-3 {
        margin-bottom: 30px;
    }
}

.caption-txt {
    margin: 0px 2% 30px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    @media (min-width: $screen-tablet) {
        margin: 0 0 30px 0;
        font-size: 22px;
        line-height: 32px;
    }
    @media (min-width: $screen-desktop) {
        margin: 30px 10%;
        font-size: 22px;
    }
    @media (min-width: $screen-lg-desktop) {
        margin: 30px 0%;
        font-size: 28px;
        line-height: 40px;
        line-height: 40px;
    }
}

//dark button
$btn-dark-bg: #333;
$btn-dark-color: #fff;
$btn-dark-border: #333;
.btn-dark {
    @include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}

//image zoom
.imagezoom {
    position: relative;
    cursor: pointer;
    &:after {
        position: absolute;
        right: 0px;
        bottom: 10px;
        content: "\f00e";
        font-weight: bold;
        font-size: 2em;
        cursor: pointer;
        font-family: "FontAwesome";
    }
}

.imagemodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: rgba(1, 1, 1, 0.3);
    display: none;
    .imagemodalcontent {
        width: 80%;
        height: 80%;
        max-height: 650px;
        overflow: auto;
        background: #FFF;
        margin: 0 auto;
        margin-top: 90px;
    }
    img {
        width: auto;
        max-width: none;
        transform: scale(1);
        transform-origin: top left;
        @media (max-width: $screen-tablet) {
            transform: scale(1);
        }
    }
    .close {
        position: absolute;
        top: 90px;
        right: 11.5%;
        background: #FFF;
        padding: 5px;
        width: 10px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        line-height: 2;
    }
}

.btn-center {
    display: block;
    margin: 10px auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $screen-sm) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $screen-md) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $screen-lg) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $screen-xl) {
    .container {
        max-width: 1140px;
    }
}

$nav-active: #4AD9D9;
.enterprise_index {
    .link_overview {
        color: $nav-active !important; // had to use this because of other styles
    }
}

.enterprise_addons {
    .link_addons {
        color: $nav-active !important; // had to use this because of other styles
    }
}

.enterprise_support {
    .link_support {
        color: $nav-active !important; // had to use this because of other styles
    }
}

.enterprise_pricing {
    .link_pricing {
        color: $nav-active !important; // had to use this because of other styles
    }
}

.enterprise_contact {
    .link_contact {
        color: $nav-active !important; // had to use this because of other styles
    }
}

.form-loading-error {
    display: none;
    color: #E74C3C;
    font-size: 16px;
    font-weight: 400;
    padding: .5em;
    border: 2px solid #E74C3C;
}

$brand-secondary: #4AD9D9;
$default-font-normal-bold: 'URWGeometric-Semibold';
$dark: #000;
$default-font-extra-bold: 'URWGeometric-ExtraBold';

.button-brand {
    background: $brand-secondary;
    color: $dark;
    display: block;
    font-family: $default-font-normal-bold;
    line-height: 0.2;
    margin: 0 auto;
    padding: 30px;
<<<<<<< HEAD
    // text-transform: uppercase;
=======
    text-transform: uppercase;
>>>>>>> completd desktop version
    margin: 20px auto 50px auto;
    font-size: 16px;
    width: auto;
    border: 0;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    border-radius: 3px;
    &:active {
        background: #36b1bf;
        color: #FFFFFF;
        outline: 0;
        color: $dark;
    }
    
    &:hover {
        opacity: 0.8;
        outline: 0;
        color: $dark;
    }

    &:focus {
      outline: 0;
      color: $dark;
    }

    @media(min-width: $screen-md) {
        height: 37px;
        font-size: 22px;
        width: 424px;
        margin: 40px auto 40px auto;
    }
}

.brand-button__small {
    width: auto;
    height: 38px;
    font-size: 10px;
    background: $brand-secondary;
    font-family: $default-font-extra-bold;
    color: $dark;
    padding: 10px;
    text-transform: uppercase;
}

.button-brand_transparent {
    background: transparent;
    border: 1px solid $brand-secondary;

    &:hover, &:active {
        background: $brand-secondary;
    }
    
}

.header_container_header-lg {
    font-size: 48px;
}