body {
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	position: relative;
	margin: 66px 0 0 0;

	@media (min-width:$screen-tablet) {
		font-size: 16px;
		line-height: 26px;
	}

}

p,
dt,
dd {
	font-size: 14px;

	@media (min-width:$screen-lg-desktop) {
		font-size: 16px;
		line-height: 26px;
	}

}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 20px 0;
}

a {
	color: #0000ff;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: $primary-color;
	}

}

main {
	padding: 30px 0 0;
}

.note {
	background: #f5f5f5;
	padding: 20px;
}

figure {
	text-align: center;
}

img {
	max-width: 100%;
}

.back-top {
	right: 20px;
	position: fixed;
	bottom: 50px;
	display: block;
	text-align: center;
	font-size: 40px;
	color: $gray-light;
	z-index: $backtotop;
	// transition: all 0.5s ease-in-out;

	@media (min-width:$screen-tablet) {
		bottom: 30px;
	}

	&:hover {
		transition: all 0.5s ease-in-out;
		color: $primary-color;
	}

}

// Inner pages  general styles

.inner-banner {
	background: url('/assets/images/inner-banner-bg.jpg') repeat-x center center;
	padding: 20px 0;

	.banner-content {
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(flex-start);
		position: relative;
	}

	@media (min-width:$screen-tablet) {
		padding: 20px 0;
	}


	.caption {
		font-size: 20px;
		color: #fff;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0;

		@media (min-width:$screen-tablet) {
			font-size: 25px;
		}

	}

	.subcaption {
		font-size: 14px;
		display: block;
		color: #fff;

		@media (min-width:$screen-tablet) {
			font-size: 16px;
			margin-bottom: 0;
		}

	}

	.container {
		position: relative;
	}

}

.page-headings {
	border-bottom: 1px solid $border;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.content-tiles {
	@media (min-width:$screen-tablet) {
		margin: 30px 0;
	}

	@media (min-width:$screen-lg-desktop) {
		margin: 50px 0;
	}

	h3 {
		font-weight: 500;
		text-align: center;
		margin-bottom: 20px;
	}

	figure {
		text-align: center;
		display: block;
		margin: 30px 0;
	}

	p {
		font-size: 14px;
	}

	.tile {
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;

		&.last {
			border: 0;
		}

		@media (min-width:$screen-tablet) {
			border: 0;
		}

	}

	.col-md-3 {
		margin-bottom: 30px;
	}

}

.caption-txt {
	margin: 0px 2% 30px;
	font-size: 17px;
	text-align: center;
	font-weight: 400;

	@media (min-width:$screen-tablet) {
		margin: 0 0 30px 0;
		font-size: 22px;
		line-height: 32px;
	}

	@media (min-width:$screen-desktop) {
		margin: 30px 10%;
		font-size: 22px;
	}

	@media (min-width:$screen-lg-desktop) {
		margin: 30px 0%;
		font-size: 28px;
		line-height: 40px;
		line-height: 40px;
	}

}

//dark button

$btn-dark-bg: #333;
$btn-dark-color: #fff;
$btn-dark-border: #333;

.btn-dark {
	@include button-variant($btn-dark-color, $btn-dark-bg, $btn-dark-border);
}

//image zoom
.imagezoom{
  position: relative;
  cursor: pointer;
  &:after{
    position: absolute;
    right: 0px;
    bottom: 10px;
    content: "\f00e";
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    font-family: "FontAwesome";
  }
}
.imagemodal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: rgba(1,1,1, 0.3);
  display: none;
  .imagemodalcontent{
    width: 80%;
    height: 80%;
    max-height: 650px;
    overflow: auto;
    background: #FFF;
    margin: 0 auto;
    margin-top: 90px;
  }
  img{
    width: auto;
    max-width: none;
    transform: scale(1);
    transform-origin: top left;
		@media (max-width:$screen-tablet) {
			transform: scale(1);
		}
  }
  .close{
    position: absolute;
    top: 90px;
    right: 11.5%;
    background: #FFF;
    padding: 5px;
    width: 10px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 2;
  }
}
