/*--------------------
sidebar menu
--------------------*/

$border-color: #e5e5e5;
$border-radius: 10px;
$link-color: #666;
$link-hover-color: #000;
$link-hover-bg: $primary-color;

.get-start-btn  {
  display: block;
  border: 0;
  width: 36px;
  height: 36px;
  text-align: left;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  background: $gray;
  color: #fff;
  position: fixed;
  right: 10px;
  top: 66px;

  &.fixed {
    position: fixed;
    z-index: $get-started-btn;
    top: 58px;
    right: 0px;
    height: 40px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .fa {
    margin-left: 3px;
    line-height: 31px;
    font-size: 22px;

    &:after {
      content: "Getting started";
      margin-left: 10px;
      font-size: 16px;
    }

  }

  @media (min-width:$screen-tablet) {
    top: 74px;
  }

  @media (min-width:$screen-desktop) {
    display: none;
  }

}

nav.sidebar-nav {
  @media (max-width:$screen-sm-max) {
    position: fixed;
    left: 0px;
    right: 0;
    overflow-y: auto;
    top: 18px;
    bottom: 0;
    z-index: $get-started-nav;
    padding: 10px 8px 0;
    display: none;
  }

  background: #fff;
  margin-top: 40px;

  @media (min-width:$screen-desktop) {
    display: block;
    width: 213px;
  }

  @media (min-width:$screen-lg-desktop) {
    width: 262px;
  }

  &.fixed {
    top: 100px;
    position: fixed;
  }

  h5 {
    background-color: $gray;
    color: #fff;
    padding: 15px 20px;
    border: 1px solid $gray;
    margin: 0;
    font-size: 18px;
    position: relative;

    @media (min-width:$screen-lg-desktop) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .close-nav {
      @media (max-width:$screen-tablet) {
        position: absolute;
        right: 20px;
        top: 15px;
        display: block;
      }

      display: none;
    }

  }

  > ul {
    border-top: 0;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid $border;
    padding: 0;

    > li {
      border-left: 1px solid $border;
      border-right: 1px solid $border;

      a {
        display: block;
        text-decoration: none;
        padding: 10px 20px;
        color: $link-color;
        line-height: 18px;
      }

      > a {
        border-bottom: 1px solid $border-color;

        &:hover {
          color: $link-hover-color;
        }

      }

      ul {
        display: none;
        padding: 0;
        border: none;
        list-style-type: none;
        border-bottom: 1px solid $border-color;

        li {
          a {
            border: 0;
            padding: 10px 20px;
            @include linearGradient(#e5e5e5, #ffffff);

            strong {
              font-weight: normal;
              display: block;
              font-size: 12px;
            }

            &:hover {
              color: $link-hover-color;
            }

            &.active {
              border-left: 5px solid $primary-color;
              padding-left: 15px;
            }

          }

        }

      }

      &.open {
        ul {
          display: block;
          @media (min-width:$screen-desktop) and (max-height:700px) {
            max-height: 300px;
            overflow-y: auto;
          }
        }

      }

      &.dropdown {
        position: relative;
        background: $green;

        >a {
          color: #fff;
          &:after {
            content: "";
            position: absolute;
            right: 10px;
            top: 14px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #fff;
          }
        }


        &.open {
          >a {
            &:after {
            content: "";
            position: absolute;
            right: 12px;
            top: 17px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
           }
          }
        }

      }

    }

  }

}

.getting-started-content {
  margin: 10px 0px;

  @media (min-width:$screen-lg-desktop) {
    margin: 40px 30px;
  }

  figure {
    margin: 30px 0;
  }

  figcaption {
    font-style: italic; 
    padding: 20px;
  }

  p:first-child{
    font-size: 18px;
    text-align: left;  
    margin: 0 45px;
    // font-weight: 600;
    line-height: 30px;
    @media (min-width: $screen-lg){
      padding: 0 100px;
    }
  }

  .btn-download{
    width: 200px;
    height: 50px;
    line-height: 40px;
    display: block;
    margin: 20px auto;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-size: 24px;
    background: $primary-color;
    color: #fff;
    transition: all 0.25s;

    &:hover{
      opacity: 0.8;
    }
  }
}

.big-title {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid $border;

  @media (min-width:$screen-tablet) {
    margin: 20px 0 30px;
    font-size: 22px;
  }

  @media (min-width:$screen-desktop) {
    margin: 40px 0 30px;
    font-size: 30px;
  }

}

.concept {
  border: 1px solid #B2DADC;
  background: #F7FFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px #F1F0F0;
  padding: 20px;
  margin: 20px 0px;

  @media (min-width:$screen-tablet) {
    padding: 30px 50px;
    margin: 30px 30px;
  }

  figure {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 16px;
    text-align: center;
    display: table;
    margin: 0 auto 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;

    @media (min-width:$screen-tablet) {
      font-size: 20px;
      margin: 0 auto 20px;
    }

    @media (min-width:$screen-tablet) {
      font-size: 22px;
      margin: 0 auto 40px;
    }

  }

  dt {
    margin-bottom: 10px;
  }

}

.affix {
  top: 50px;
}

.affix-bottom {
  position: absolute;
}

.getting-started .go {
  text-transform: none;
}

.page-control {
  display: block;
  margin: 20px 0 100px;
}

.left-control, .right-control {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 35px;
  text-align: center;
  background: $brand-secondary;
  font-family: 'URWGeometric-Semibold';
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  transition: all 0.25s;
  cursor: pointer;

  &:hover, &:visited, &:active {
    color: #000;
    opacity: 0.8;
  }
}

.right-control {
  float: right;
  margin-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    border-color: $brand-secondary transparent transparent transparent;
    top: 7px;
    right: -22px;
    width: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.left-control {
  &::after {
    content: "";
    position: absolute;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    border-color: $brand-secondary transparent transparent transparent;
    left: -22px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 7px;
    width: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}