//header
header.top {
    background: $navbar-dark;
    border-top: 3px solid $primary-color;
    @include clearfix;
    position: fixed;
    z-index: $header-top;
    width: 100%;
    top: 0;
    transition: all 0.5s ease;
    height: $header-height;

    &.scroll-on {
        background: $header-bg;
        transition: all 0.5s ease;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);

        @media (min-width:$screen-tablet) {
            background: rgba(51, 51, 51, 0.95);
        }

    }
}

.logo {
    margin: 13px 0;
    float: left;
    width: 74px;
}

.sticky{
    border: 1px solid $primary-color;
}
