.help {

  .sub-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 0 40px 0;

    @media (min-width:$screen-tablet) {
      font-size: 36px;
      margin: 0 0 50px 0;
    }

  }

  .help-row {
    padding: 4em 0 3em 0;
  }

  .gocd-community {
    clear: both;
    border: 0;

    .sub-title {
      margin-bottom: 10px;
    }

    .desc {
      margin-bottom: 50px;
    }

  }

  .cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
    margin: 30px 0 0px;
    padding: 0;

    @media only screen and (min-width:$screen-tablet) {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    a {
      width: 330px;
      height: 230px;
      padding: 40px 20px;
      border: 1px solid $border;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      color: #4a4a4a;
      text-decoration: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      cursor: pointer;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      margin-bottom: 30px;
      border-radius: 20px;

      @media only screen and (min-width:$screen-tablet) {
        width: 400px;
        height: 275px;
      }

      &:first-child {
        @media only screen and (min-width:$screen-tablet) {
          margin-right: 40px;
          margin-bottom: 0;
        }

      }

      &:hover {
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        box-shadow: 0px 0px 2px 2px #E0E0E0;
      }

    }

    p {
      margin: 0;
      font-size: 14px;

      @media only screen and (min-width:$screen-tablet) {
        font-size: 18px;
      }

    }

    h3 {
      font-size: 18px;
      line-height: 28px;
      margin: 0;
      text-transform: uppercase;

      @media only screen and (min-width:$screen-tablet) {
        font-size: 20px;
      }

    }

  }

  .cta a.padded {
    padding: 40px 20px;

    @media only screen and (min-width:$screen-tablet) {
      padding: 40px 20px;
    }

  }

  .get-support {
    background: url("../../assets/images/campaign/enterprise/ccoal_bkgd.jpg") no-repeat center top;
    background-size: cover;
    color: #fff;
    @include clearfix;

    .sub-title {
      color: #fff;
      margin-bottom: 10px;
    }

    .numbering {
      &:before {
        border-bottom: 1px solid rgba(238, 238, 238, 0.38)
      }

    }

    ul {
      list-style-type: circle;
    }

    a {
      color: #86569a;

      &:hover,
      &:visited {
        color: #86569a;
      }

    }

    @media only screen and (min-width:$screen-tablet) {

      .right {
        // width: 50%;
        // float: left;
      }

    }

    h3 {
      color: #fff;
    }

    .actions {
      text-align: center;
    }

  }

  .support_cta {
    background: $secondary-color;
    border-radius: 2px;
    border: none;
    color: $learn-more-cta;
    text-decoration: none;
    transition: all 0.25s;
    width: 290px;
    display: block;
    margin: 0px auto 20px auto;
    padding: 18px 0 18px 0;
    font-size: 18px;
    font-family: URWGeometric-SemiBold;
    text-align: center;

    &:hover {
      color: $learn-more-cta;
      background: $learn-more-cta-hover-bg;
      cursor: pointer;
      border: none;
    }

    &:active {
      border: none;
    }

    &:visited {
      border: none;
    }

    @media  (min-width: $screen-md-min){
      width: 400px;
      font-size: 20px;
    }
  }


  .points {
    width: 100%;
    margin: 30px auto;
    font-size: 18px;
    @include clearfix;

    display: flex;
    justify-content: center;


    @media only screen and (min-width:$screen-tablet) {
      width: 77%;
    }

  }

  .btn-cta {
    clear: both;
    display: block;
    background: transparent;
    border: 0;
    color: #fff;
    border: 1px solid #fff;
    width: 215px;
    height: 54px;
    line-height: 49px;
    text-align: center;
    text-decoration: none;
    margin: 0px auto 10px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      transition: all 0.3s ease-in-out;
    }

    &:focus {
      outline: 0;
    }

    @media only screen and (min-width:$screen-tablet) {
      width: 240px;
    }

  }

  #support_form_submit_failure {
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #f00;
    padding: 30px;
  }

  #support_form_submit_failure p {
    color: #f00;
    margin-bottom: 0;
  }

  #support_form_submit_success {
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #419041;
    padding: 30px;
  }

  #support_form_submit_success p {
    color: #419041;
    margin-bottom: 0;
  }

  @media only screen and (min-width:$screen-tablet) {
    .signup h3 {
      font-size: 30px;
    }

  }

  .subsection {
    clear: both;
    text-align: center;

    h3 {
      font-size: 15px;
      text-transform: uppercase;
      margin: 0 0 10px 0;
      font-weight: 300;
      font-weight: 400;

      @media only screen and (min-width:$screen-tablet) {
        font-size: 20px;
      }

    }

    p {
      font-size: 15px;
      font-weight: 300;
    }

  }

  .desc {
    font-size: 18px;
    font-weight: 300;
    max-width: 500px;
    text-align: center;
    margin: auto;
  }

  .foo-links {
    margin-top: 50px;

    @media only screen and (min-width:$screen-desktop) {
      margin: 30px auto;
      width: 85%;
    }

    h5 {
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }

  }

  .footer-links {
    a {
      display: block;
    }

    span {
      display: block;
      color: #333;

      @media only screen and (min-width:$screen-tablet) {
        width: 80%;
        margin: 0 auto;
      }

      &:hover,
      &:visited {
      }

    }

    figure {
      width: 50px;
      margin-bottom: 10px;
      display: inline-block;
      transition: all 0.3s ease-in-out;

      @media only screen and (min-width:$screen-tablet) {
        width: 70px;
      }

    }

    ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 10px 20px;
      padding: 0;
      list-style-type: none;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      li {
        width: 50%;
        text-align: center;
        margin: 0 0 50px 0;

        @media only screen and (min-width:$screen-tablet) {
          width: 25%;
          margin-bottom: 0;
        }

        &:hover {
          figure {
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
          }

        }

      }

    }

    @media only screen and (min-width:$screen-tablet) {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin: 0 40px;
    }

  }

  .signup #support_form input[type="text"] {
    border: 1px solid #ccc;
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: $border-radius;
  }

  @media only screen and (min-width:$screen-tablet) {
    .signup #support_form input[type="text"] {
      width: 250px;
      margin-bottom: 15px;
    }

  }

  .signup #support_form textarea {
    border: 1px solid #ccc;
    height: 70px;
    width: 200px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: $border-radius;
  }

  @media only screen and (min-width:$screen-tablet) {
    .signup #support_form textarea {
      width: 250px;
      margin-bottom: 30px;
    }

  }

  .signup #support_form button {
    display: block;
    background: #8A549B;
    border: 0;
    color: #fff;
    width: 180px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    margin: 10px auto 10px;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: $border-radius;
  }

  @media only screen and (min-width:$screen-tablet) {
    .signup #support_form button {
      width: 240px;
    }

  }

  .hide-by-default {
    display: none;
  }

  .graphics {
    img {
      width: 100%;
      height: 100px;
    }

  }

  .go {
    text-transform: none;
  }

}

  .graphics {

  .cta_pipeline &{
    width: 158px;
  }
    .cta_installation &{
    width: 76px;
  }
   .cta_user-group &{
    width: 76px;
  }
  .cta_github &{
    width: 200px;
  }
}
