//banner
.banner {
  background-image: url("/assets/images/home/pipe_bkgd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  background-size: cover;
  height: auto;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 6vh;
  }
  .caption {
    margin-top: 2em;
    @media (max-width: 990px) {
      margin-top: 1em;
    }
    h1 {
      color: hsla(0, 0, 100%, 1);
      font-size: 68px;
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-family: URWGeometric-Heavy, Helvetica, sans-serif;
      @media (max-width: 1400px) {
        // font-size: 64px;
      }
      @media (max-width: 1198px) {
        font-size: 64px;
      }
      @media (max-width: 990px) {
        font-size: 10vw; // font-size: 68px;
        line-height: 90%;
        padding-bottom: 10px;
      }
    }
  }
  .subcaption {
    margin-bottom: 5em;
    @media (max-width: 990px) {
      margin-bottom: .5em;
    }
    .ui-illo {
      // content: url("../../images/home/ui_illo.svg");
      @media (max-width: 990px) {
        padding-bottom: 2em;
      }
    }
    p {
      color: hsla(0, 0, 100%, 1);
      font-size: 36px;
      line-height: 100%;
      letter-spacing: .5px;
      font-family: URWGeometric-SemiBold, Helvetica, sans-serif;
      padding-bottom: 1em;
      @media (max-width: 990px) {
        text-align: center;
        font-size: 20px;
      }
    }
    .btn-download {
      height: 50px;
      width: 100%;
      border: 2px solid;
      border-color: hsla(0, 0, 100%, 1);
      background-color: hsla(0, 0, 100%, 1);
      padding: 11px 0 0 0;
      border-radius: 2;
      color: #94399e;
      text-transform: uppercase;
      font-size: 1.2em;
      font-family: URWGeometric-ExtraBold, Helvetica, sans-serif;
      margin-bottom: 10px;
      &:hover {
        background-color: hsla(69, 65%, 60%, 1);
        border-color: hsla(69, 65%, 60%, 1);
        color: hsla(0, 0, 100%, 1);
      }
      &:active {
        background-color: hsla(69, 65%, 40%, 1);
        border-color: hsla(69, 65%, 40%, 1);
        color: hsla(0, 0, 100%, 1);
      }
    }
    .btn-getting-started {
      height: 50px;
      width: 100%;
      border: 2px solid;
      border-color: hsla(0, 0, 100%, 1);
      background-color: hsla(0, 0, 100%, .2);
      padding: 11px 0 0 0;
      border-radius: 2;
      color: hsla(0, 0, 100%, 1);
      font-size: 1.2em;
      font-family: URWGeometric-ExtraBold, Helvetica, sans-serif;
      margin: 20px auto 4px auto;
      &:hover {
        background-color: hsla(69, 65%, 60%, 1);
        border-color: hsla(69, 65%, 60%, 1);
        color: hsla(0, 0, 100%, 1);
      }
      &:active {
        background-color: hsla(69, 65%, 40%, 1);
        border-color: hsla(69, 65%, 40%, 1);
        color: hsla(0, 0, 100%, 1);
      }
    }
    .sub-cta {
      text-align: center;
      padding-top: 0;
      margin-top: 0;
      a {
        font-size: 14px;
        color: hsla(0, 0, 100%, 1);
        font-family: URWGeometric-Medium, Helvetica, sans-serif;
        text-decoration: underline;
        &:hover {
          color: hsla(180, 65%, 57%, 1);
        }
        &:active {
          color: hsla(0, 0, 70%, 1);
        }
      }
    }
  }
}

.promo-banner {
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #4ad9d9;
  font-size: 20px;
  color: #333;
  margin: 0;

  span {
    font-family: URWGeometric-ExtraBold;
    padding-left: 5px;
  }

  &:hover {
    background-color: #87e1e0;
    cursor: pointer;
    color: #333;
  }

  &:active {
    color: #333;
    background-color: #36b1bf;
  }
}

.support,
.eventsbanner,
.downloadbanner {
  margin: 30px 0;
}

.go-support,
.banner-with-cta {
  border: 1px solid $primary-color;
  overflow: hidden;
  margin: 0 auto;
  @extend %flexbox;
  @include justify-content(flex-start);
  @include align-items(center);
  @include flex-direction(column);
  @media (min-width: $screen-tablet) {
    @include flex-direction(row);
    padding: 0px 0 0;
  }
  a {
    background: $primary-color;
    &:hover {
      background-color: #712b79;
    }
  }
  p {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 0;
    @media (max-width: $screen-xs-max) {
      text-align: center;
      padding: 20px;
    }
    @media (min-width:$screen-tablet) {
      font-size: 16px;
      width: 70%;
    }
    @media (min-width:$screen-desktop) {
      font-size: 18px;
      width: 85%;
    }
  }
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 21px;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: $primary-color;
    @media (min-width: $screen-tablet) {
      width: 30%;
      padding: 40px;
    }
    @media (min-width:$screen-desktop) {
      width: 25%;
    }
  }
  .go {
    text-transform: none;
  }
}

.features-section {
  margin-top: 2vh;
  margin-bottom: 5vh;
}


.two-row-col {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;

  @media (min-width: $screen-md) {
    margin: 10px auto;
  }

  @media (min-width: $screen-lg) {
    margin: 50px auto;
    padding: 20px 0px;
  }
}

.two-row-col_item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;

  @media (min-width: $screen-lg){
    padding: 30px;
    width: 50%;
  }

  @media (min-width: $screen-md) {
    width: 50%;
    padding: 15px;
  }
}

.item-heading {
  text-align: center;
  width: 100%;
  font-size: 24px;

  @media (min-width: $screen-md) {
    text-align: left;
  }

  @media (min-width: $screen-lg){
    font-size: 36px;
  }
}

.item-description {
  font-size: 18px;
  margin: 30px 8vw;
  line-height: 1.5;
  @media (min-width: $screen-md) {
    margin: auto;
  }

  @media (min-width: $screen-lg) {
    font-size: 24px;
  }

}

.mob-order-reverse_item {
  @media (max-width: $screen-md-min){
    .two-row-col_item:first-child {
      order: 2;
    }

    .two-row-col_item:last-child {
      order: 1;
    }
  }
}

.img-mobile {
  display: block !important;
  @media (min-width: $screen-md) {
    display: none !important;
  }
}

.img-desktop-tablet {
  display: none !important;
  @media (min-width: $screen-md) {
    display: block !important;
  }
}

.img-desktop {
  display: none !important;
  @media (min-width: $screen-lg) {
    display: block !important;
  }
}

.content {
  width: 100%;
  padding: 0 20px;

  @media (min-width: $screen-lg) {
    width: 80%;
  }
}

.img-feature {
  width: 60%;
  display: block;
  margin: auto;
}

$learn-more-bg: url("../../assets/images/campaign/enterprise/ccoal_bkgd.jpg");
$learn-more-text: #fff;
$learn-more-cta: #000;
$learn-more-cta-hover-bg: #6ee0e0;

.learn-more-section {
  background: $learn-more-bg;
  text-align: center;
  padding: 30px 0 40px 0;
}

.centered-content-container{
  width: 100%;
  display: block;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    width: 80%;
  }

  @media (min-width: $screen-lg) {
    width: 50%;
  }
}

.centered-content_header {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 800;

  @media  (min-width: $screen-md) {
    font-size: 36px;
  }
}

.centered-content_header_light {
  color: $learn-more-text;
}

.centered-content_text{
  text-align: left;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 20px 30px 20px;

  @media  (min-width: $screen-lg) {
    text-align: center;
    font-size: 24px;
  }
}

.centered-content_text_light {
  color: $learn-more-text;
}

.centered-content_link {
  background: $secondary-color;
  border-radius: 2px;
  color: $learn-more-cta;
  text-decoration: none;
  transition: all 0.25s;
  width: 290px;
  display: block;
  margin: 0px auto 20px auto;
  padding: 18px 0 18px 0;
  font-size: 18px;
  font-family: URWGeometric-SemiBold;
  text-align: center;
  &:hover{
    color: $learn-more-cta;
    background: $learn-more-cta-hover-bg;
  }

  @media  (min-width: $screen-md-min){
    width: 400px;
    font-size: 20px;
  }
}


.img-icon{
  width: 20%;
  height: auto;
}


.content_header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  @media (min-width: $screen-lg) {
    font-size: 36px;
    text-align: left;
  }
}

.content_description {
  font-size: 18px;
  line-height: 1.5;
  @media (min-width: $screen-lg) {
    font-size: 20px;
  }
}

