//banner


.banner {
	background-image: url("/assets/images/home/pipe_bkgd.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #333;
	background-size: cover;
	height: auto;
	position: relative;
	overflow: hidden;

	.caption {
		margin-top: 2em;

		@media (max-width: 990px) {
			margin-top: 1em;
		}

		h1 {
			color: hsla(0, 0, 100%, 1);
			font-size: 78px;
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
			text-transform: uppercase;
			font-family: URWGeometric-Heavy, Helvetica, sans-serif;

			@media (max-width: 1400px) {
				// font-size: 64px;
			}

			@media (max-width: 1198px) {
				font-size: 64px;
			}

			@media (max-width: 990px) {
				font-size: 12vw;
				// font-size: 68px;
				line-height: 90%;
				padding-bottom: 10px;
			}
		}
	}

	.subcaption {
		margin-bottom: 5em;

		@media (max-width: 990px) {
			margin-bottom: .5em;
		}

		.ui-illo {

			// content: url("../../images/home/ui_illo.svg");

			@media (max-width: 990px) {
				padding-bottom: 2em;
			}

		}

		p {
			color: hsla(0, 0, 100%, 1);
			font-size: 26px;
			line-height: 120%;
			letter-spacing: 1px;
			font-family: URWGeometric-Medium, Helvetica, sans-serif;

			padding-bottom: 1em;

			@media (max-width: 990px) {
				text-align: center;
				font-size: 22px;
			}

		}

		.btn-download {
			height: 50px;
			width: 100%;
			border: 2px solid;
			border-color: hsla(0, 0, 100%, 1);
			background-color: hsla(0, 0, 100%, .2);
			padding: 15px 0 0 0;
			border-radius: 2;
			
			color: hsla(0, 0, 100%, 1);
			text-transform: uppercase;
			font-size: 1em;
			font-family: URWGeometric-ExtraBold, Helvetica, sans-serif;

			margin-bottom: 4px;

			&:hover {
				background-color: hsla(69, 65%, 60%, 1);
				border-color: hsla(69, 65%, 60%, 1);
				color: hsla(0, 0, 100%, 1);

			}

			&:active {
				background-color: hsla(69, 65%, 40%, 1);
				border-color: hsla(69, 65%, 40%, 1);
				color: hsla(0, 0, 100%, 1);
				// background-color: hsla(0, 0, 100%, .3);
				// border: 2px solid;
				// border-color: hsla(0, 0, 100%, 1);
				// color: hsla(0, 0, 100%, 1);
			}
		}

		.sub-cta {

			text-align: center;

			padding-top: 0;
			margin-top: 0;

			a {
				font-size: 14px;
				color: hsla(0, 0, 100%, 1);
				font-family: URWGeometric-Medium, Helvetica, sans-serif;
				text-decoration: underline;

				&:hover {
					color: hsla(180, 65%, 57%, 1);
				}

				&:active {
					color: hsla(0, 0, 70%, 1);
				}
			}
		}
	}
}

.promo-banner {

	height: 12vh;

	border: 1px solid red;

	background-color: #4ad9d9;

	.promo-row {

		display: flex;
		align-items: center;

		.promo-text {
			text-align: center;


			h3 {
				font-weight: 600;
				color: #FFFFFF;
			}
		}

		.promo-btn {
			display: flex;
			align-items: center;

			width: 100%;
			height: auto;
			background: #FFFFFF;
			padding-top: 6px;
			padding-bottom: 6px;

			border: 1px solid green;

			p {
				font-weight: 600;
				color: #4ad9d9;
			}

		}
	}

}


.bigtxt {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	background: #f5f5f5;
	color: #333333;
	padding: 20px 10%;
	color: $heading;

	@media (min-width:$screen-tablet) {
		margin: 0 auto 30px auto;
		padding: 30px 5%;
		font-size: 25px;
		line-height: 34px;
		max-width: 100%;
	}

	@media (min-width:$screen-desktop) {
		padding: 30px 10%;
	}

	@media (min-width:$screen-lg-desktop) {
		line-height: 45px;
		margin: 0 auto 30px auto;
		padding: 50px 15%;
		font-size: 32px;
		max-width: 90%;
		background: transparent;
	}

}

.main-features {
	figure {
		margin-bottom: 30px;

		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			float: left;
			margin: 0;
			width: 40%;
		}

		@media (min-width:$screen-desktop) {
			margin-bottom: 30px;
		}

		img {
			max-width: 276px;
			max-height: 140px;
			min-height: 140px;

			@media (min-width:$screen-tablet) {
				width: 240px;
			}

		}

	}

	h3 {
		font-size: 22px;
		font-weight: 500;
		margin: 20px 0;
		text-align: center;

		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			float: right;
			width: 55%;
			text-align: left;
			margin: 0 0 20px 0;
		}

		@media (min-width:$screen-desktop) {
			height: 50px;
			margin: 0 0 20px 0;
			float: none;
			width: auto;
		}

	}

	p {
		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			text-align: left;
			float: right;
			width: 55%;
		}

	}

	.features {
		// text-align: center;

		p {
			border-bottom: 1px dashed $border;
			padding-bottom: 20px;

			@media (min-width:$screen-tablet) {
				// text-align: left;
				border: 0;
			}

		}

	}

	.see-all-features {
		width: 230px;
		margin: 30px auto 40px;
		display: block;

		@media (min-width:$screen-tablet) {
			margin: 30px auto;
		}

	}

}

.feature-box {
	@media (min-width:$screen-tablet) and (max-width:$screen-md-min) {
		border-bottom: 1px dashed $border;
		width: 100%;
		float: left;
		padding: 30px 0;
	}

}

.feature-box {
	@media (min-width:$screen-lg-desktop) {
		padding: 0 20px;
	}

}

.plugins-community {
	background: #f5f5f5;
	padding: 30px 0;

	figure {
		margin-top: 20px;

		img {
			max-width: 80%;

			@media (min-width:$screen-tablet) {
				width: 100px
			}

		}

	}

}

.plugins-cont {
	margin-bottom: 30px;
}

.support,
.eventsbanner,
.downloadbanner {
	margin: 30px 0;
}

.go-support,
.banner-with-cta {
	border: 1px solid $primary-color;
	overflow: hidden;
	margin: 0 auto;
	@extend %flexbox;
	@include justify-content(flex-start);
	@include align-items(center);
	@include flex-direction(column);

	@media (min-width:$screen-tablet) {
		@include flex-direction(row);
		padding: 0px 0 0;
	}

	a {
		background: $primary-color;

		&:hover {
			background-color: #712b79;
		}

	}

	p {
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;
		padding: 0 20px;
		margin: 0;

		@media (max-width:$screen-xs-max) {
			text-align: center;
			padding: 20px;
		}

		@media (min-width:$screen-tablet) {
			font-size: 16px;
			width: 70%;
		}

		@media (min-width:$screen-desktop) {
			font-size: 18px;
			width: 85%;
		}

	}

	a {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		padding: 21px;
		color: #fff;
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
		background-color: $primary-color;

		@media (min-width:$screen-tablet) {
			width: 30%;
			padding: 40px;
		}

		@media (min-width:$screen-desktop) {
			width: 25%;
		}

	}

	.go {
		text-transform: none;
	}

}
