//banner
.banner {
	// background-image: url("/assets/images/go-banner-phone.jpg");
		background-image: url('https://images.unsplash.com/14/unsplash_5244800b1ebf4_1.JPG?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
	
	background-position: center 0;
	background-repeat: no-repeat;
	height: 250px;
	position: relative;
	overflow: hidden;

	@media (min-width:$screen-tablet) {
		height: 432px;
		// height: 500px;
		// background-image: url('/assets/images/go-banner-tablet.jpg');
		background-image: url('https://images.unsplash.com/14/unsplash_5244800b1ebf4_1.JPG?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');

		background-size: initial;
	}

	@media (min-width:1025px) {
		// background-image: url('/assets/images/go-banner-desktop.jpg');
		background-image: url('https://images.unsplash.com/14/unsplash_5244800b1ebf4_1.JPG?crop=entropy&fit=crop&fm=jpg&h=1000&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
		height: 750px;
	}

	.banner-content {
		position: absolute;
		top: 50%;
		min-width: 300px;
		max-width: 400px;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);

		@media (min-width:$screen-tablet) {
			width: 730px;
			max-width: 730px;
		}

		@media (min-width:$screen-desktop) {
			width: 1000px;
			max-width: 1100px;
			transform: translate(-50%, -50%);
		}

	}

	.caption {
		color: #fff;
		font-size: 26px;
		font-weight: 700;
		display: inline-block;
		text-transform: uppercase;
		text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);

		@media (min-width:$screen-tablet) {
			font-size: 50px;
		}

		@media (min-width:$screen-desktop) {
			font-size: 70px;
		}

	}

	.subcaption {
		color: #fff;
		font-size: 15px;
		font-weight: 300;
		display: inline-block;
		text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
		background: rgba(113, 43, 121, 0.76);
		padding: 10px 20px;

		@media (min-width:$screen-tablet) {
			font-size: 15px;
			line-height: 27px;
			line-height: 27px;
		}

		@media (min-width:$screen-desktop) {
			font-size: 18px;
		}

	}

}

.banner-video {
	@media (max-width:$screen-xs-min) {
		height: 100%;
	}

	@media (min-width:$screen-tablet) {
		width: 100%;
	}

}

.btn-download {
	margin: 10px auto 0;

	@media (min-width:$screen-tablet) {
		margin: 20px auto 0;
		width: 200px;
		padding: 10px;
		font-size: 27px;
	}

}

.btn-readmore {
	border: 1px solid #ccc;
	padding: 5px 15px;
	border-radius: 3px;
}

//go features
.go-features {
	margin-bottom: 50px;

	.btn {
		margin-bottom: 30px;
	}

	.readmore {
		background: #86569a;
		color: #fff;
	}

}

.bigtxt {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	background: #f5f5f5;
	color: #333333;
	padding: 20px 10%;
	color: $heading;

	@media (min-width:$screen-tablet) {
		margin: 0 auto 30px auto;
		padding: 30px 5%;
		font-size: 25px;
		line-height: 34px;
		max-width: 100%;
	}

	@media (min-width:$screen-desktop) {
		padding: 30px 10%;
	}

	@media (min-width:$screen-lg-desktop) {
		line-height: 45px;
		margin: 0 auto 30px auto;
		padding: 50px 15%;
		font-size: 32px;
		max-width: 90%;
		background: transparent;
	}

}

.main-features {
	figure {
		margin-bottom: 30px;

		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			float: left;
			margin: 0;
			width: 40%;
		}

		@media (min-width:$screen-desktop) {
			margin-bottom: 30px;
		}

		img {
			width: 276px;

			@media (min-width:$screen-tablet) {
				width: 240px;
			}

		}

	}

	h3 {
		font-size: 22px;
		font-weight: 300;
		margin: 20px 0;
		text-align: center;

		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			float: right;
			width: 55%;
			text-align: left;
			margin: 0 0 20px 0;
		}

		@media (min-width:$screen-desktop) {
			height: 50px;
			margin: 0 0 20px 0;
			float: none;
			width: auto;
		}

	}

	p {
		@media (min-width:$screen-tablet) and (max-width:$screen-sm-max) {
			text-align: left;
			float: right;
			width: 55%;
		}

	}

	.features {
		// text-align: center;

		.feature-box {
			@media (min-width:$screen-tablet) and (max-width:$screen-md-min) {
				border-bottom: 1px dashed $border;
				width: 100%;
				float: left;
				padding: 30px 0;
			}

		}

		p {
			border-bottom: 1px dashed $border;
			padding-bottom: 20px;

			@media (min-width:$screen-tablet) {
				// text-align: left;
				border: 0;
			}

		}

	}

	.see-all-features {
		width: 230px;
		margin: 30px auto 40px;
		display: block;

		@media (min-width:$screen-tablet) {
			margin: 30px auto;
		}

	}

}

.feature-box {
	@media (min-width:$screen-lg-desktop) {
		padding: 0 20px;
	}

}

.plugins-community {
	background: #f5f5f5;
	padding: 30px 0;

	figure {
		margin-top: 20px;

		img {
			max-width: 80%;

			@media (min-width:$screen-tablet) {
				width: 100px
			}

		}

	}

}

.plugins-cont {
	margin-bottom: 30px;
}

.support {
	padding: 50px 0;

	@media (min-width:$screen-tablet) {
		padding: 50px 0 0;
	}

}

.go-support {
	border: 1px solid $primary-color;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px;

	@media (min-width:$screen-tablet) {
		background-image: linear-gradient(top left, #ffffff 65%, $primary-color 50%);
		background-image: -o-linear-gradient(top left, #ffffff 65%, $primary-color 50%);
		background-image: -moz-linear-gradient(top left, #ffffff 65%, $primary-color 50%);
		background-image: -webkit-linear-gradient(top left, #ffffff 65%, $primary-color 50%);
		background-image: -ms-linear-gradient(top left, #ffffff 65%, $primary-color 50%);
		background-position: right top;
		background-repeat: no-repeat;
		@include flexbox;
		@include justify-content(flex-start);
		@include align-items(center);
		width: 90%;
	}

	@media (min-width:$screen-desktop) {
		background-image: linear-gradient(top left, #ffffff 70%, $primary-color 50%);
		background-image: -o-linear-gradient(top left, #ffffff 70%, $primary-color 50%);
		background-image: -moz-linear-gradient(top left, #ffffff 70%, $primary-color 50%);
		background-image: -webkit-linear-gradient(top left, #ffffff 70%, $primary-color 50%);
		background-image: -ms-linear-gradient(top left, #ffffff 70%, $primary-color 50%);
		background-position: right top;
		background-repeat: no-repeat;
	}

	@media (min-width:$screen-lg-desktop) {
		background-image: linear-gradient(top left, #ffffff 76%, $primary-color 50%);
		background-image: -o-linear-gradient(top left, #ffffff 76%, $primary-color 50%);
		background-image: -moz-linear-gradient(top left, #ffffff 76%, $primary-color 50%);
		background-image: -webkit-linear-gradient(top left, #ffffff 76%, $primary-color 50%);
		background-image: -ms-linear-gradient(top left, #ffffff 76%, $primary-color 50%);
		background-position: right top;
		background-repeat: no-repeat;
	}

	p {
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;

		@media (max-width:$screen-xs-max) {
			text-align: center;
		}

		@media (min-width:$screen-tablet) {
			font-size: 18px;
		}

		@media (min-width:$screen-desktop) {
			margin-right: 50px;
			font-size: 18px;
		}

	}

	a {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 20px;
		white-space: nowrap;
		height: 50px;
		color: #fff;
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
		display: block;
		text-align: center;
		line-height: 50px;
		background-color: $primary-color;

		@media (min-width:$screen-desktop) {
			margin-left: 50px;
		}

	}

	.go {
		text-transform: none;
	}

}