// Inner pages small banner

.inner-banner {
	background: $inner-banner-bg;
	padding: 0;

	.container {
		position: relative;

		@media (min-width:$screen-tablet) {
			padding: 0 0 10px 0;
		}

	}

	.caption {
		font-size: 20px;

		@media (min-width:$screen-tablet) {
			font-size: 25px;
		}

	}

	.subcaption {
		font-size: 14px;
		margin-bottom: 20px;
		display: block;

		@media (min-width:$screen-tablet) {
			font-size: 16px;
			margin-bottom: 0;
		}

	}

}

.page-headings {
	border-bottom: 1px solid $border;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

//download

.download-area {
	background: url(/assets/images/texture-bg.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	padding: 50px 0 0;
	margin-top: 30px;
	@include clearfix;

	@media (min-width:$screen-tablet) {
		margin-top: 50px;
	}

	.sub-title {
		color: #fff;
		margin: 0 0 10px;
	}

	.info {
		color: #fff;
		text-align: center;

		a {
			color: #fff;
		}

	}

}

.warning {
	padding: 10px;
	margin: 10px 0 0 0;
	background: rgba(235, 33, 33, 0.15);
	position: relative;
	@extend %flexbox;
	@include justify-content(flex-start);
	@include align-items(center);

	.fa {
		font-size: 20px;
		margin: 0 10px;
		color: rgba(255, 0, 0, 0.62);
	}

}

.event-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		@include clearfix;
		@extend %flexbox;
		@include justify-content(flex-start);
		margin-bottom: 20px;
		padding: 10px 0;
		border-bottom: 1px dashed $border;

		.title {
			font-size: 18px;
			display: block;
		}

		.time {
			display: block;
			color: $gray-light;
		}

	}

}

.details {
}

.datebox {
	background: $gray-lighter;
	padding: 10px 20px;
	border-radius: 5px;
	margin-right: 20px;
	text-align: center;

	.month {
		display: block;
		font-size: 16px;
	}

	.date {
		display: block;
		font-size: 25px;
		font-weight: 700;
	}

}

.files {
	overflow: hidden;
	margin-bottom: 30px;

	.file {
		padding-bottom: 30px;
		width: 48%;
		border-bottom: 1px solid #ccc;

		.name {
		}

		.sha256sum,
		.md5sum {
		}

	}

	.server {
		float: left;
	}

	.agent {
		float: right;
	}

}

//features

.go-features {
	.row {
		@media (min-width:$screen-tablet) {
			padding: 50px 0;
		}

	}

	figure {
		text-align: center;

		img {
			max-width: 80%;

			@media (min-width:$screen-tablet) {
				max-width: 100%;
			}

		}

	}

	.features__title {
		font-weight: 300;
		font-size: 22px;
		margin-bottom: 20px;

		@media (min-width:$screen-tablet) {
			font-size: 30px;
		}

	}

	.row {
		// margin-bottom: 50px;
	}

	hr {
		border-top: 1px dashed #ccc;
		position: relative;
		clear: both;

		@media (min-width:$screen-tablet) {
			top: 48px;
		}

	}

}

//subscribe

.subscribe-content {
	ul {
		li {
			margin-bottom: 10px;
		}

	}

}

.subscribe-content {
	@media (min-width:$screen-tablet) {
		padding-top: 30px;
	}

}

.mktoButtonWrap.mktoSimple {
	margin: 0 !important;

	@media (min-width:$screen-tablet) {
		margin-left: 163px !important;
	}

}

.subscribe-form {
	background: #f5f5f5;
	padding: 30px;
	border-radius: 10px;

	.mktoForm input[type=text],
	.mktoForm input[type=url],
	.mktoForm input[type=email],
	.mktoForm input[type=tel],
	.mktoForm input[type=number],
	.mktoForm input[type=date],
	.mktoForm textarea.mktoField,
	.mktoForm select.mktoField {
		border: 1px solid $border;
		height: 30px;
	}

	.mktoForm .mktoRequiredField label.mktoLabel,
	.mktoForm label.mktoLabel,
	label {
		font-weight: normal;
		margin-bottom: 5px;
	}

	.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
		color: #fff;
		border: 1px solid #86569A;
		padding: 10px 20px;
		font-size: 16px;
		background-color: #86569A;
		background-image: none;
		background-image: -webkit-linear-gradient(top, #99c47c, #75ae4c);
		background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
		background-image: none;
	}

}

//community

.community {
	.community-tiles {
		padding: 30px 0 20px;

		h3 {
			text-align: center;
		}

		.fa {
			font-size: 100px;
			margin: 30px 0;
			color: #ccc;
		}

	}

}

//partners
.partners {
	h4 {
		margin-bottom: 40px;
		// font-size: 24px;
	}

	img {
		max-width: 150px;
	}

}

//contribute

.contribution-process {
	background: url(/assets/images/texture-bg.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
	margin: 0;
	padding: 40px 0;
	@include clearfix;

	@media (min-width:$screen-tablet) {
		margin: 0 0 50px 0;
	}

	h3 {
		margin: 0px 0 30px;
		font-size: 24px;
		color: #fff;
		text-align: center;

		@media (min-width:$screen-tablet) {
			margin: 30px 0;
			font-size: 40px;
		}

	}

}

.process {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media (min-width:$screen-tablet) {
		float: right;
	}

	@include clearfix;

	&.second {
		margin-top: 50px;

		li {
			&:before {
				content: "\f175";

				@media (min-width:$screen-tablet) {
					content: "\f177"''
				}

				&:first-child {
					&:before {
						content: "\f175";
					}

				}

			}

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	li {
		width: 200px;
		height: 200px;
		margin: 0  auto 50px auto;
		position: relative;

		@media (min-width:$screen-tablet) {
			margin: 0  10px 40px 0;
			float: left;
			width: 170px;
			height: auto;
		}

		@media (min-width:$screen-desktop) {
			margin: 0  50px 40px 0;
			width: 185px;
			height: auto;
		}

		@media (min-width:$screen-lg-desktop) {
			float: left;
			width: 234px;
		}

		&:before {
			content: "\f175";
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 30px;
			position: absolute;
			top: -76px;
			left: 94px;

			@media (min-width:$screen-tablet) {
				top: 21px;
				left: -17px;
				content: "\f178";
			}

			@media (min-width:$screen-desktop) {
				top: 43px;
				left: -40px;
				content: "\f178";
			}

		}

		&:first-child {
			&:before {
				content: "";
			}

		}

		span {
			text-align: center;
			display: block;

			&:first-child {
				background: #fff;
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin: 0 auto 10px;
				line-height: 100px;

				@media (min-width:$screen-tablet) {
					margin: 0 auto 30px;
					width: 70px;
					height: 70px;
					line-height: 70px;

					img {
						width: 30px;
					}

				}

				@media (min-width:$screen-desktop) {
					margin: 0 auto 30px;
					width: 100px;
					height: 100px;
					line-height: 100px;

					img {
						width: auto;
					}

				}

			}

		}

		&.lastitem {
			&:before {
				content: "\f0ec";
				transform: rotate(90deg);

				@media (min-width:$screen-tablet) {
					transform: rotate(0deg);
				}

			}

			&:after {
				content: "\f175";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 30px;
				position: absolute;
				top: 200px;
				left: 95px;

				@media (min-width:$screen-tablet) {
					left: 78px;
					top: 152px;
				}

				@media (min-width:$screen-desktop) {
					left: 86px;
					top: 185px;
				}

				@media (min-width:$screen-lg-desktop) {
					left: 113px;
				}

			}

		}

	}

}

.howto {
	margin: 30px 0;

	@media (min-width:$screen-lg-desktop) {
		margin: 50px 0;
	}

}