.mktoForm {
  label[for="consent_Privacy_Policy"].mktoLabel {
    padding-left: 17px;
    width: 90% !important;
    float: right;

    .mktoAsterix {
      position: absolute;
      left: 10%;
    }
  }

  label[for="consent_Privacy_Policy"].mktoLabel + .mktoGutter {
    display: none;
  }

  label[for="consent_Privacy_Policy"].mktoLabel ~ .mktoCheckboxList {
    width: 15px !important;
    padding: 0;
    padding-top: 0.3em;

    &.mktoInvalid {
      border: none;
    }
  }

  .mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired.mktoInvalid + .mktoError {
    left: 4px;
    right: unset !important;
    bottom: -4px !important;
  }
}

.enterprise-page {
  label[for="surveySTWhatwouldyouliketohearabout"] {
    width: auto !important;
    margin-bottom: 20px;
  }

  .mktoCheckboxList {
    margin-left: 20px;
    width: calc(100% - 20px) !important;

    input[type="checkbox"] { display: none; }
  }
}
