/* Color Themes - Variables */

$navbutton: #fff;
$nav-link: #fff;
$nav-link-hover-bg: $primary-color;
$menu-color: #fff;
$secondary-nav-color: #25282D;
$navbar-dark: #1B1D21;

@mixin navlink-indicator {
    @media screen and (min-width: $screen-tablet) {
        &:before {
            content: "";
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0px 10px;
            border-color: $primary-color transparent transparent transparent;
            left: 50%;
            transform: translateX(-50%);
            top: 0px;
            width: 20px;
            transition: all 0.3s ease;
        }
    }
}

.top .navbtn {
    float: right;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: $navbutton;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    background: transparent;

    @media screen and (min-width: $screen-tablet) {
        display: none;
    }
    &:active,
    &:focus {
        outline: 0;
    }
}

.mainnav {
    float: right;
    @media screen and (max-width: $screen-md-min) {
        display: block;
        position: absolute;
        z-index: $mobile-nav;
        width: 250px;
        top: 63px;
        bottom: auto;
        height: calc(100vh - 58px);
        left: -250px;
        transition: all 0.5s ease;
        background: #fff;
        overflow: auto;
        padding-top: 20px;
        &.open {
            left: 0px;
            transition: all 0.5s ease;
        }
    }
    @media (min-width:$screen-desktop) and (max-width:1400px) {
        margin-right: 85px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.mainnav>ul.level0>li {
    display: block;
    font-size: 22px;
    @media screen and (max-width: $screen-tablet) {
        margin: 0;
    }
    @media screen and (min-width: $screen-tablet) {
        margin-right: 4px;
        float: left;
    }
    >a {
        width: 100%;
        line-height: 1.4em;
        padding: 6px 10px 6px 30px;
        color: #000;
        font-size: 22px;
        font-family: 'URWGeometric-ExtraBold';
        display: block;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        @media (min-width: $screen-tablet) {
            font-weight: 300;
            line-height: 63px;
            color: $nav-link;
            padding: 0 10px;
            font-size: 22px;
            position: relative;
            cursor: pointer;
        }
    }
    &:hover {
        >a {
            transition: all 0.3s ease;
            position: relative; // transform: translateY(-3px);
            @include navlink-indicator
        }
    }
}

/*nav dropdown*/

.mainnav>ul.level0>li {
    position: relative;
}

ul.level1 {
    display: block;
    position: static;
    border: 0;
    @media (min-width: $screen-tablet) {
        top: 100%;
        display: none;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.5s ease;
        position: absolute;
        border-top: 4px solid $primary-color;
    }
    li {
        @media (min-width: $screen-tablet) {
            border-top: 1px solid #555;
            background: #333;
            transition: all 0.5s ease;
        }
        a {
            position: relative;
            color: $gray-light;
            font-weight: 400;
            display: block;
            padding: 10px 10px 10px 30px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease;
            @media (min-width: $screen-tablet) {
                padding: 0 10px 0 20px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                min-width: 180px;
                display: block;
            }
            &:hover {
                transition: all 0.3s ease; // transform: translateX(3px);
            }
        }
        &:hover {
            a {
                // color: $primary-color;
                transition: all 0.3s ease;
            }
        }
        &:first-child {
            @media (min-width: $screen-tablet) {
                border-top: 0;
                &:before {
                    content: "";
                    position: absolute;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent $primary-color transparent;
                    left: 50%;
                    transform: translateX(-50%);
                    top: -14px;
                    width: 20px;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

.mainnav ul li.dropdown {
    &:hover {
        ul {
            display: block;
            transition: all 0.5s ease;
        }
    }
}

/* responsive styles */

@media screen and (max-width:$screen-xs-max) {
    .mainnav ul li a.sel {
        color: #fff;
        background: #333;
        &:hover {
            background: #333;
            color: #fff;
        }
    }
    .nav-open {
        overflow: hidden;
        position: fixed;
        margin-top: 50px;
    }
    .nav-open:after {
        content: "";
        position: fixed;
        top: 59px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.73);
        z-index: $mobile-nav-dark-bg;
        width: 100%;
        transition: all 1s ease;
    }
}

//collapse nav
.menu {
    position: relative;
    display: block;
}

.menu span {
    margin: 0px auto;
}

.menu span:before,
.menu span:after {
    position: absolute;
    content: '';
}

.menu span,
.menu span:before,
.menu span:after {
    width: 40px;
    height: 5px;
    background-color: $menu-color;
    display: block;
    border-radius: 4px;
}

.menu span:before {
    margin: -12px 0 0 0;
}

.menu span:after {
    margin: 12px 0 0 0;
}

.collapse span {
    transition-duration: 0s;
    transition-delay: .2s;
}

.collapse.open span {
    background-color: rgba(256, 256, 256, 0.0);
    transition-delay: .1s;
}

.collapse span:before {
    transition-property: margin, transform;
    transition-duration: .2s;
    transition-delay: .2s, 0;
}

.collapse.open span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0, .2s;
}

.collapse span:after {
    transition-property: margin, transform;
    transition-duration: .2s;
    transition-delay: .2s, 0;
}

.collapse.open span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0, .2s;
}

//current link styles
.why-gocd .link_whygocd,
.contribute .toplink_contribute,
.events .toplink_contribute,
.plugins .toplink_contribute,
.blog .link_blog,
.help .toplink_help,
.resources .toplink_help,
.resources .link_documentation,
.download .link_download {
    @media screen and (max-width: $screen-xs-max) {
        color: $primary-color !important;
    }
    @media (min-width:$screen-tablet) {
        color: #fff !important;
        @include navlink-indicator
    }
    &:hover {
        transform: translateY(0px) !important;
    }
}

.contribute .toplink_contribute,
.events .toplink_contribute,
.plugins .toplink_contribute,
.help .toplink_help,
.resources .toplink_help,
{
    @media screen and (max-width: $screen-xs-max) {
        color: #333 !important;
    }
}

.contribute .link_contribute,
.help .getting-started,
.events .link_events,
.plugins .link_plugins,
.resources .link_resources,
 {
    @media screen and (max-width: $screen-xs-max) {
        color: $primary-color !important;
    }
    @media (min-width:$screen-tablet) {
        position: relative;
        color: #fff !important;
        &:before {
            content: "";
            position: absolute;
            transition: all 0.3s ease;
            left: 0;
            top: 9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent $primary-color;
        }
    }
    &:hover {
        transform: translateY(0px) !important;
    }
}

.mobile-nav {
    display: block;
    li {
        transition: all 0.25s;
        &:focus,
        &:hover {
            background-color: #c0c0c0;
        }
    }
    @media(min-width: $screen-tablet) {
        display: none !important;
    }
}

.desktop-nav {
    display: none;
    @media(min-width: $screen-tablet) {
        display: block;
    }
}
