.versions {
  a {
    display: inline-block;
    background: $secondary-color;
    padding: 5px 10px;
    border-radius: $border-radius;
    color: #fff;
  }

}

.all-releases {
  @include clearfix;
  margin: 30px 0;

  .content {
    width: 100%;

    h3 {
      margin: 0 0 30px 0;
    }

    h4 {
      margin: 30px 0;

      &:first-child {
        margin-top: 0px;
      }
    }

    .alert.warning {
      background-color: #e68489cc;
      padding: 10px;
    }
    .information {
      background-color: #83cef666;
      padding: 10px;
    }
  }

  figure {
    display: block;
    margin: 10px;
    border-left: 5px solid gray;
    padding-left: 10px;

    &.shrink-figure-70 {
      width: 80%;
    }

    &.shrink-figure-50 {
      width: 50%;
    }
  }
}
