.resources {
  h3 {
    margin: 0 0 20px 0;

    @media (min-width:$screen-desktop) {
      margin-top: 10px;
    }

    @media (min-width:$screen-lg-desktop) {
      margin-top: 15px;
    }

  }

  .row {
    margin-bottom: 50px;
  }

  @media screen and (max-width:$screen-sm-max) {
    .col-xs-2 {
      position: relative;

      figure {
        position: absolute;
        width:48px;
        left:0
      }

    }

  }
  figure{
    max-width:65px;
  }

}

.r_list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px dashed $border;
    padding: 10px 0;

    > a {
      display: block;
    }

  }

}