body.roadmap .container {
  font-weight: 400;

  ol.outer {
    & > li {
      padding: 4px 0;
      ol.inner {
        list-style-type: lower-alpha;

        & > li {
          padding: 2px 0;
        }
      }
    }
  }

  ol.spacedoutwide {
    & > li {
      margin-bottom: 24px;
    }
  }

  ul.spacedoutsmall {
    & > li {
      margin-bottom: 8px;
    }
  }
}
