.subscribe-content {
  ul {
    li {
      margin-bottom: 10px;
    }

  }

}

.subscribe-content {
  @media (min-width:$screen-desktop) {
    padding-top: 30px;
  }

}

.mktoButtonWrap.mktoSimple {
  margin: 0 !important;

  @media (min-width:$screen-tablet) {
    margin-left: 163px !important;
  }

}

.subscribe-form {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;

  @media (max-width:$screen-sm-max) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm textarea.mktoField,
  .mktoForm select.mktoField {
    border: 1px solid $border;
    height: 30px;
  }

  .mktoForm .mktoRequiredField label.mktoLabel,
  .mktoForm label.mktoLabel,
  label {
    font-weight: normal;
    margin-bottom: 5px;
  }

  .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    color: #fff;
    border: 1px solid #86569A;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #86569A;
    background-image: none;
    background-image: -webkit-linear-gradient(top, #99c47c, #75ae4c);
    background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
    background-image: none;
  }

}