#subscribe-info {
  label[for="consent_Privacy_Policy"] {
    width: 90% !important;
    float: right;
    .mktoAsterix {
      float: left;
      padding-right: 5px;
      margin-left: -16px;

      @media (max-width: 767px) {
        padding-right: 5px;
        margin-left: 0;
      }
    }
  }

  label[for="consent_Privacy_Policy"] ~ div.mktoCheckboxList {
    width: 15px !important;
    padding: 0.3em 0 0 0;
  }

  input#consent_Privacy_Policy {
    float: left;
  }

  label[for="Country"] {
    width: 145px !important;
  }
}

.subscribe-content {

  ul {
    li {
      margin-bottom: 10px;
    }
  }
}

.subscribe-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.subscribe-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;

  @media (min-width:$screen-tablet) {
    font-size: 22px;
    font-weight: 300;
  }

}

.subscribe-content {
  @media (min-width:$screen-desktop) {
    padding-top: 10px;
  }
}

.subscribe-to-blog {

  p {
    line-height: 1em;
  }

  .subscribe-left-panel {
    float: left;
    text-align: left;

    .pipeline_subscribe_image {
      height: auto;
      width: auto;
    }

  }

  .subscribe-right-panel {
    float: right;
    text-align: right;

    @media (max-width: 767px) {
      float: none;
      }

    #mktoForm_5414 {
      text-align: right;

      @media (max-width: 991px) {
        text-align: center;
      }

      .mktoFormRow {
        margin-bottom: 10px;
      }
    }
  }
}

.subscribe-form,
.subscribe-to-blog {
  padding: 20px;
  margin-top: 30px;

  @media (max-width:$screen-sm-max) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  form {
    margin-top: 20px !important;

    @media (min-width:$screen-desktop) {
      margin-top: 0 !important;
    }
  }



  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm textarea.mktoField,
  .mktoForm select.mktoField {
    border: 1px solid $border;
    height: 30px;
  }

  .mktoForm .mktoRequiredField label.mktoLabel,
  .mktoForm label.mktoLabel,
  label {
    font-weight: normal;
    margin-bottom: 5px;
  }

  .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    color: #fff;
    border: 1px solid #94399E;
    padding: 2px 20px;
    font-size: 16px;
    background-color: #94399E;
    background-image: none;
    background-image: -webkit-linear-gradient(top, #99c47c, #75ae4c);
    background-image: -moz-linear-gradient(top, #99c47c, #75ae4c);
    background-image: none;
    margin-top: 20px;
    border: 0;
    position: relative;
    top: 3px;
    font-family: 'Open Sans', sans-serif;

    @media (min-width:$screen-tablet) {
      margin-top: 0px;
    }

  }

}

.subscribe-to-blog {
  #mktoForm_5414 .mktoButtonWrap.mktoSimple, #mktoForm_6699 .mktoButtonWrap.mktoSimple {
    margin-left: -15px !important;
  }


  .mktoForm .mktoRequiredField label.mktoLabel {
    width: 105px !important;
    font-family: 'Open Sans', sans-serif;
  }

  .mktoButtonWrap.mktoSimple {
    margin: 0 !important;

    @media (min-width:$screen-tablet) {
      margin-left: 0px !important;
    }

  }

  .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    border: 0;
  }

}

.subscribe-to-blog {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

p{
  margin-bottom: 0;
}
#subscribe-info {
    margin-top: 9px;
}
  // Marketo form overrides
  #mktoForm_5414, #mktoForm_6699 {
    width: 250px !important;
    text-align: center;
    margin: 10px auto;

    @media (min-width:$screen-tablet) {
      width: auto !important;
    }

    @media (min-width:$screen-desktop) {
      margin: 0 auto;
    }

    .mktoFormRow {
      display: inline-block;
      vertical-align: middle;
    }

    .mktoButtonWrap.mktoSimple {
      margin: 0 !important;
    }

    .mktoFormCol {
      margin-bottom: 0px !important;
    }

  }

}

.post {
  .subscribe-to-blog {
    #mktoForm_5414, #mktoForm_6699 {
      .mktoButtonWrap.mktoSimple {
        display: block;
        margin: 10px !important;
      }

      .mktoEmailField {
        width: 100% !important;
      }



    }

  }

}

.overlay.marketo-response {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .popup {
    $popup-border-size: 8px;
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,.2);
    width: 400px;
    height: auto;
    position: fixed;
    background: white;
    top: 25vh;
    left: calc(50vw - 200px);
    padding: 20px;
    border: #1c425c 8px solid;
    .thanks-msg {
      font-family: 'URWGeometric-Semibold';
      font-size: 1.1em;
      margin-bottom: 10px;
      text-align: center;
    }
    .close-button {
      position: absolute;
      z-index: 101;
      font-size: 1.5em;
      right: 4px;
      top: 2px;
      color: #1c425c;
      cursor: pointer;
    }
  }
}

//subscribe page

.subscribe {
  .mktoButtonWrap.mktoSimple {
    margin-left: 165px !important;
  }

}

//post page

.blogpost {
  .subscribe-title {
    font-size: 17px;
  }

}
