body.test-drive-gocd {

  .header-bg {
    @media(max-width: $screen-sm) {
      height: 300px;
    }

    @media(min-width: $screen-sm) and (max-width: $screen-lg) {
      height: 240px;
    }
  }

  section.content-rt {
    width: 100%;

    @media(max-width: $screen-sm) {
      margin: -270px auto 75px;
    }

    @media(min-width: $screen-sm) and (max-width: $screen-lg) {
      margin: -220px auto 75px;
    }

    @media (min-width: $screen-lg) {
      width: 80%;
      margin: -220px auto 75px;
    }
  }

  .content--header {
    margin-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: $default-font-extra-bold;
    color:#fff;

    @media (max-width: $screen-sm) {
      margin: auto;
      font-size: 50px;
      width: 80%;
    }
  }

  .content--subheader {
    text-align: center;
    font-family: $default-font-extra-bold;
  }
  .content--heading {
    padding-bottom: 40px;
    color: #fff;
    text-align: center;

    @media (max-width: $screen-sm) {
      font-size: 28px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 80px;
    }
  }

  .content--para {
  font-family: $default-font-normal-bold;
    @media(min-width: $screen-sm) {
      font-size: 18px;
    }

    @media(min-width: $screen-sm) and (max-width: $screen-lg) {
      margin: 80px auto 0;
    }
    @media(max-width: $screen-sm) {
      margin: 100px auto 90px;
    }
  }
  

  div.steps-list, ul.steps-list {
    margin: auto;
    list-style: none;
    padding: 0;

    @media (min-width: $screen-md) {
      margin: auto;
    }

    @media (min-width: $screen-lg) {
      margin: auto;
    }

    .steps-list_item {
      @media (min-width: $screen-sm) {
        clear: both;
        padding-top: 70px;
      }

      .step-header {
        @media (min-width: $screen-sm) {
          float: left;
        }

        @media (max-width: $screen-sm) {
          margin: 20px auto;
          text-align: center;
        }

        @media(min-width: $screen-sm) and (max-width: $screen-lg) {
          width: 42%;
        }

        .steps-heading {
          font-size: 26px;
          font-family: $default-font-extra-bold;
          margin: 0;
          padding: 0;

          &:nth-child(2) {
            margin: 0 0 20px;
          }

          @media (min-width: $screen-lg) {
            font-size: 30px;
          }
        }
      }

      .step-content {
        font-family: "URWGeometric-Medium";
        @media (min-width: $screen-md)  {
          float: right;
          width: 50%;
        }

        @media (min-width: $screen-sm) and (max-width: $screen-md) {
          float: right;
          width: 55%;
        }
      }
    }
  }

  .add-pipeline-img {
    border: 1px solid #cccccc;
    border-radius: 2px;
  }

  .download-test-drive-links {
    &:after {
      content: "";
      clear:   both;
      display: table;
    }

    .platform-selector {
      display: flex;
      justify-content: space-evenly;
    }

    .platform {
      flex-basis: 33%;
      font-weight: bold;
      text-decoration: none;
      color: #444;
      padding: 5px;
      text-align: center;

      &:hover {
        border-bottom: 4px solid #ddd;
      }

      &.selected, &.selected:hover {
        border-bottom: 4px solid #666;
      }
    }
  }

  .one-liners {
    vertical-align: middle;
    pre[class*=language-] {
      display: inline-block;
      padding: 8px 15px;
      height: 50px;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
      width: calc(100% - 50px);
      vertical-align: middle;

      code[class*=language-] {
        display: inline-block;
        line-height: 26px;
        height: 26px;
      }
    }

    .click-to-copy {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #e2e2e2;
      background: #f3f3f3;
      line-height: 26px;
      height: 42px;
      width: 35px;
      color: #666;
      cursor: pointer;

      &:focus, &:active {
        outline: none;
      }

      &:hover {
        background: #fff;
      }
    }
  }

  .download-test-drive-package {
    @media (min-width: $screen-sm) {
      float: left;
      margin-right: 10px;
    }

    .btn {
      min-width: 80px;
      font-family: $default-font-extra-bold;

      @media (max-width: $screen-sm) {
        width: 100%;
        padding: 10px 12px;
        font-size: 20px;
        border-radius: 4px;
      }
    }
  }

  .checksum-link {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    font-family: monospace;
    text-decoration: underline;

    @media (max-width: $screen-sm) {
      margin: 10px auto;
    }
  }

  .download-hint {
    margin-top: 15px;

    p {
      color: #999;
      margin: 0;
      padding: 0;
      line-height: initial;
      font-size: 85%;
    }
  }

  .terminal {
    white-space: normal;
    background: #444;
    padding: 0.5em 1em;

    @media (min-width: $screen-lg) {
      font-size: 17px;
    }

    @media (max-width: $screen-lg) {
      font-size: 15px;
    }

    code {
      white-space: pre-line;
      color: #fff;
      .comment { color: #999; }
      .prompt { color: #abff55; }
    }
  }
}
