body.test-drive {
  .header-bg {
    padding-top: 30px;
  }
  .content-header {
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
  }

  .content-subheader {
    padding: 0 30px;
    text-align: center;
    color: #fff;

    h3 {
      color: #fff;
      margin-bottom: 5px;
    }
  }

  .content-lt, .content-rt {
    margin-top: 0;
  }

  .content-lt {
    .steps-heading {
      text-align: right;
      padding: 10px 0;
    }
  }

  .steps-list {
    padding: 0 30px;
  }

  .steps-list_item {
    margin: 100px auto;
  }

  img.unzip {
    width: 40%;
    margin: 0;
    margin-top: 150px;
    margin-left: auto;
  }

  img.test-drive-screenshot {
    margin-top: 230px;
  }

  .download-test-drive-package {
    .btn {
      margin-top: 10px;
      min-width: 180px;
    }
  }

  .checksum-link {
    display: block;
    font: 11px system-ui;
  }

  .download-hint {
    margin-top: 15px;

    p {
      color: #999;
      margin: 0;
      padding: 0;
      line-height: initial;
      font-size: 85%;
    }
  }

  .terminal {
    white-space: normal;
    background: #444;
    padding: 0.5em 1em;

    code {
      white-space: pre-line;
      color: #fff;
      .comment { color: #999; }
      .prompt { color: #abff55; }
    }
  }
}