$primary-color: #94399E;
$secondary-color: #00bfc0;
$tertiary-color: #f7a600;
$heading: #333333;
$header-bg: #333333;
$subtext: #777777;
$green: #00bfc0;
$red: #de572f;
$yellow: #f7a600;
$border: #ccc;
$grey-bg: #e5e5e5;
$border: #cccccc;
$border-radius :3px;
// z-indexes
$mobile-nav-dark-bg: 9;
$mobile-nav: 10;
$get-started-btn: 10;
$header-top: 100;
$get-started-nav: 11;
$backtotop: 12;
$brand-primary: $primary-color;
$border-radius-base: 3px !default;
// responsive breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-sm-min: 575.98px;
$screen-md-min: 767.98px;
$screen-lg-min: 991.98px;
$screen-xl-min: 1201199.98px;

// overriding old variables from bootstrap
$screen-tablet:  $screen-md;
$screen-desktop: $screen-lg;

$header-height: 66px;
