.video-box {
  margin-bottom: 40px;

  &:hover {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease;

    figcaption {
      transition: all 0.5s ease;
      background: $primary-color;
    }

    img {
      transition: all 0.5s ease;
      opacity: 0.2;
    }

    a:after {
      transition: all 0.5s ease;
      font-size: 70px;
    }

  }

  img {
    transition: all 0.5s ease;
    opacity: 1;
  }

  a {
    border: 1px solid #ccc;
    display: block;
    padding: 10px;
    position: relative;

    @media (min-width:$screen-tablet) {
      height: 204px;
    }

    @media (min-width:$screen-desktop) {
      height: 175px;
    }

    @media (min-width:$screen-lg-desktop) {
      height: 212px;
    }

    &:after {
      content: "\f04b";
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      top: 50%;
      position: absolute;
      -webkit-font-smoothing: antialiased;
      font-size: 50px;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $primary-color;
      display: block;
      transition: all 0.5s ease;
    }

  }

  figcaption {
    background: $green;
    color: #fff;
    padding: 10px;
    transition: all 0.5s ease;
  }

}

//video player page

.video-banner {
  .caption {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;

    @media (min-width:$screen-tablet) {
      font-size: 30px;
    }

    span {
      text-decoration: underline;
    }

  }

}

.video-player {
  width: 100%;
  height: 220px;
  background: #000;
  text-align: center;
  margin: 50px auto;
  position: relative;
  padding: 10px 0;

  @media (min-width:$screen-tablet) {
    padding: 25px;
    height: 465px;
  }

  @media (min-width:$screen-desktop) {
    padding: 20px;
    width: 840px;
    height: 555px;
  }

}

.backto {
  color: #333;
  width: 172px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  display: block;
  position: absolute;
  left: 0px;
  top: -50px;
}