<% split = per_release.each_slice(7).to_a %>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th>Region</th>
        <th>AMI ID</th>
      </tr>
      <% split[0].each do |ami| %>
          <tr>
            <td><%= ami.region %></td>
            <td><%= link_to("#{ami.ami_id}", ami.href) %></td>
          </tr>
      <% end %>

    </table>
  </div>
  <% if split[1] %>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Region</th>
            <th>AMI ID</th>
          </tr>
          <% split[1].each do |ami| %>
              <tr>
                <td><%= ami.region %></td>
                <td><%= link_to("#{ami.ami_id}", ami.href) %></td>
              </tr>
          <% end %>

        </table>
      </div>
  <% end %>
</div>
