<div class="container">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>AMI ID</th>
    </tr>
    <% data.amis.each do |ami| %>
        <tr>
          <td><%= ami.image_name %></td>
          <td><%= ami.region %></td>
          <td><%= link_to("#{ami.ami_id}", ami.href) %></td>
        </tr>
    <% end %>

  </table>
</div>