/*doc
---
title: Banner Component
name: banner-component
category: index
---

Style for Banner Component

```html_example
  <div class="banner-container">
  <div class="container">
  <h1 class="banner-container_heading"> GoCD supports Pipeline as Code </h1>
  <div class="banner-container_content">
  <div class="banner-container_img">
    <img src="http://via.placeholder.com/600x400" alt="banner-img" />
  </div>

  <div class="banner-container_desc">
    <p>
      With GoCD’s pipelines as code functionality, get full flexibility and control into every aspect of your pipeline configuration without the need for administrator access. It’s easier to upgrade your configuration as often as needed.
    </p>
    <p>
      With pipelines as code, your changes are easier to audit, share, revert, and also to set up new servers.
    </p>
    <a href="#" class="button-brand banner-container_btn">Try Now </a>
  </div>
  </div>
  </div>  
</div>
```
*/

.banner-container {
  padding: 10px;
  background-color: #1b1d21;
  background: url('../../assets/images/pipelines-as-code/pipelines-as-code-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  @media (min-width: $screen-lg) {
    padding: 50px 100px 20px;
  }
}

.banner-container_heading {
  text-align: center;
  color: #FFFFFF;
  @media (min-width: $screen-lg) {
    font-size: 60px;
  }
  
}

.banner-container_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;

  @media (min-width: $screen-lg) {
    padding: 55px 0px 20px;
  }
}

.banner-container_img {
  width: 60%;
  padding: 30px 0px;

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-lg) {
    width: 40%;
    padding: 0px 30px;
  }
}

.banner-container_desc {
  width: 100%;
  padding: 30px 0px 0px;
  
  @media (min-width: $screen-lg) {
    width: 50%;
    padding: 0px 30px 0px;
  }
   p {
    font-size: 24px;

    @media (min-width: $screen-lg) { 
      font-size: 28px;
    }
   }

}

.banner-container_btn {
  text-align: center;
  font-size: 26px;

  @media (max-width: $screen-md-min) {
    width: 100% !important;
  }
}