
/*doc
---
title: Button
name: button-component
category: index
---

Style for Button Component

```html_example
  <a href="#" class="button-brand"> Click Me </a>
```
*/

$brand-secondary: #4AD9D9;
$dark: #000;
$default-font-extra-bold: 'URWGeometric-ExtraBold';
$default-font-normal-bold: 'URWGeometric-Semibold';

.button-brand {
  background: $brand-secondary;
  color: $dark;
  display: block;
  font-family: $default-font-normal-bold;
  line-height: 0.2;
  margin: 0 auto;
  padding: 30px;
  text-transform: uppercase;
  margin: 20px auto 50px auto;
  font-size: 16px;
  width: auto;
  border: 0;
  cursor: pointer;
  transition: all 0.25s;
  text-align: center;
  border-radius: 5px;
  &:active {
      background: #36b1bf;
      color: #FFFFFF;
      outline: 0;
  }
  
  &:hover {
      opacity: 0.8;
      outline: 0;
      color: $dark;
  }

  &:focus {
    outline: 0;
  }

  @media(min-width: $screen-md) {
      height: 37px;
      font-size: 22px;
      width: 424px;
      margin: 40px auto 40px auto;
  }
}