/*doc
---
title: Cornered Banner
name: cornered-banner
category: index
---
Style for Cornered Banner Component
```html_example
<div class="cornered-banner">
  <p class="cornered-banner_content">
    Free GoCD Analytics trial is available
  </p>
  <a href="#" class="cornered-banner_cta">
    SIGN UP
  </a>
</div>
```
*/

.cornered-banner {
  width: 90%;
  border: 1px solid $secondary-color;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin: 35px auto;


  &::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: -20px;
    background: #fff;
    border-top: 1px solid $secondary-color;
    transform: rotateZ(45deg);
    border-radius: 2px;
  }

  @media (max-width: $screen-lg) {
    flex-direction: column;
    width: 80%;
  }
  
}

.cornered-banner_content {
  font-size: 18px;
  font-family: 'URWGeometric-SemiBold';
  margin-bottom: 0;

  @media (max-width: $screen-lg) {
    margin-bottom: 10px;
    text-align: center;
  }
}

.cornered-banner_cta {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'URWGeometric-SemiBold';
  text-align: center;
  background: $secondary-color;
  border-radius: 2px;
  color: #000;
  transition: all 0.25s;

  padding: 10px 25px;


  &:active {
    background: #36b1bf;
    color: #FFFFFF;
    outline: 0;
    color: $dark;
  }
    
  &:hover {
    opacity: 0.8;
    outline: 0;
    color: $dark;
  }

  &:focus {
    outline: 0;
    color: $dark;
  }
}
