.flex-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include grid-container;
}

.flex-item_sm {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(4);
  }
}

.flex-item_md {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(8);
  }
}

.grid-container {
  @include grid-container;
}

.grid-col-7 {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(7);
  }
}

.grid-col-5 {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(5);
  }
}

.gird-col-6 {
  @include grid-column(12);

  @media (min-width: $screen-lg) {
    @include grid-column(6);
  }
}

.grid-shift {
  @include grid-column(12);
  @include grid-push(0);
  @include grid-shift(0);
  // @include grid-visual;
  float: none;

  @media (min-width: $screen-lg) {
    @include grid-column(8);
    @include grid-push(1);
    @include grid-shift(1);
    // @include grid-visual;
    float: none;
  }
}