.flex-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item_sm {
  width: 100%;

  @media (min-width: $screen-md){
    width: 30%;
  }
}

.flex-item_md {
  width: 100%;
  @media (min-width: $screen-md){
    width: 70%;
  }
}

.grid-container {
  @include grid-container;
}

.grid-col-7 {
  @include grid-column(12);
  @media (min-width: $screen-md){
    @include grid-column(7);
  }
}

.grid-col-5 {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(5);
  }
}


