.flex-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @include grid-container;
}

.flex-item_sm {
  @include grid-column(12);

  @media (min-width: $screen-md){
    @include grid-column(4);
  }
}

.flex-item_md {
  @include grid-column(12);
  @media (min-width: $screen-md){
    @include grid-column(8);
  }
}

<<<<<<< HEAD
.grid-container {
  @include grid-container;
}

.grid-col-7 {
  @include grid-column(12);
  @media (min-width: $screen-md){
    @include grid-column(7);
  }
}

.grid-col-5 {
  @include grid-column(12);

  @media (min-width: $screen-md) {
    @include grid-column(5);
  }
}


=======
.flex-item-6 {
  @include grid-column(6);
}
>>>>>>> basic layout complete- * Added all the required for the analytics-feedback page. *Basic layout styling done
