
/*doc
---
title: Row Box Full width
name: row_box_fl_w
category: index
---

Style for tabs

```html_example

    <div class='features-2'>
		<div class='features-2-content'>
		<div class='features-2-card-1'>
			<div class='spot-illo-2'></div>
			<div class='features-2-card-1-content'>
				<h3>Feature 2: Shores of the Cosmic Ocean</h3>
				<p>Dream of the mind's eye network of wormholes rich in mystery radio telescope Drake Equation rogue. The only home we've ever known corpus callosum of brilliant syntheses Sea of Tranquility globular star cluster rich in heavy atoms. Kindling the energy hidden in matter inconspicuous motes of rock and gas permanence of the stars dispassionate extraterrestrial observer from which we spring extraordinary claims require extraordinary evidence.</p>
			</div>
		</div>
		<div class='features-2-card-1'>
			<div class='spot-illo-2'></div>
			<div class='features-2-card-1-content'>
				<h3>F2C1: Shores of the Cosmic Ocean</h3>
				<p>Dream of the mind's eye network of wormholes rich in mystery radio telescope Drake Equation rogue. The only home we've ever known corpus callosum of brilliant syntheses Sea of Tranquility globular star cluster rich in heavy atoms. Kindling the energy hidden in matter inconspicuous motes of rock and gas permanence of the stars dispassionate extraterrestrial observer from which we spring extraordinary claims require extraordinary evidence.</p>
			</div>
		</div>
		
		<div class='features-2-card-2'>
			<div class='spot-illo-2'></div>
			<div class='features-2-card-2-content'>
				<h3>F2C2: Shores of the Cosmic Ocean</h3>
				<p>Dream of the mind's eye network of wormholes rich in mystery radio telescope Drake Equation rogue. The only home we've ever known corpus callosum of brilliant syntheses Sea of Tranquility globular star cluster rich in heavy atoms. Kindling the energy hidden in matter inconspicuous motes of rock and gas permanence of the stars dispassionate extraterrestrial observer from which we spring extraordinary claims require extraordinary evidence.</p>
			</div>
		</div>
	</div>
</div>

```
*/


.features-2 {
	display: flex;
	flex-direction: column;
	background: #eeeeee;
	padding-top: 40px;
	padding-bottom: 40px;
	
	.features-2-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: auto;
		max-width: 98vw;
		
		.features-2-card-1 {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			
			width: 100%;
			height: auto;
			padding: 10px;
			margin-bottom: 20px;
			background-color: #ffffff;
			border-radius: 10px;
		
			.spot-illo-2 {
				height: 90%;
				flex-basis: 40%;
    		flex-grow: 0;
    		flex-shrink: 0;
				background: #333333;
				margin-right: 20px;
			}
			
			.features-2-card-1-content {	
			}
			
		}
		
		.features-2-card-2 {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			
			width: 100%;
			height: auto;
			padding: 40px;
			margin-bottom: 20px;
			background-color: #ffffff;
			border-radius: 10px;
		
			.spot-illo-2 {
				height: 400px;
				width: 600px;
				background: #333333;
				margin-right: 20px;
				margin-bottom: 20px;
			}
			
			.features-2-card-2-content {
				margin-bottom: 20px;
				
				//Note: try using 'before' pseudo selector to append an identifier in front of headers for example purposes
				h3 {
					text-align: center;
					margin-bottom: 20px;
					// &::before {
					// 	content: "F2C2:";
					// }
				}
			}
			
		}
	}
}
