/*doc
---
title: Card
name: card-style
category: index
---

Style for Card

```html_example
    <div class='features-1'>
	<div class='features-1-header'>
		<h2>F1: Vanquish the impossible, stirred by starlight</h2>
	</div>
	<div class="features-1-content">
		<div class='features-1-card-1'>
			<div class='spot-illo'>
			</div>
			<h3>F1C1: Billions upon Billions</h3>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
        </div>
        
		<div class='features-1-card-1'>
			<div class='spot-illo'>
			</div>
			<h3>F1C1: Billions upon Billions</h3>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
		</div>
		
		<div class='features-1-card-2'>
			<h3>F1C2: Billions upon Billions</h3>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
		</div>
		<div class='features-1-card-2'>
			<h3>F1C2: Billions upon Billions</h3>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
		</div>
		
		<div class='features-1-card-3'>
			<h3>F1C3: Billions upon Billions</h3>
			<div class='spot-illo'></div>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
		</div>
		<div class='features-1-card-3'>
			<h3>F1C3: Billions upon Billions</h3>
			<div class='spot-illo'></div>
			<p>Two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love the ash of stellar alchemy bits of moving fluff rich in mystery a mote of dust suspended in a sunbeam?</p>
		</div>
	</div>
</div>

```
*/

.features-1 {
	
	//Theoretically, layout breakpoints could be added in at this level. All 'cards' below this level should ideally work in tandem with each other within this layout level.
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-bottom: 40px;
	
	.features-1-header {
		text-align: center;
		margin-bottom: 40px;
	}

	.features-1-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: auto;
		max-width: 100vw;

		// Variations of layout are nested and named sequentially with no specificity applied to relative attributes like small/medium/large.
		.features-1-card-1 {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 400px;
			height: auto;
			padding: 20px;
			margin-bottom: 20px;

			//border indicated here to show boundaries of the div
			border: 1px dotted #efefef;

			//Note: can use 'order' property to rearrange the elements within the flex layout
			.spot-illo {
				height: 140px;
				width: 140px;
				background: #eeeeee;
				margin-bottom: 30px;
				border-radius: 50%;
			}

			h3 {
				margin-bottom: 10px;
			}
		}
		
		.features-1-card-2 {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 300px;
			height: auto;
			padding: 40px 60px;
			margin-bottom: 20px;

			border: 2px solid #efefef;
			border-radius: 10px;
			
			h3 {
				margin-bottom: 10px;
				font-weight: 600;
				text-align: center;
			}
			
			p {
				text-align: center;
			}
		}
		
		.features-1-card-3 {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 400px;
			height: auto;
			padding: 20px;
			margin-bottom: 20px;

			border: 1px dotted #efefef;

			.spot-illo {
				height: 140px;
				width: 140px;
				background: #3e3e3e;
				margin-bottom: 20px;
			}

			h3 {
				margin-bottom: 20px;
			}
		}
	}
}