/*doc
---
title: Typography
name: Typography
category: index
---

Style of Typography

```html_example

  <h1> Heading 1 (Font size: 48px) </h1>
  <h2> Heading 2 (Font size: 36px) </h2>
  <h3> Heading 3 (Font size: 24px) </h3>
  <h4> Heading 4 (Font size: 18px) </h4>
  <h5> Heading 5 (Font size: 14px)</h5>
  <h6> Heading 6 (Font size: 12px) </h6>
  <p> Paragraph Text style (Font size: 18px) </p>
  
```
*/

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

p, li {
	font-size: 18px;
	line-height: 1.5;
}