.parent-video-container {
  position: relative;
  width: 100%;
  display: block;
  margin: 1.5em auto;
  z-index: 98;
}

.video_element {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.video-overlay{
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.player-close {
  font-size: 30px;
  color: #e74c3c;
  position: absolute;
  right: 3%;
  top: 25%; 
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  @media (min-width: $screen-lg) {
    right: 15%;
    top: 15%;  
  }
}

.play-button {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.overlay-video-container {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transition: all 0.5s;
  visibility: hidden;
}

.video-iframe {
  width: 90%;
  height: 315px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $screen-lg){
    width: 70%;
    height: 490px;
  }
}

.show-overlay {
  visibility: visible;
}

.video-content_header {
  font-size: 24px;
  text-align: left;

  @media (min-width: $screen-lg) {
    font-size: 32px;
  }
}

.video-content_description {
  margin: 0;
  padding: 0 20px;
}

.video-containter_cta  {
  flex-direction: column !important;
  .cta-button {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
  }

  .cta-button-ghost {
    color: #1C425C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;

    &:hover {
      color: #fff;
    }
  }
}