<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/css/rwdgrid.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/font/fontello/animation.css">
    <!-- <link rel="stylesheet" href="/font/fontello/fontello-codes.css"> -->
    <link rel="stylesheet" href="/font/fontello/fontello-embedded.css">
    <!-- <link rel="stylesheet" href="/font/fontello/fontello.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      
          <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
     <![endif]-->
    <script type="text/javascript" src="/js/jqlite.1.1.1.min.js" async=""></script>
</head>

<body>
    {% include google-tag-manager.html %}
    <a href="https://github.com/gocd/gocd/">
        <img class="fork-me-button" src="/images/fork-me-button.png" alt="Fork gocd on GitHub">
    </a>
    
    {% include announcements.html %}
    <div class="header">
        <div class="container-12">
            {% include header.html %}
        </div>
    </div>
    <hgroup class="container-12 page-title">
        <h2>
            {{ page.title }}
            <span>
                {{ page.header_follow }}
            </span>
        </h2>
        <h4>{{ page.subtitle }}</h4>
    </hgroup>
    <div class="full-width">
        <div class="container-12">
            {{ content }}
        </div>
    </div>
    <div class="container-12 footer">
        {% include footer.html %}
    </div>
    <script type="text/javascript" src="/js/jqlite.1.1.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    
    {% include page-specific-scripts.html %}
    
    {% include analytics.html %}

</body>

</html>
