<div class="join-community">
  <div class="container">
    <h3>Join our community</h3>
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-user-plus"></i>
          Join us
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-wechat"></i>
          Talk to us
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-binoculars"></i>
          Watch us
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-twitter"></i>
          Follow us
        </a>
      </li>
    </ul>
  </div>
</div>

<footer>
  <div class="container">
    <p class="help-us-improve">Make this place better, <a href="https://github.com/gocd/gocd.github.io/fork">fork</a>
      it or <a href="https://github.com/gocd/gocd.github.io/issues">suggest</a> something.</p>
    <p>
      Go is an open source project, sponsored by <a target="_blank" href="http://www.thoughtworks.com">ThoughtWorks Inc.</a>
      under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="Apache 2.0 License">Apache License, Version 2.0</a>
    </p>
  </div>
  <a href="#top">top</a>
</footer>
