
<header class="top">
	<div class="container">
		<a href="/index.html" class="logo"><%= image_tag "Go_logo.png" %></a>
		<nav class="mainnav">
			<ul class="level0">
				<li class="dropdown">
					<a href="/features.html">Features</a>
					<ul>
						<li><a href="/plugins.html">Plugins</a></li>
						<li><a href="roadmap.html">Roadmap</a></li>
						<li><a href="/subscribe.html">Subscribe to updates</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="/community.html">Community</a>
					<ul>
						<li><a href="/contribute.html">Contribute</a></li>
						<li><a href="/cla.html">CLA</a></li>
						<li><a href="/open-issues.html">Open Issues</a></li>
						<li><a href="events.html">Events</a></li>
						<li><a href="partners.html">Partners</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a></li>
				<li class="dropdown">
					<a href="/help.html">Help</a>
					<ul>
						<li><a href="getting-started/part-1.html">Getting started</a></li>
						<li><a href="/download.html">Download</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<button class="navbtn menu collapse">
		<span></span>
		</button>
	</div>
</header>
<span id="top"></span>