<header class="top">
  <div class="container">
    <a href="/" class="logo"><%= image_tag "Go_logo.png" %></a>
    <nav class="mainnav">
      <ul class="level0">
        <li class="dropdown">
          <a href="/features">Features</a>
          <ul>
            <li><a href="/plugins">Plugins</a></li>
            <li><a href="/roadmap">Roadmap</a></li>
            <li><a href="/subscribe">Subscribe to updates</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/community">Community</a>
          <ul>
            <li><a href="/contribute">Contribute</a></li>
            <li><a href="/cla">CLA</a></li>
            <li><a href="/open-issues">Open Issues</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/partners">Partners</a></li>
          </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
        <li class="dropdown">
          <a href="/help">Help</a>
          <ul>
            <li><a href="/getting-started/part-1">Getting started</a></li>
            <li><a href="/download">Download</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <button class="navbtn menu collapse">
    <span></span>
    </button>
  </div>
</header>
<span id="top"></span>
