



<header class="top">
	<div class="container">
		<a href="#" class="logo"><%= image_tag "Go_logo.png" %></a>
		<nav class="mainnav">
			<ul class="level0">
				<li><a href="index.html"  class="sel">Home</a></li>
				<li class="dropdown">
					<a href="#">Getting Started</a>
					<ul>
						<li><a href="/features.html">Go features</a></li>
						<li><a href="/download.html">Download</a></li>
						<li><a href="/plugins.html">Plugins</a></li>
						<li><a href="#">Subscribe to updates</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">Community</a>
					<ul>
						<li><a href="#">Contribute</a></li>
						<li><a href="#">contribution guide</a></li>
						<li><a href="#">Developer Guide</a></li>
						<li><a href="#">Contributors</a></li>
						<li><a href="events.html">Events</a></li>
						<li><a href="partners.html">Partners</a></li>
						<li><a href="#">Roadmap</a></li>
						<li><a href="#">Open Issues</a></li>
						<li><a href="#">CLA</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">Docs</a>
					<ul>
						<li><a href="#">Resources
						</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a></li>
			</ul>
		</nav>
		<button class="navbtn menu collapse">
		<span></span>
		</button>
	</div>
</header> 