---
title: GoCD - Blog
pageable: false
title_tag_of_header: "Continuous Delivery Learnings, Thoughts, and Techniques | GoCD Blog"
meta_description: "Learn more about Continuous Delivery practices, performance testing, deployment pipelines and more, on our GoCD blog."
meta_keywords: "continuous delivery, software, continuous integration, open source, blog, software development, tools, automation, deployment pipelines, devops, techniques"
---

<div class="inner-banner blog-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span><span class="go">Go</span>CD Blog</span></h1>
    </div>
    <%= link_to 'RSS feed', '/feed.xml' , { :class=>"rss-feed" }  %>
  </div>
</div>

<% articles_to_show = selected_articles_for_display_in page_articles %>
<% latest_post      = articles_to_show.first %>
<% second_post      = articles_to_show[1] %>
<% articles         = articles_to_show.drop(1) %>

<main class="main blog-list" >
  <div class="container">
      <div class="blog-list-item latest-blog">
        <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => latest_post } %>
     </div>


    <ul class="blogs">
    <% articles.select.with_index do |article| %>
        <li class="item">
            <div class="blog-list-item">
              <%= partial 'partials/_blog_post_summary.html.erb', :locals => { :article => article } %>
            </div>
        </li>
    <% end %>
    </ul>
  </div>
</main>
