---
title: "AMIs for GoCD"
title_tag_of_header: "AMIs for GoCD"
---

<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>GoCD Cloud</span></h1>
    </div>
  </div>
</div>
<main>

  <div class="container">
    <h3 class="subcaption">Amazon Linux based image for GoCD Server</h3>
    <h5 class="subcaption">Please log your feedback or issues on <a href="https://github.com/gocd/gocd-cloud">github</a> for the following</h5>
    <div class="content">
      <%= partial "partials/amis/amis" %>
    </div>

  </div>
</main>
<script>
    jQuery(document).ready(function ($) {
        startTabContainer($);
    });
</script>
