---
title: Contribute
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Contribute</span></h1>
  </div>
</div>

<main>
  <div class="container">
    <p class="caption-txt">
      Coding is definitely not the only way you can contribute to GoCD. There are many valuable
      ways to contribute to the product and to help the growing GoCD community.
    </p>

    <div class="row content-tiles">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="tile">
          <figure>
            <img src="/assets/images/go.cd_test-gocd.png" alt="" />
          </figure>

          <h3>Test GoCD</h3>
          <p>
            You can report issues you find, or you can help us test GoCD to find new issues. You can also add to the
            existing automated tests.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="tile">
          <figure>
            <img src="/assets/images/go.cd_join-community.png" alt="" />
          </figure>

          <h3>Join Community Discussions</h3>
          <p>
            We have an active <a href="https://groups.google.com/forum/#!forum/go-cd">forum</a> where issues, features
            and ideas are discussed. Start a discussion, or help someone get started with GoCD.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="tile">
          <figure>
            <img src="/assets/images/go.cd_blog-about-gocd.png" alt="" />
          </figure>

          <h3>Blog about GoCD</h3>
          <p>
            Contribute to the <%= link_to 'blog', '/blog.html' %>. Maybe you’ve used GoCD in a different way,
            or you’ve analyzed how a feature works. If you write about experiences like these, we’d love to add them to the
            GoCD blog.
          </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="tile last">
          <figure>
            <img src="/assets/images/go.cd_code.png" alt="" />
          </figure>

          <h3>Code for GoCD</h3>
          <p>
            Contribute code to GoCD! All repositories are hosted on GitHub. <a
            href="https://github.com/gocd/gocd/">GoCD’s core</a> and <a
            href="https://docs.go.cd/current/extension_points/plugin_user_guide.html">plugins</a> are written in
            Java. Choose any pending feature or bug, big or small, or decide to build your own plugin, then send us a
            pull request. Even fixing broken links is a big, big help.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="contribution-process">
    <h3>Code Contribution Process</h3>
    <div class="container">
      <ul class="process">
        <li>
          <span class="decide"><img src="/assets/images/go.cd_decide.png" alt="" /></span>
          <span>Decide what you want to build</span>
        </li>
        <li>
          <span class="fork"><img src="/assets/images/go.cd_fork.png" alt="" /></span>
          <span>Fork the repository, keep it in sync with the master</span>
        </li>
        <li>
          <span class="talk"><img src="/assets/images/go.cd_want-to-do.png" alt="" /></span>
          <span>Talk to us about what you want to do</span></li>
        <li class="lastitem">
          <span class="changes"><img src="/assets/images/go.cd_changes.png" alt="" /></span>
          <span>Make your changes</span></li>
      </ul>

      <ul class="process second">
        <li>
          <span class="merge-request"><img src="/assets/images/go.cd_merge.png" alt="" /></span>
          <span>We Merge your Request</span>
        </li>
        <li>
          <span class="cla-form"><img src="/assets/images/go.cd_form.png" alt="" /></span>
          <span>Fill out the CLA Form</span>
        </li>
        <li>
          <span class="pull-request"><img src="/assets/images/go.cd_pull-request.png" alt="" /></span>
          <span>Submit a Pull Request</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="howto">
    <div class="container">
      <div class="col-md-6">
        <h3>How to start contributing</h3>
        <p>
          Decide how you want to contribute: picking up an <a href="https://github.com/gocd/gocd/issues">outstanding
          issue</a>, adding a new feature, or building a plugin, etc. Looking for inspiration? Check out <%= link_to 'GoCD\'s Roadmap', '/roadmap.html' %> for a view into where the product is heading this year.
        </p>

        <p>
          If your contribution is a code contribution and you do send us a pull request, you will first need to read and
          sign the <a href="https://www.go.cd/contribute/cla.html">Contributor License Agreement</a>.
        </p>
      </div>

      <div class="col-md-6">
        <h3>How to get help</h3>
        <p>
          If you need any help getting started or get stuck along the way, you can talk to us on <a
          href="https://gitter.im/gocd/gocd">Gitter</a> or on the <a
          href="https://groups.google.com/forum/#!forum/go-cd">discussion forum</a>. We are happy to help and answer any
          questions.
        </p>
      </div>
    </div>
  </div>
</main>
