---
title: Contributor License Agreement
title_tag_of_header: "Contribute - Contributor License Agreement (CLA) | GoCD"
meta_description: "GoCD is open source continuous delivery software. Read the Contributor License Agreement (CLA) for more information on the terms for distribution."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, contribute, get involved, support, license, agreement, cla, contributor license agreement"
---
<div class="inner-banner">
  <div class="container">
     <div class="banner-content">
      <h1 class="caption"><span>Contributor License Agreement</span></h1>
    </div>
  </div>
</div>
<main>
<div class="container">
  <h3>What's this all about then?</h3>
  <p>By agreeing to this Contributor License Agreement (CLA), you are saying that you give ThoughtWorks (a major sponsor of Go development) permission to distribute your contributions (or the contributions of your organization's employees) under the terms of ThoughtWorks' choice.  You are also promising that you have the necessary rights to give ThoughtWorks this permission.  In return for this, ThoughtWorks is promising to you that if it distributes your contributions, ThoughtWorks will distribute them under an OSI-approved open source license.  The CLA also says that you do not make any warranties or have any support obligations regarding your contributions.</p>
  <h3>The legal stuff</h3>
  <p>This CONTRIBUTOR LICENSE AGREEMENT ("Agreement") by and between ThoughtWorks, Inc. ("ThoughtWorks"), with offices at
    200 E. Randolph Street, 25th Floor, Chicago, Illinois 60601, and you (the
  "Contributor").</p>
  <p>This Agreement is a modified version and mashup of the Apache Individual Contributor License
  Agreement and the Apache Corporate CLA. [Respect.]</p>
  <h3>Recitals</h3>
  <p>A.
    The Contributor wishes to submit Contributions to ThoughtWorks or to authorize
    Contributions submitted by its employees to ThoughtWorks, and to grant copyright and patent
  licenses to such Contributions.</p>
  <p>B.
    This Agreement does not change the Contributor's right to use its Contributions for any
    other purpose.
    C.
    Except for the licenses granted herein and with respect to recipients of software
    distributed by ThoughtWorks, the Contributor reserves all right, title, and interest in and to its
  Contributions.</p>
  <h3>Agreement</h3>
    <pre>The parties hereto hereby agree as follows:
        1. Definitions.

        (a) As used in this Agreement, "You" (or "Your") means the copyright owner or legal
        entity authorized by the copyright owner that is making this Agreement with ThoughtWorks. For
        legal entities, the entity making a Contribution and all other entities that control, are controlled
        by, or are under common control with that entity are considered to be a single Contributor.

        (b) As used in the Agreement, "control" means (i) the power, direct or indirect, to cause
        the direction or management of such entity, whether by contract or otherwise, or (ii) ownership
        of fifty percent (50%) or more of the outstanding shares, or (iii) beneficial ownership of such
        entity.

        (c) As used in the Agreement, "Contribution" means the code, documentation or other
        original works of authorship expressly identified in Schedule B, as well as any original work of
        authorship, including any modifications or additions to an existing work, that is intentionally
        submitted by You to ThoughtWorks for inclusion in, or documentation of, any of the products
        owned or managed by ThoughtWorks (the "Work").

        (d) As used in the Agreement, "submitted" means any form of electronic, verbal, or
        written communication sent to ThoughtWorks or its representatives, including but not limited
        to communication on electronic mailing lists, source code control systems, and issue tracking
        systems that are managed by, or on behalf of, ThoughtWorks for the purpose of discussing and
        improving the Work, but excluding communication that is conspicuously marked or otherwise
        designated in writing by You as "Not a Contribution."

        2. Grant of Copyright License. Subject to the terms and conditions of this Agreement, You
        hereby grant to ThoughtWorks and to recipients of software distributed by ThoughtWorks a
        perpetual, worldwide, non-exclusive, no-charge, royalty-free, irrevocable copyright license
        to reproduce, prepare derivative works of, publicly display, publicly perform, sublicense, and
        distribute Your Contributions and such derivative works.

        3. Grant of Patent License. Subject to the terms and conditions of this Agreement, You hereby
        grant to ThoughtWorks and to recipients of software distributed by ThoughtWorks a perpetual,
        worldwide, non-exclusive, no-charge, royalty-free, irrevocable (except as stated in this section)
        patent license to make, have made, use, offer to sell, sell, import, and otherwise transfer
        the Work, where such license applies only to those patent claims licensable by You that are
        necessarily infringed by Your Contribution(s) alone or by combination of Your Contribution(s)
        with the Work to which such Contribution(s) was submitted. If any entity institutes patent
        litigation against You or any other entity (including a cross-claim or counterclaim in a lawsuit)
        alleging that your Contribution, or the Work to which you have contributed, constitutes direct
        or contributory patent infringement, then any patent licenses granted to that entity under this
        Agreement for that Contribution or Work shall terminate as of the date such litigation is filed.

        4. Entitled to Grant Licenses. You represent that You are legally entitled to grant the above
        licenses. As applicable, 1) You represent further that each employee of the organization
        designated on Schedule A below (or in a subsequent written modification to that Schedule) is
        authorized to submit Contributions on behalf of the organization; or 2) if your employer(s) has
        rights to intellectual property that you create that includes your Contributions, you represent
        that you have received permission to make Contributions on behalf of that employer, that your
        employer has waived such rights for your Contributions to ThoughtWorks, or that your employer
        has executed a separate Contributor License Agreement with ThoughtWorks.

        5. Original Creation. You represent that Your Contribution is Your original creation. If any
        part of Your Contribution is not Your original creation, You represent that Your Contribution
        submissions include complete details of any third-party license or other restriction (including,
        but not limited to, related patents and trademarks) of which you are personally aware and which
        are associated with any part of Your Contributions.

        6. No Warranties. You are not expected to provide support for Your Contributions, except
        to the extent You desire to provide support. You may provide support for free, for a fee,
        or not at all. Unless required by applicable law or agreed to in writing, you provide your
        contributions on an "as is" basis, without warranties or conditions of any kind, either express or
        implied, including, without limitation, any warranties or conditions of title, non-infringement,
        merchantability, or fitness for a particular purpose.

        7. On Behalf of a Third-Party. Should You wish to submit work that is not Your original
        creation, You may submit it to ThoughtWorks separately from any Contribution, identifying the
        complete details of its source and of any license or other restriction (including, but not limited
        to, related patents, trademarks, and license agreements) of which you are personally aware, and
        conspicuously marking the work as "Submitted on behalf of a third-party: [named here]".

        8. ThoughtWorks' Obligation. In return for the grants and representations You have made in
        this Agreement, ThoughtWorks agrees that if ThoughtWorks distributes your Contributions,
        ThoughtWorks will distribute Your Contributions under an OSI-approved open source license.

        9. Miscellaneous. You agree to notify ThoughtWorks of any facts or circumstances of which
        you become aware that would make the representations You have made in this Agreement
        inaccurate in any respect. It is your responsibility to notify ThoughtWorks when any change is
        required to the list of designated employees authorized to submit Contributions on behalf of the
        organization, or to the organization's point of contact with ThoughtWorks, if applicable.
        IN WITNESS WHEREOF, the parties hereto have executed this Agreement as of the
        date first set forth above.
  </pre>
  <p>
    THOUGHTWORKS, INC.<br/>
    By: Rebecca Parsons <br/>
    Title: Chief Technology Officer<br/>
    Signed: /Rebecca Parsons/
  </p>
  <p><a href="https://www.thoughtworks.com/privacy-policy">ThoughtWorks Privacy Policy</a></p>
  <h2>Let's do this!</h2>
  <p>If you're OK with the above then fill in the form below. </p>
  <iframe src="https://docs.google.com/forms/d/1ihiF6cmzWYR5aFlAFC0VVM12kqFu92qQryluoT1VaZk/viewform?embedded=true" width="760" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
</main>
