---
title: GoCD - Download
title_tag_of_header: "Download for Free - Server and Agent | GoCD"
meta_description: "Download GoCD - open source continuous delivery server - for free. Community and commercial support available."
meta_keywords: "GoCD download, go agent download, go cd download, install gocd"
---
<div class="inner-banner plugins">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Download</span></h1>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 sidebar">
        <button class="download-btn"><i class="fa fa-bars"></i></button>

        <nav class="sidebar-nav download-nav">
          <ul class="verticalnav tab-container-marker">
            <li class="dropdown open">
              <span class="head">OS Types</span>
              <ul>
                <li><span class="tab-marker" rel="tab-redhat">RPM/YUM</span></li>
                <li><span class="tab-marker" rel="tab-debian"> Debian/APT</span></li>
                <li><span class="tab-marker" rel="tab-zip">Zip</span></li>
                <li><span class="tab-marker" rel="tab-windows">Windows</span></li>
                <li><span class="tab-marker" rel="tab-osx">OSX</span></li>
              </ul>
            </li>
            <li class="dropdown open">
              <span class="head">Cloud Providers</span>
              <ul>
                <li><span class="tab-marker" rel="tab-ami">Amazon AMI</span></li>
                <li><span class="tab-marker" rel="tab-docker">Docker</span></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-8 col-md-6">
        <script id="verify-checksum-message-template" type="text/x-handlebars-template">
          <div class="verify-checksum-message">
            <div class="content">
              <button class="close-message">X</button>
              <p>You can verify the checksum on Linux or Mac OSX by doing this:</p>
              <div class="code">
                <p class="prompts">
                  user@shell: <br/>
                  user@shell: <br/>
                  user@shell: <br/>
                </p>
                <p class="commands">
                  CHECK="{{sha256sum}}"<br/>
                  echo "$CHECK&nbsp;&nbsp;{{filename}}" &gt; verify.sha256<br/>
                  sha256sum -c verify.sha256<br/>
                </p>
                <p class="results">
                  {{filename}}: OK
                </p>
                <p>
                  On Windows, you will have to use a third-party utility like
                  <a target="_blank" href="http://code.kliu.org/misc/hashutils/">HashUtils</a>
                  or <a target="_blank" href="https://support.microsoft.com/en-us/kb/841290">fciv</a>. The values you would  be looking for are:
                </p>
                <p class="results">
                  File: {{filename}}<br/>
                  MD5 sum: {{md5sum}}<br/>
                  SHA1 sum: {{sha1sum}}<br/>
                  SHA256 sum: {{sha256sum}}<br/>
                </p>
              </div>
            </div>
          </div>
        </script>
        <div class="release-type">
          <input type="radio" id="stable" name="typeOfDownloads" checked="checked" value="stable" />
          <label for="stable">Stable</label>
          <input type="radio" id="experimental" name="typeOfDownloads" value="experimental" />
          <label for="experimental">Experimental</label>
        </div>
        <div id="downloads">
          <div class="load-message">
            <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
            <span> Please wait. Fetching information about download ...</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-3 col-md-3">
        <ul class="help-links" id="help-links">
          <li><%= link_to "Release notes", "/releases/index.html", target: '_blank' %></li>
          <li><a href="https://docs.gocd.org/current/installation/system_requirements.html"  target="_blank">System requirements</a></li>
          <li><a href="https://docs.gocd.org/current/installation/install/server/linux.html"  target="_blank">Server Installation
            Instructions</a></li>
          <li><a href="https://docs.gocd.org/current/installation/install/agent/linux.html"  target="_blank">Agent Installation
            Instructions</a></li>
        </ul>
        <p>If you need help downloading, installing or using GoCD please join the <a href="https://groups.google.com/forum/#!forum/go-cd" target="_blank">GoCD Users Google Group</a>.</p>
        <div class='subscribe-to-blog blogpost'>
          <h3 class='subscribe-title'> Subscribe for updates on new GoCD releases</h3>
          <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_6699"></form>
          <script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 6699);</script>
        </div>
      </div>
    </div>
  </div>
</main>

<script id="downloads-help-links" type="text/x-handlebars-template">
  <li><%= link_to "Release notes", "/releases/index.html", target: '_blank' %></li>
  <li><a href="https://docs.gocd.org/current/installation/system_requirements.html"  target="_blank">System requirements</a></li>
  {{#if os}}
  <li>
    <a href="https://docs.gocd.org/current/installation/install/server/{{os}}.html"  target="_blank">Server Installation Instructions</a>
  </li>
  <li><a href="https://docs.gocd.org/current/installation/install/agent/{{os}}.html"  target="_blank">Agent Installation Instructions</a>
  </li>
  {{/if}}
</script>

<script id="download-revisions-template" type="text/x-handlebars-template">
  {{#*inline "show-releases-for-installer-type"}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <div class=" go-releases">
      <div class="latest">
        {{#with latest_release}}
        <div class="go-release {{display_version}} row">
          <div class="col-xs-12 col-sm-4 col-lg-3 ">
            <span class="version">{{display_version}}</span>
          </div>
          {{#with (lookup . ../installer_type)}}
          <div class="col-xs-12  col-sm-8 col-lg-9 ">
            <div class="files">
              {{#if server32bit}}
              {{> show-server-and-agent-32-and-64-bit-installers}}
              <div class="download-message">
                There are two flavors of Server and Agent installers for Windows, one packaged with 64 bit JRE and the
                other
                with 32 bit JRE. We recommend using a Server with 64 bit JRE and an Agent with 32 bit JRE.
              </div>
              {{else}}
              {{> show-server-and-agent-installer}}
              {{/if}}
            </div>
          </div>
          {{/with}}
        </div>
        {{/with}}
        <div class="notes">
        <p class="imp">You must download both server and agent. *</p>
        <p class="small">* Requires Java Runtime Environment (JRE) version 8 (for releases 17.1.0 and higher)</p>
        </div>
      </div>
    </div>
    <div class="other-releases">
      <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
    </div>
    <div class="old-release">
      {{#each all_other_releases}}
      <div class="row go-release {{display_version}}">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-lg-3 ">
          <span class="version">{{display_version}}</span>
        </div>
        {{#with (lookup . ../installer_type)}}
        <div class="col-xs-12 col-sm-8 col-lg-9 ">
          <div class="files">
            {{#if server32bit}}
            {{> show-server-and-agent-32-and-64-bit-installers}}
          
            {{else}}
            {{> show-server-and-agent-installer}}
            {{/if}}
          </div>
        </div>
        {{/with}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/inline}}
  {{#*inline "show-amis"}}
  {{#if latest_cloud_release}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <div>
      <p>The Demo AMI is for users to get started with GoCD. It contains both the GoCD server and agent with an existing
        configuration.</p></div>
    {{#with latest_cloud_release}}
    <div class="row go-release {{go_version}}">
      <div class="col-xs-12 col-sm-4 col-lg-3 ">
        <span class="version">{{go_version}}</span>
      </div>
      <div class="col-xs-12 col-sm-8 col-lg-9 ">
        {{> show-ami-release server_amis=server_amis demo_amis=demo_amis}}
      </div>
      {{/with}}
    </div>
    <div class="other-releases">
      <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
    </div>
    <div class="old-release">
      {{#each all_other_cloud_releases}}
      <div class="row go-release {{go_version}}">
        <div class="col-xs-12 col-sm-4 col-lg-3 ">
          <span class="version">{{go_version}}</span>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 ">
          <div class="files">
            {{> show-ami-release}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <p>We do not provide experimental AMIs.</p>
  </div>
  {{/if}}
  {{/inline}}
  {{#*inline "show-ami-release"}}
  <h3>Demo AMI</h3>
  {{> ami-table amis=demo_amis}}
  <h3>Server AMI</h3>
  <div>Select a region</div>
  <div class="table-c">
    <select id="{{go_version}}" class="select-dropdown">
      {{#each server_amis}}
      <option value="{{region}}">{{region}}</option>
      {{/each}}
    </select>
    {{> ami-table amis=server_amis}}
  </div>
  {{/inline}}
  {{#*inline "ami-table"}}
  <table class="table">
    <tr>
      <th>Region</th>
      <th>AMI ID</th>
    </tr>
    {{#each amis}}
    <tr class="{{region}}">
      <td>{{region}}</td>
      <td><a href="{{href}}">{{ami_id}}</a></td>
    </tr>
    {{/each}}
  </table>
  {{/inline}}
  {{#*inline "show-docker"}}
  {{#if latest_cloud_release}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <div class="latest">
      {{#with latest_cloud_release}}
      <div class="go-release {{go_version}}">
      <div class=" col-xs-12 col-sm-2 ">
        <span class="version">{{go_version}}</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 ">
      {{> show-docker-release server_docker=server_docker agents_docker=agents_docker}}
      </div>
      {{/with}}
    </div>
    <div class="other-releases">
      <button class="btn-release" analytics-label="show-old-releases"><span>Show</span> old releases</button>
    </div>
    <div class="old-release">
      {{#each all_other_cloud_releases}}
      <div class="row go-release {{go_version}}">
        <div class="col-xs-12 col-sm-2 ">
          <span class="version">{{go_version}}</span>
        </div>
        <div class="col-xs-12 col-sm-10 ">
          {{> show-docker-release server_docker=server_docker agents_docker=agents_docker}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div id="{{{tab_id}}}" class="tab_content {{{installer_type}}}">
    <p>We do not provide experimental Docker images.</p>
  </div>
  {{/if}}
  {{/inline}}
  {{#*inline "show-docker-release"}}
  <div class="files">
    <h3>GoCD Server Docker Image</h3>
    <ul class="docker-list server">
      {{#each server_docker}}
      {{> show-docker-command image_name=image_name version=../go_version}}
      {{/each}}
    </ul>
    <h3>GoCD Agent Docker Images</h3>
    <ul class="docker-list agents">
      {{#each agents_docker}}
      {{> show-docker-command image_name=image_name version=../go_version}}
      {{/each}}
    </ul>
  </div>
  {{/inline}}
  {{#*inline "show-docker-command"}}
  <li><a href="https://hub.docker.com/r/gocd/{{image_name}}">{{image_name}}</a>
    <span class="command">docker pull gocd/{{image_name}}:v{{version}}</span>
  </li>
  {{/inline}}
  {{#*inline "show-server-and-agent-32-and-64-bit-installers"}}
  <div class="download-files">
    {{> show-file server type="server" display_name="Server" info="(64 bit JRE)" os=../../installer_type}}
    {{> show-file agent type="agent" display_name="Agent" info="(64 bit JRE)" os=../../installer_type}}
  </div>
  <div class="download-files">
    {{> show-file server32bit type="server32bit" display_name="Server" info="(32 bit JRE)" os=../../installer_type}}
    {{> show-file agent32bit type="agent32bit" display_name="Agent" info="(32 bit JRE)" os=../../installer_type}}
  </div>
  {{/inline}}
  {{#*inline "show-server-and-agent-installer"}}
  <div>
    {{> show-file server type="server" display_name="Server" os=../../installer_type}}
    {{> show-file agent type="agent" display_name="Agent" os=../../installer_type}}
  </div>
  {{/inline}}
  {{#*inline "show-file"}}
  <div class="{{{type}}} file">
    <div class="name">
      <a id="{{{analytics_id}}}" href="{{{url}}}" class="btn btn-primary">
        <i class="fa fa-download" analytics-label="download-{{{type}}}-{{{os}}}"> </i>
        <span>{{{display_name}}}</span>
        {{#if info}}
        <span class="bit">{{{info}}}</span>
        {{/if}}
      </a>
    </div>
    <div class="verify-checksum" data-filename="{{{filename}}}" data-sha256sum="{{{sha256sum}}}" data-sha1sum="{{{sha1sum}}}" data-md5sum="{{{md5sum}}}">
      <button class="verify" analytics-label="verify-checksum">Verify checksum</button>
    </div>
  </div>
  {{/inline}}
  <div class="download-area">
  </div>
  <div class="os-tab-content">
    <div class="tab_container tab-container-marker">
      <h3 class="tab-marker tab-accordion_heading" rel="tab-windows">Windows</h3>
      {{> show-releases-for-installer-type installer_type="win" heading="Windows" tab_id="tab-windows"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-osx">OSX</h3>
      {{> show-releases-for-installer-type installer_type="osx" heading="OSX" tab_id="tab-osx"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-debian">Debian</h3>
      {{> show-releases-for-installer-type installer_type="deb" heading="Debian" tab_id="tab-debian"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-redhat">RPM</h3>
      {{> show-releases-for-installer-type installer_type="rpm" heading="RPM" tab_id="tab-redhat"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-zip">Zip</h3>
      {{> show-releases-for-installer-type installer_type="generic" heading="Zip" tab_id="tab-zip"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-ami">AMIs</h3>
      {{> show-amis installer_type="ami" tab_id="tab-ami"}}
      <h3 class="tab-marker tab-accordion_heading" rel="tab-docker">Docker</h3>
      {{> show-docker installer_type="docker" tab_id="tab-docker"}}
    </div>
    <div id="verify-checksum-message"></div>
  </div>
</script>
<script>
  // <![CDATA[
  jQuery(document).ready(function ($) {
    var currentInstallerType = "stable";
    var currentOSPackageType = determinePackageNameBasedOnOS();

    /* Switch OSes. */
    $(".download-nav li [rel^='tab-']").on('click', function () {
      currentOSPackageType = $(this).attr('rel').replace('tab-', '');
      showHelpLinksFor(currentOSPackageType);
    });

    /* Switch between stable and experimental. */
    $('input[type=radio][name=typeOfDownloads]').on('change', function () {
      currentInstallerType = $(this).val();
      newShowDownloadLinks({typeOfInstallersToShow: currentInstallerType})
        .done(function () {
          chooseTabContainer($);
        })
        .done(function () {
          $('[rel=tab-' + currentOSPackageType + ']').click();
        });
    });

    newShowDownloadLinks({typeOfInstallersToShow: currentInstallerType})
      .done(function () {
        startTabContainer($, currentOSPackageType);
      })
      .done(function () {
        $('[rel=tab-' + currentOSPackageType + ']').click();
      });

    newSetupShowVerifyChecksumMessage();
    newHighlightSelectedOs();
  });
  // ]]>
</script>