---
title: GoCD Download
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Download</span></h1>
    <span class="subcaption">Download GoCD Server and GoCD Agent for Free</span>
  </div>
</div>

<main>
  <div class="container">
    <p>
      <strong>You need to download both
      the <a href="https://docs.go.cd/current/installation/installing_go_server.html">server</a> and
      the <a href="https://docs.go.cd/current/installation/installing_go_agent.html">agent</a> in order
      to use GoCD.</strong>
    </p>

    <p>
      Scripting GoCD installations gets easier now. Both GoCD Server and Agent are now available on
      public <a href="https://docs.go.cd/current/installation/install/server/linux.html#rpm-based-distributions-ie-redhat-centos-fedora">YUM</a>
      and <a href="https://docs.go.cd/current/installation/install/server/linux.html#debian-based-distributions-ie-ubuntu">APT</a> repositories!
    </p>

    <p>
      If you need help downloading, installing or using GoCD please join
      the <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>. ThoughtWorks also
      provides commercial help for GoCD. They can be reached
      at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.
    </p>

    <p class="note">New! <a href="/subscribe">Subscribe to updates</a> on new GoCD releases and more.</p>

    <div id="downloads"></div>

    <script id="download-revisions-template" type="text/x-handlebars-template">
      {{#*inline "show-for-installer-type"}}
        <div class="{{{installer-type}}} files">
          {{> show-file server type="server"}}
          {{> show-file agent type="agent"}}
        </div>
      {{/inline}}

      {{#*inline "show-file"}}
        <div class="{{{type}}} file">
          <div class="name"><a href="{{{url}}}">{{{file}}}</a></div>
          <div class="sha256sum"><small>{{{sha256sum}}}</small></div>
          <div class="md5sum"><small>{{{md5sum}}}</small></div>
        </div>
      {{/inline}}

      <h3 class="page-headings">
        Latest supported release (<span id="latest-version">{{latest_version}}</span>)
        <small>(<a href="/releases/#latest">What's new</a>)</small>
      </h3>

      NOT DONE YET
      <select id="release-selector">
        {{#each releases}}
        <option value="{{go_version}}">{{go_version}}</option>
        {{/each}}
      </select>
      NOT DONE YET

      <div class="releases">
        {{#each releases}}
        <div class="release {{go_version}}">
          <span class="revision">{{go_version}}</span>

          {{#with win}}     {{> show-for-installer-type . installer-type="win"}}     {{/with}}
          {{#with osx}}     {{> show-for-installer-type . installer-type="osx"}}     {{/with}}
          {{#with deb}}     {{> show-for-installer-type . installer-type="deb"}}     {{/with}}
          {{#with rpm}}     {{> show-for-installer-type . installer-type="rpm"}}     {{/with}}
          {{#with solaris}} {{> show-for-installer-type . installer-type="solaris"}} {{/with}}
          {{#with generic}} {{> show-for-installer-type . installer-type="package"}} {{/with}}
        </div>
        {{/each}}
      </div>
    </script>
  </div>
</main>

<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ramda/0.19.1/ramda.min.js" %>
<%= javascript_include_tag :download %>

<script>
 jQuery(document).ready(function($) {
   showDownloadLinks();
 });
</script>

<div class="download-area">
  <div class="container">
    <h2 class="sub-title">Choose your OS & download</h3>
    <p class="info">Latest supported release (<span id="latestVersion"></span>) |
      <a href="/releases/#latest">What's new</a>
    </p>
    <ul class="tabs os">
      
      <li class="active" rel="tab1">
        <span class="os-logo"> <img src="/images/download/windows.png" alt=""></span>
        <span class="desc"> Windows</span>
      </li>
      <li  rel="tab2">
        <span class="os-logo"> <img src="/images/download/osx.png" alt=""></span>
        <span class="desc"> OSX</span>
      </li>
      <li  rel="tab3">
        <span class="os-logo"> <img src="/images/download/debian.png" alt=""></span>
        <span class="desc"> Debian</span>
      </li>
      <li  rel="tab4">
        <span class="os-logo"> <img src="/images/download/linux.png" alt=""></span>
        <span class="desc"> Linux</span>
      </li>
      <li  rel="tab5">
        <span class="os-logo"> <img src="/images/download/solaris.png" alt=""></span>
        <span class="desc"> Solaris</span>
      </li>
      <li  rel="tab6">
        <span class="os-logo"> <img src="/images/download/package.png" alt=""></span>
        <span class="desc"> Package</span>
      </li>
    </ul>
  </div>
</div>
  <div class="os-tab-content">
  <div class="container">
            <div class="tab_container">
            <h3 class="d_active tab-accordion_heading" rel="tab1"> Windows </h3>
            <div id="tab1" class="tab_content"> 
              <p>tab 1</p>
            </div>
            <h3 class="tab-accordion_heading" rel="tab2"> OSX </h3>
            <div id="tab2" class="tab_content"> 
               <p>tab 2</p>
            </div> 
            <h3 class="tab-accordion_heading" rel="tab3"> Debian </h3>
            <div id="tab3" class="tab_content"> 
              <p>tab 3</p>
            </div> 
            <h3 class="tab-accordion_heading" rel="tab4"> Linux </h3>
            <div id="tab4" class="tab_content"> 
              <p>tab 4</p>
            </div> 
            <h3 class="tab-accordion_heading" rel="tab5"> Solaris </h3>
            <div id="tab5" class="tab_content"> 
              <p>tab 5</p>
            </div> 
            <h3 class="tab-accordion_heading" rel="tab6"> Package </h3>
            <div id="tab6" class="tab_content"> 
              <p>tab 6</p>
            </div>                                     
          </div>
          </div>
  </div>
