---
title: GoCD Download
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Download</span></h1>
    <span class="subcaption">Download GoCD Server and GoCD Agent for Free</span>
  </div>
</div>

<main>
  <div class="container">
    <p>
      <strong>You need to download both
      the <a href="https://docs.go.cd/current/installation/installing_go_server.html">server</a> and
      the <a href="https://docs.go.cd/current/installation/installing_go_agent.html">agent</a> in order
      to use GoCD.</strong>
    </p>

    <p>
      Scripting GoCD installations gets easier now. Both GoCD server and agent are now available on
      public <a href="https://docs.go.cd/current/installation/install/server/linux.html#rpm-based-distributions-ie-redhat-centos-fedora">YUM</a>
      and <a href="https://docs.go.cd/current/installation/install/server/linux.html#debian-based-distributions-ie-ubuntu">APT</a> repositories!
    </p>

    <p>
      If you need help downloading, installing or using GoCD please join
      the <a href="https://groups.google.com/forum/#!forum/go-cd">GoCD Users Google Group</a>. ThoughtWorks also
      provides commercial help for GoCD. They can be reached
      at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.
    </p>

    <p class="note">New! <a href="/subscribe">Subscribe to updates</a> on new GoCD releases and more.</p>

    <h3 class="page-headings">
      Latest supported release (v<span id="latestVersion"></span>)
      <small>
        (<a href="/releases/#latest">What's new</a>)
      </small>
    </h3>
  </div>
</main>
