---
title: GO.CD Download
---
<div class="inner-banner plugins">
	<div class="container">
		<h1 class="caption"><span>Download</span></h1>
		<span class="subcaption">Download Go Server and Go Agent for Free</span>
	</div>
	
</div>
<main>
	<div class="container">
		

<p> <strong>You need to download both the <a href="http://www.go.cd/documentation/user/current/installation/installing_go_server.html">server</a> and the <a href="http://www.go.cd/documentation/user/current/installation/installing_go_agent.html">agent</a> in order to use Go.</strong>
</p>

<p>Scripting Go installations gets easier now. Both Go server and agent are now available on public <a href="http://dl.bintray.com/gocd/gocd-rpm/">YUM</a> and <a href="http://dl.bintray.com/gocd/gocd-deb/">APT</a> repositories!</p>

<p>If you need help downloading, installing or using Go please join the <a href="https://groups.google.com/forum/#!forum/go-cd">Go Users Google Group</a>. ThoughtWorks also provides commercial help for Go. They can be reached at <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.</p>

<p class="note">New! <a href="/subscribe.html">Subscribe to updates</a> on new Go CD releases and more.</p>

<p class="warning">
  <i class="fa fa-exclamation-triangle"></i>Upgrading? Go 15.2.0 does not work with Java 6. Please make sure you use at least
  Java 7 (preferably the latest stable version) on the Go Server and Go Agents.
</p>

<h3 class="page-headings">
    Latest supported release (v
    <span id="latestVersion"></span>)
    <small>
        (<a href="/releases/#latest">What's new</a>)
    </small>
</h3>





	</div>
</main>