---
title: GO.CD Events
---
<div class="inner-banner plugins">
	<div class="container">
		<h1 class="caption"><span>Events</span></h1>
		
	</div>
	
</div>
<main>
	<div class="container">



            <h3 class="page-headings">Upcoming Events</h4>

<ul class="event-list">
<li>
<div class="box">
<div class="datebox">
	<span class="month">Jan</span>
	<span class="date">14</span>
</div>
</div>
<div class="details">
<a href="https://info.thoughtworks.com/go-wb-registration-page-14-jan-2016.html" class="title">Live Go Demo</a>
<span class="time">January 14th, 11am PST - Americas/Los Angeles</span>
<p>The learning sessions are designed to help you get an overall view of the capabilities of GoCD. Each session is one hour and includes a product overview, demo, and Q&amp;A session.</p>
</div>
</li>
<li>
<div class="box">
<div class="datebox">
	<span class="month">Jan</span>
	<span class="date">14</span>
</div>
</div>
<div class="details">
<a href="https://info.thoughtworks.com/go-wb-registration-page-20-jan-2016.html" class="title">Live Go Demo</a> 
<span class="time">January 20th, 11am BST - Europe/APAC/London</span>
<p>The learning sessions are designed to help you get an overall view of the capabilities of GoCD. Each session is one hour and includes a product overview, demo, and Q&amp;A session.</p>
</div>
</li>
<li>
<div class="box">
<div class="datebox">
	<span class="month">Jan</span>
	<span class="date">14</span>
</div>
</div>
<div class="details">
<a href="https://info.thoughtworks.com/go-wb-registration-page-28-jan-2016.html" class="title">Live Go Demo</a> 
<span class="time">January 28th, 11am PST - Americas/Los Angeles</span>
<p>
The learning sessions are designed to help you get an overall view of the capabilities of GoCD. Each session is one hour and includes a product overview, demo, and Q&amp;A session.</p>
</div>
</li>
</ul>



	</div>
</main>