---
title: "What's new?"
title_tag_of_header: "Next release of GoCD"
---

<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>What's new?</span></h1>
      <span class="subcaption">Release notes of GoCD</span>
    </div>
  </div>
</div>
<main>

<div class="container">
  <p>
    This page contains the release notes for the next version of GoCD
  </p>

  <div class="v-tabs all-releases">
    <ul class="tabs tab-container-marker">
      <li rel="tab-next tab-marker" class="active"> (latest)</li>
    </ul>

    <div class="tab_container tab-container-marker">
      <h3 class="tab-marker tab-accordion_heading d_active" rel="tab-next"> (next)</h3>
      <div id="tab-next" class="tab_content" style="display: block;">
        <div class="content">
          <%= partial "partials/next_release/release" %>
        </div>
      </div>
    </div>
  </div>

</div>
</main>
<script>
jQuery(document).ready(function($) {
  startTabContainer($);
});
</script>
