---
layout: empty
---
<!doctype html>
<html>
  <head>
    <link rel="canonical" href="<%= url_for(redirect_to) %>" />
    <meta http-equiv="refresh" content="0; url=<%= url_for(redirect_to) %>" />
    <meta name="robots" content="noindex,follow" />
    <meta http-equiv="cache-control" content="no-cache" />
  </head>
  <body>
  </body>
</html>
