---
layout: layout
title: What's new?
---

<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>What's new?</span></h1>
    <span class="subcaption">Release notes of GoCD</span>
  </div>
</div>

<div class="container">
</div>
