---
layout: layout
title: Roadmap
title_tag_of_header: "Roadmap - GoCD Product Vision | GoCD"
meta_description: "GoCD - open source continuous delivery software. GoCDs current roadmap and the work in progress is updated and shared with the community."
meta_keywords: "GoCD, continuous delivery, continuous delivery software, continuous integration, continuous integration software, go, goforcd, open source, roadmap, product vision, Go"
---
<div class="inner-banner">
  <div class="container">
    <h1 class="caption"><span>Roadmap</span></h1>
    <span class="subcaption">GoCD's current roadmap and the work being done towards it</span>
  </div>
</div>
<main>
<div class="container">

<p></p>

GoCD's current roadmap consists of:

<ol>
  <li>In progress: Improve experience of using pipelines as code (<a href="https://github.com/gocd/gocd/issues/5175">#5175</a>).</li>
  <li>In progress: Improve overall user experience.</li>
  <li>Upcoming: Better access tokens for authentication (<a href="https://github.com/gocd/gocd/issues/5321">#5321</a>).</li>
  <li>Planned: Improved secrets management.</li>
</ol>

Apart from this, GoCD as a product continues to evolve along these values:
<ul>
  <li>Be universal and easily extensible.</li>

  <li>Improve support for APIs and the ability for users to configure it without using the UI (this includes declarative
    definitions of pipelines as code).</li>

  <li>Produce more supporting content for improving the way people do CD (mostly on the GoCD blog).</li>
</ul>

Recent work has included:
<ul>
  <li>Easier to run GoCD on Kubernetes, using helm charts. See <a href="https://docs.gocd.org/current/gocd_on_kubernetes/introduction.html">documentation.</a></li>
  <li>Quick way to trial GoCD using docker-compose. <a href="https://www.gocd.org/test-drive-gocd.html">Try it out now.</a></li>
  <li>Commercial: Analytics plugin for GoCD. <a href="https://www.gocd.org/analytics/">Start a free trial now</a>.</li>
</ul>

<p></p>

You might be able to see some of the work in progress already. If you haven't had a chance to provide feedback or ideas, please do so by
opening an issue or writing to <a href="mailto:support@thoughtworks.com">support@thoughtworks.com</a>.

<h2>Other</h2>

<p></p>

Though not part of this roadmap, there are other aspects such as better plugin management, more granularity in permissions, etc. which will
continue to be worked on. This roadmap just talks about the bigger pieces and it will be changed to reflect changing priorities.

<h2>About the roadmap:</h2>

<p></p>

The idea of this roadmap is to mention and explain the plans for GoCD in the near-term. It does not mention timelines
explicitly, because none of this is set in stone. This can be changed based on your ideas and feedback. The goal is that
the work mentioned above will be in progress or will start soon. The roadmap document itself will be updated as often as
needed.

<p></p>

Last updated: Dec 7, 2018

</div>
</main>
