---
title: Subscribe
---
<div class="inner-banner plugins">
  <div class="container">
    <h1 class="caption"><span>Subscribe </span></h1>
    <span class="subcaption">Get GoCD updates</span>
  </div>
</div>

<main>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="subscribe-content">
          <p>
            If you want to receive useful information about GoCD but don’t want to follow the detailed discussions of
            the user group, this is the place for you. Periodically, ThoughtWorks (GoCD’s primary sponsor) will send
            updates about GoCD, including information like:
          </p>
          <ul>
            <li>Release and feature announcements</li>
            <li>Security related announcements</li>
            <li>Learning resources</li>
          </ul>
          <p>
            The volume of emails will be extremely low and will focus only on information we truly believe has real
            value to people using GoCD.
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="subscribe-form">
          <script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_3085"></form>
          <script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3085);</script>
        </div>
      </div>

    </div>
  </div>
</main>
