---
title: Subscribe
title_tag_of_header: "Subscribe to GoCD Updates and Announcements | GoCD"
meta_description: "Subscribe to GoCD product updates, announcements and learning resources."
meta_keywords: "GoCD, feature announcements, release announcements, continuous delivery, learning resources, security announcements, enterprise support, product updates"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Subscribe </span></h1>
      <span class="subcaption">Get GoCD updates</span>
    </div>
  </div>
</div>
<main>
<div class="container subscribe-container">
  <div class="row">
    <div class="col-md-6">
      <div class="subscribe-content">
        <p>
         If you want to receive useful information about the CD space and GoCD, this is the place for you. Periodically, we will send updates about GoCD, including information like:
        </p>
        <ul>
          <li>GoCD Release Bulletin - Monthly email updates on the latest GoCD releases.</li>
          <li>The Pipeline - A bi-monthly newsletter with continuous delivery news and events.</li>
          <li>GoCD Enterprise Release Bulletin - Periodic email updates on GoCD enterprise releases and commercial offering information.</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <div id="subscribe-info">
        <form id="mktoForm_3085"></form>
        <div class="form-loading-error"></div>
      </div>
      <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
      <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm('//app-e.marketo.com', '199-QDE-291').init(3085)"></script>
    </div>
  </div>
</div>
</main>
