---
title: Subscribe
title_tag_of_header: "Subscribe to GoCD Updates and Announcements | GoCD"
meta_description: "Subscribe to GoCD product updates, announcements and learning resources."
meta_keywords: "GoCD, feature announcements, release announcements, continuous delivery, learning resources, security announcements, enterprise support, product updates"
---
<div class="inner-banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="caption"><span>Subscribe </span></h1>
      <span class="subcaption">Get GoCD updates</span>
    </div>
  </div>
</div>
<main>
<div class="container subscribe-container">
  <div class="row">
    <div class="col-md-6">
      <div class="subscribe-content">
        <p>
          If you want to receive useful information about GoCD but don't want to follow the detailed discussions of
          the user group, this is the place for you. Periodically, ThoughtWorks (GoCD's primary sponsor) will send
          updates about GoCD, including information like:
        </p>
        <ul>
          <li>Release and feature announcements</li>
          <li>Security related announcements</li>
          <li>Learning resources</li>
          <li>Bi-monthly Newsletter - The Pipeline</li>
        </ul>
        <p>
          The volume of emails will be extremely low and will focus only on information we truly believe has real
          value to people using GoCD.
        </p>
        <p>
        </p>
      </div>
    </div>

    <div class="col-md-6">
      <div id="subscribe-info">
        <form id="mktoForm_3085"></form>
        <div id="backup-subscription-message">
          Send us a mail to <a href="mailto:support@thoughtworks.com?subject=Sign%20me%20up%20for%20the%20GoCD%20mailing%20list&amp;body=Hello,%0a%0aPlease%20sign%20me%20up.%20My%20details%20are:%0a%0aFirst%20Name:%0aLast%20Name:%0aCompany%20Name:%0a%0aI%20would%20like%20to%20hear%20about:%0a%20%20-%20Product%20updates%0a%20%20-%20Product%20learning%20sessions%0a%20%20-%20Enterprise%20features%20and%20support%0a%20%20-%20The%20Pipeline%20newsletter%0a%0aThank%20you.">support@thoughtworks.com</a> to subscribe to this.
        </div>
      </div>
      <script type="text/javascript">
        function initMarketoForm() {
          MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3085);
          jQuery("#backup-subscription-message").remove();
        }
      </script>
      <script async="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js" onload="initMarketoForm()"></script>
    </div>
  </div>
</div>
</main>
