---
title: Subscribe
---
<div class="inner-banner plugins">
	<div class="container">
		<h1 class="caption"><span>Subscribe </span></h1>
		<span class="subcaption">Get GoCD updates</span>
	</div>
	
</div>
<main>
<div class="container">
	
	<div class="row">
		
		<div class="col-md-6">
		<div class="subscribe-content">
			<p>If you'd like to receive information about Go CD but don't want the volume of the mailing lists this is the place
				for you. From time to time ThoughtWorks (Go CD's primary sponsor) will send out updates. This will include information
				such as...
			</p>
			<ul>
				<li> New supported release announcements </li>
				<li> Any security related announcements </li>
				<li> Learning resources</li>
			</ul>
			<p>The volume will be extremely low, focusing on information we believe will be a real value to people using Go CD.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="subscribe-form">
				<script src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
			<form id="mktoForm_3085"></form>
			<script>MktoForms2.loadForm("//app-e.marketo.com", "199-QDE-291", 3085);</script>
		</div>
	</div>
</div>
</div>
</main>