<div class="enterprise-page">
  <%= partial 'partials/secondarynav' %>

  <div class="enterprise container">

    <div class="header-padding">
      <h1 class="text-center">ADD-ONS</h1>
      <p class="text-center">
        Our enterprise add-ons extend the functionality of GoCD to help address the needs of your organization. Increase your productivity, decrease your downtime, and save resources with GoCD's commercial extensions.
      </p>
      <hr class="mobile-border"/>
    </div>

    <div class="grid-container addon-feature-section">
      <h2 class="text-center display-mobile mobile-header">Actionable CD Metrics At Your Fingertips</h2>
      <div class="content-card-six-column">
        <img src="/assets/images/enterprise-Analytics-forAddons.png" class="img-container" alt="Analytics" />
      </div>
      <div class="content-card-six-column">
        <h2 class="display-desktop">Actionable CD Metrics At Your Fingertips</h2>
        <p>
          The GoCD Enterprise Analytics Plugin provides actionable insights about your release workflow, pipeline
          status and infrastructure utilization. You can easily identify and remove bottlenecks and optimize resources
          for best throughput by getting answers to questions like:
        </p>
        <ul class="enterprise-addons-keypoints">
          <li class="left-align-text"> How long do pipelines take? </li>
          <li class="left-align-text"> How quickly do we recover from failures? </li>
          <li class="left-align-text"> Which jobs are slowest? </li>
          <li class="left-align-text"> Do we need to add more resources? </li>
        </ul>
        <hr class="addons-highlight-border-top"/>
        <span class="addons-highlight">For additional information on our analytics plugin, <% link_to '/analytics/index.html' do %>visit here<% end %>.</span>
        <hr class="addons-highlight-border-bottom"/>
      </div>
    </div>

    <hr class="mobile-border"/>

    <div class="grid-container">
      <div class="content-card-six-column">
        <h2 class="text-center mobile-section-title"> PostgreSQL</h2>
        <p class="justified-content">
          GoCD uses an embedded database by default. That's great for getting started. But, if you need to scale
          beyond a few teams and several pipelines, our PostgreSQL add-on gives you the performance upgrade necessary
          for hundreds of pipelines and agents. We recommend PostgreSQL for critical deployments.
        </p>
      </div>

      <div class="content-card-six-column">
        <h2 class="text-center mobile-section-title">LDAP/AD Authorization Plugin</h2>
        <p class="justified-content">
          The LDAP/AD Authorization Plugin grants your teams access to GoCD pipelines and features by leveraging your
          organizations' predefined roles within LDAP/AD. Manage users and roles centrally (LDAP), while using GoCD
          to define and maintain application specific role based access.
        </p>
      </div>

      <div class="content-card-six-column">
        <h2 class="text-center mobile-section-title">Elastic Build Agents</h2>
        <p class="justified-content">
          GoCD supports elastic builds across a number of cloud infrastructure providers such as Docker Swarm and Kubernetes.
          Our Enterprise offering adds support for elastic builds on Amazon ECS and Microsoft Azure.</p>
        <p class="justified-content">  
          With these plugins, GoCD will take care of spinning up, shutting down EC2 instances or Azure virtual machines based on the need of your deployment pipeline, thus removing bottlenecks and reducing the cost of your agent infrastructure.
        </p>
      </div>

      <div class="content-card-six-column">
        <h2 class="text-center mobile-section-title"> Business Continuity</h2>
        <p class="justified-content">
            Hard drives fail. This add-on helps ensure you can deliver even if your machine is down. With business
            continuity, you’ll be able to set up secondary GoCD and PostgreSQL servers to protect against downtime.
            Automatic redirection of build agents and the ability to store artifacts on network drives is supported.
        </p>
      </div>
    </div>

    <%= link_to 'Schedule a Demo', 'https://calendly.com/gocd/gocd-demo', class: 'button-brand btn-addons' %>
    
    <a href="https://extensions-docs.gocd.org/" class="text-center default-link-text">View Enterprise Add-On Docs</a>

    <%= link_to 'View Community Plugins', '/plugins/index.html', :class => 'text-center default-link-text' %>
  </div>
  <div class="page-bottom-margin"></div>
</div>
