<div class="enterprise-page">
  <%= partial 'partials/secondarynav' %>

  <div>
    <div class="container">
      <div class="grid-container contact-top-cards">
        <div class="content-card-six-column">
          <div class="header-padding">
            <h1>CONTACT US</h1>
            <h2 class="display-desktop">Interested in our enterprise offering?</h2>
            <p class="display-mobile">Interested in our enterprise offering?</p>
            <p>Contact us and one of our team will be in touch so we can learn more about how to help you.</p>
            <p>You can also email us directly at <span class="strong">support@thoughtworks.com</span></p>
          </div>
        </div>

        <div class="content-card-six-column enterprise-marketo-style contact-marketo">
          <form id="mktoForm_7582"></form>
          <div class="form-loading-error"></div>
          <script defer="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
          <script defer="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm('//app-e.marketo.com', '199-QDE-291').init(7582)"></script>
        </div>
      </div>
    </div>

    <div class="contact-section">

      <h1>We’re in your neighborhood!</h1>

      <div class="contact-wrap container">

        <div class="contact-card">
          <div class="contact-card-header">
            <h3>Americas</h3>
            <h2>Craig</h2>
          </div>

          <img class="sales-portrait" src= "/assets/images/enterprise-sales-craig.jpg"  alt="placeholder"/>
          <h3 class="text-center bold-text">+1 415 463 1900</h3>
        </div>

        <div class="contact-card">

          <div class="contact-card-header">
            <h3>APAC &amp; EMEA</h3>
            <h2>Alagu</h2>
          </div>

          <img class="sales-portrait" src="/assets/images/enterprise-sales-al.jpg" alt="placeholder"/>
          <h3>+44 (0) 20 7497 4500</h3>
        </div>

      </div>
    </div>

  </div>
</div>
