<div class="enterprise-page">
  <%= partial 'partials/secondarynav' %>
  <div class="enterprise container">
      <div class=" header-padding">
        <h1 class="text-center">PRICING</h1>
        <p class="text-center">
          Our pricing is tiered according to the scale at which your organization is using GoCD.
        </p>
        <table class="custom-table">
          <tr>
            <th>Number of Pipelines</th>
            <th>Includes</th>
            <th>PRICING, PER YEAR, USD</th>
          </tr>

          <tr>
            <td>1-50</td>
            <td>Support Only</td>
            <td>$5,000</td>
          </tr>

          <tr>
            <td>51-250</td>
            <td>Support + Add-ons &amp; Plugins</td>
            <td>$15,000</td>
          </tr>

          <tr>
            <td>251-500</td>
            <td>Support + Add-ons &amp; Plugins</td>
            <td>$25,000</td>
          </tr>

          <tr>
            <td>500+</td>
            <td>Support + Add-ons &amp; Plugins</td>
            <td><%= link_to "Let's Talk", '/enterprise/contact/index.html' %></td>
            </tr>
        </table>
      </div>

      <% link_to '/enterprise/contact/index.html' do %>
          <button class="button-brand">Contact Us to Get Started</button>
      <% end %>
      <%= link_to 'Terms and Conditions', '/enterprise/thoughtworks-support-services-general-terms/index.html', :class => 'text-center default-link-text' %>

      <div class="page-bottom-margin"></div>
  </div>
</div>
