<div class="enterprise-page">
  <%= partial 'partials/secondarynav' %>
  <div class="container">

      <div class="grid-container">
        <div class="content-card-six-column">
          <div class="header-padding">
              <h1>SIGN UP FOR OUR SUPPORT TRIAL</h1>
              <p>GoCD's expert support team offers you the reassurance that your issues are prioritized. Get unlimited support cases per month, quick 1-hour, 24x5 turnaround for urgent severity issues, and access to our development team forums.</p>
              <p>We offer a free 30-day trial for our support services. Contact us to get started.</p>
              <p>You can also email us directly at support@thoughtworks.com</p>
          </div>
        </div>
        <div class="content-card-six-column enterprise-marketo-style support-marketo">
          <script async="true" src="//app-e.marketo.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_2357"></form>
          <div class="form-loading-error">
            It looks like our signup form was blocked by an adblocker in your browser! Please email us directly or pause your adblocker to use the form.
          </div>
        </div>
      </div>

    <hr class="mobile-border" />

      <div class="grid-container support-section">

        <div class="content-card-six-column">
          <div class="grid-container">
            <div class="content-card-six-column">
              <img class="img-container img-rounded__bordered enterprise-stock-head-image author-image" src="/assets/images/author-placeholder.png" alt="Vijay Mohan"/>
            </div>
            <div class="content-card-six-column">
              <p class="support-quote">
              "Your valuable support enhanced our experience with the GoCD application. Since launching GoCD, our new site is much faster and easier to navigate around. I cannot say enough how much of a pleasure it has been working with each of your team members while troubleshooting production issues in our environment, without causing any discontinuities or issues to end users. You have reason to be proud of this product."</p>
              <p class="support-author">
              Vijay Mohan, Sr. Devops Engineer, BarclayCards - USA</p>
            </div>
          </div>
        </div>

        <div class="content-card-six-column">
          <div class="grid-container">
            <div class="content-card-six-column">
              <img class="img-container img-rounded__bordered enterprise-stock-head-image author-image" src="/assets/images/author-wei.jpg" alt="Tony Z. Wei"/>
            </div>
            <div class="content-card-six-column">
              <p class="support-quote">
              "Our release engineering team works closely with the Thoughtworks support team on GoCD implementation and feature enhancement. In our experiences, Thoughtwork support team provides rapid assistance, detailed explanations, user cases, and solutions. For our concerns and interests, they report requests and guide us to their code pull requests for further discussion with their development teams. We really appreciate all the attention, availability, effort and quality from the support team."</p>
              <p class="support-author">
              Tony Z. Wei, Lead Build and Release Engineer, Medidata Solutions Worldwide </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="page-bottom-margin">
  </div>
</div>
<script async="true" src="/assets/javascripts/marketo_popover.js" onload="new MarketoForm().init(2357)"></script>
