---
layout: layout
title: "Analytics Trial"
title_tag_of_header: "Analytics Trial"
page_caption:
meta_description: ""
meta_keywords: ""
show_features: true
---
<section class="analytics-trial_container">
  <div class="container">
    <p class="container_content">
      This picture above is a quick refresher of this team’s CD pipelines represented in GoCD’s Value Stream Map (VSM). It includes some unit tests, integration tests and smoke tests in parallel, and then the regression tests. At the end, there are User Acceptance Tests (UAT) and a production deployment.</p>

      <p class="container_content">
        In the previous post, we have found out the deployment frequency is as low as 8%. Here, GoCD enterprise analytics plugin can help find out what parts of the CD pipeline are causing this low deployment frequency.
    </p>
    
    <div class="cornered-banner">
      <p class="cornered-banner_conent">
        Free GoCD Analytics trial is available
      </p>

      <a href="#" class="cornered-banner_cta">
          SIGN UP
      </a>

    </div>

    <p class="container_content">
      This picture above is a quick refresher of this team’s CD pipelines represented in GoCD’s Value Stream Map (VSM). It includes some unit tests, integration tests and smoke tests in parallel, and then the regression tests. At the end, there are User Acceptance Tests (UAT) and a production deployment.

    </p>

    <p class="container_content">
      In the previous post, we have found out the deployment frequency is as low as 8%. Here, GoCD enterprise analytics plugin can help find out what parts of the CD pipeline are causing this low deployment frequency.    
    </p>

  </div>
</section>