---
layout: layout
title: "Analytics Feedback"
title_tag_of_header: "Analytics Feedback"
show_features: true
---

<header class="banner-container analytics-fb-header-container">
  <div class="container">
    <h1 class="banner-container_heading analytics-fb-header"> Shape the future of GoCD with us! </h1>
    <p class="text-center analytics-fb-header_desc">Receive free books and surprise gifts in exchange for your feedback.
    </p>
  </div>
</header>

<div class="registration-closed-container">
  <div class="registration-closed-content">
    <h2>Registration is now closed.</h2>
    <p>Thank you for your interest. Our registration for GoCD Analytics Plugin feedback is now closed. If you are interested in GoCD Analytics, you can sign up our <%= link_to 'free 30 day trial', "/analytics.html" %>.</p>
    <p>Want other ways to win GoCD gifts? We are assembling a research group to help us better understand user behavior in the continuous delivery space. <%= link_to 'You can take our short survey', "https://docs.google.com/forms/d/e/1FAIpQLSdsxfQbVbuVVRizNaDmD1_6nyyG5WNn4pKtfHElzO9kblnz5Q/viewform" %> for the chance to join our CD research group for the future studies.</p>
  </div>
</div>



