# This workflow will build a middleman project with bundle

name: Testing For PRs

on: [ pull_request ]

concurrency:
  group: ${{ github.workflow }}

permissions:
  contents: read

jobs:
  complete_build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true
      - name: Run the build
        env:
          RUN_EXTERNAL_CHECKS: true
        run: bundle exec rake build --verbose
      - name: Build failed
        if: ${{ failure() }}
        env:
          RUN_EXTERNAL_CHECKS: true
        run: bundle exec middleman build --verbose
