# This workflow will build a middleman project with bundle

name: Publish

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [ workflow_dispatch ]

permissions:
  id-token: write
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    env:
      GH_PAGES_USER: "github-actions"
      GH_PAGES_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true
      - name: Set up user in git config
        run: |
          git config --global user.name "${GH_PAGES_USER}"
          git config --global user.email "${GH_PAGES_USER}@github.com"
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: "${{ secrets.AWS_ROLE_TO_ASSUME }}"
          aws-region: "${{ secrets.AWS_REGION }}"
      - name: Set up upstream and publish to production gh pages + S3
        env:
          REMOTE_NAME: "real"
          ALLOW_DIRTY: true
          BASE_URL: 'https://www.gocd.org'
          DEPLOY_ENVIRONMENT: 'live'
          AWS_BUCKET: "${{ secrets.AWS_BUCKET }}"
          RUN_EXTERNAL_CHECKS: false
        run: |
          git remote add real https://${GH_PAGES_USER}:${GH_PAGES_TOKEN}@github.com/gocd/www.go.cd.git
          bundle exec rake publish --trace