# This workflow will build a middleman project with bundle

name: Publish

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [ workflow_dispatch ]

permissions:
  id-token: write
  contents: write

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    env:
      GH_PAGES_USER: "github-actions"
      GH_PAGES_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@4c24fa5ec04b2e79eb40571b1cee2a0d2b705771 # v1.278.0
        with:
          bundler-cache: true
      - name: Set up user in git config
        run: |
          git config --global user.name "${GH_PAGES_USER}"
          git config --global user.email "${GH_PAGES_USER}@github.com"
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "${{ secrets.AWS_ROLE_TO_ASSUME }}"
          aws-region: "${{ secrets.AWS_REGION }}"
      - name: Set up upstream and publish to production gh pages + S3
        env:
          REMOTE_NAME: "real"
          ALLOW_DIRTY: true
          BASE_URL: 'https://www.gocd.org'
          DEPLOY_ENVIRONMENT: 'live'
          AWS_BUCKET: "${{ secrets.AWS_BUCKET }}"
          RUN_EXTERNAL_CHECKS: false
        run: |
          git remote add real https://${GH_PAGES_USER}:${GH_PAGES_TOKEN}@github.com/gocd/www.go.cd.git
          bundle exec rake publish --trace