---
layout: campaignlanding
title: "The differences between GoCD and Jenkins"
title_tag_of_header: "The differences between GoCD and Jenkins | GoCD"
page_caption:
meta_description: "GoCD is a best of breed continuous delivery tool that is a solid alternative to Jenkins, with no required plugins to do CD."
meta_keywords: "jenkins alternative, gocd vs jenkins, jenkins plugins, jenkins go, open source continuous delivery"
show_features: true
---
<!-- banner image goes here -->
<% content_for :banner do %>
    <figure>
      <%= image_tag 'campaign/jenkins/jenkins-hero.jpg', alt: 'GoCD and Jenkins', title: "GoCD and Jenkins" %>
    </figure>
<% end %>

<div class="jenkins">



        </div>
    <!-- description and download -->
    <div class="container">
      <div class='row campaign-body'>
        <div class='col-sm-12'>
          <!-- call to action -->
          <%= link_to 'Get Started with GoCD', "https://www.gocd.org/getting-started/part-1/", {:class => "btn btn-primary campaign-btn-download", "analytics-label" => "campaign-download-cta"} %>
        </div>
      </div>
    </div>
<% end %>
